{% extends 'FrontendBundle::layout.html.twig' %}
{% set streetAddress = medical_center_complete_address_to_string(institutionMedicalCenter, ['address']) %}
{% set mainAddress = medical_center_complete_address_to_string(institutionMedicalCenter, ['city', 'state', 'country', 'zipCode']) %}

{% block content %}

    {% include 'FrontendBundle:Institution/Widgets:commonHeading.html.twig' with {viewData: {
            headerText: institution.name,
            featuredMediaSource: institutionMedicalCenter.featuredMedia is defined and institution.featuredMedia.src 
                ? institutionMedicalCenter.featuredMedia.src 
                : imageplaceholder.institutionFeaturedImage,
            logoSource: institutionMedicalCenter.logo and institutionMedicalCenter.logo.src
                ? institutionMedicalCenter.logo.src
                : null,
            contactNumber: contact_details_to_json(institutionMedicalCenter.contactDetails, true),
            streetAddress: streetAddress,
            mainAddress: mainAddress,
            institutionInquiryLink: '#form'
        }}
    %}
    
    <div class="profile-wrapper span8">
    
        {{ institutionMedicalCenter.description | raw }}
        
        {% include 'FrontendBundle:InstitutionMedicalCenter/Widgets:specializations.html.twig' 
            with { institutionSpecializations: institutionMedicalCenter.institutionSpecializations } 
        %}
        
        {% include 'FrontendBundle:Widgets:profileAwardsAndServicesSection.html.twig' %}
        
        {% if institutionMedicalCenter.doctors|length %}
            {% embed 'FrontendBundle:Embed:profileSection.html.twig' with {title: 'Doctors', class: 'doctors' } %}
                {% block sectionContent %}
                    {% include 'FrontendBundle:Widgets:profileDoctorsList.html.twig' with { doctors: institutionMedicalCenter.doctors } %}
                {% endblock %}                
            {% endembed %}
        {% endif %}
        
        {% include 'FrontendBundle:Institution/Widgets:commonContactAndAddress.html.twig' 
            with { streetAddress: streetAddress, mainAddress: mainAddress } 
        %}
        
    </div>

{% endblock %}

{% block inlineJavascriptCode %}
<script src="{{ asset('bundles/frontend/js/institution.js') }}"></script>
<script type="text/javascript">
<!--
(function($){
    $(function(){

    });
})(jQuery);
//-->
</script>
{% endblock %}