{% extends 'FrontendBundle::layout.html.twig' %}
{% set streetAddress = medical_center_complete_address_to_string(institutionMedicalCenter, ['address']) %}
{% set mainAddress = medical_center_complete_address_to_string(institutionMedicalCenter, ['city', 'state', 'country', 'zipCode']) %}

{% block content %}
    {% include 'FrontendBundle:Institution/Widgets:commonHeading.html.twig' with {viewData: {
            headerHospitalText: institution.name,
            headerText: institutionMedicalCenter.name,
            featuredMediaSource: institutionMedicalCenter.featuredMedia is defined and institution.featuredMedia.src 
                ? institutionMedicalCenter.featuredMedia.src 
                : imageplaceholder.institutionFeaturedImage,
            logoSource: institutionMedicalCenter.logo and institutionMedicalCenter.logo.src
                ? institutionMedicalCenter.logo.src
                : null,
            contactNumber: institutionMedicalCenter.mainContactNumber,
            streetAddress: streetAddress,
            mainAddress: mainAddress,
            institutionInquiryLink: '#form',
            social: socialMediaArray,
            contactEmail:institutionMedicalCenter.contactEmail,
            website:institutionMedicalCenter.websites,
        }}
    %}
    
    <div class="profile-wrapper span8">
    
        {{ institutionMedicalCenter.description | raw }}
        
        {% include 'FrontendBundle:InstitutionMedicalCenter/Widgets:specializations.html.twig' 
            with { institutionSpecializations: institutionMedicalCenter.institutionSpecializations } 
        %}
        
        {% include 'FrontendBundle:Widgets:profileAwardsAndServicesSection.html.twig' %}
        
        {% if institutionMedicalCenter.doctors|length %}
            {% embed 'FrontendBundle:Embed:profileSection.html.twig' with {title: 'Doctors', class: 'doctors' } %}
                {% block sectionContent %}
                    {% include 'FrontendBundle:Widgets:profileDoctorsList.html.twig' with { doctors: institutionMedicalCenter.doctors } %}
                {% endblock %}                
            {% endembed %}
        {% endif %}
        
        {% include 'FrontendBundle:Institution/Widgets:commonContactAndAddress.html.twig' 
            with { streetAddress: streetAddress, mainAddress: mainAddress,social: socialMediaArray,
            contactEmail:institutionMedicalCenter.contactEmail,contactNumber: institutionMedicalCenter.mainContactNumber,website:institutionMedicalCenter.websites, } 
        %}
        
    </div>
   <div class="span12">
            <p>Copyright 2013, <b>{{ institutionMedicalCenter.name }}</b> 
            </p>
        </div>
   {% include 'FrontendBundle:InstitutionMedicalCenter/Widgets:inquire.imc.html.twig' 
	     with { modalId: 'modal_imc_inquiry_form', modalTitle: 'Email ' ~ institutionMedicalCenter.name } 
	%}

{% endblock %}

{% block inlineJavascriptCode %}
<script src="{{ asset('bundles/frontend/js/institution.js') }}"></script>
<script type="text/javascript">
<!--
(function($){
    $(function(){
         $('[rel=popover]').popover({
             placement: 'top',
             html: true,
             trigger: 'click',
             content: function() {
                 return $('#_call-content-wrapper').html();
             }
         }).click(function(e) {
             e.preventDefault();
         });
    });
})(jQuery);
//-->
</script>
{% endblock %}