{% extends 'FrontendBundle::layout.html.twig' %}

{% set email = institutionMedicalCenter.contactEmail ? institutionMedicalCenter.contactEmail : institution.contactEmail %}
{% set number = institutionMedicalCenter.contactNumber ? institutionMedicalCenter.contactNumber : institution.contactNumber  %}
{% set number = json_decode(number) | join %}
{% set websites = institutionMedicalCenter.websites ? institutionMedicalCenter.websites : institution.websites %}
{% set websites = json_decode(websites) %}
{% set mainWebsites = (websites.main is defined) and websites.main ? websites.main : false %}

{% block callout %}
    {% embed 'FrontendBundle:Embed:callout.base.html.twig' %}
        {% block calloutContent %}
        <div class="span9">
            <div class="media">
                <div class="pull-left">
                    <img class="media-object" alt="" src="{{ imageplaceholder.institutionLogo }}">
                </div>
                <div class="media-body">
                    <h1>{{ institution.name }}</h1>
                </div>
            </div>
        </div>
        <div class="span3">
            <a class="all-clinic btn green" href="{{ get_institution_frontend_url(institution) }}">Hospital Page</a>
        </div>			
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}

    {% embed 'FrontendBundle:Embed:mainContentWrapper.html.twig' %}
        {% block mainContent %}

            <div id="details" class="row">
                <div id="main_content" class="span8">

                    <div class="clinicdetails content">
                        {% include 'FrontendBundle:InstitutionMedicalCenter/Widgets:heading.html.twig' %}
                        <div class="description">{{ institutionMedicalCenter.description | raw }}</div>
                    </div>

                    {% include 'FrontendBundle:InstitutionMedicalCenter/Widgets:specializations.html.twig' 
                        with { specializations: institutionMedicalCenter.institutionSpecializations } %}
    
                    {% include 'FrontendBundle:Widgets:profileAwardsAndServicesSection.html.twig' %}
    
                    {% include 'FrontendBundle:Widgets:profileDoctorsSection.html.twig' 
                        with { doctors: institutionMedicalCenter.doctors } %}
    
                </div> <!--End of main_content-->
    
                <aside id="aside_content" class="span4">
    
                    {% include 'FrontendBundle:Widgets:profileLocationAside.html.twig' with { media: []} %}
    
                    {% include 'FrontendBundle:InstitutionMedicalCenter/Widgets:scheduleAside.html.twig' 
                        with { businessHours: institutionMedicalCenter.businessHours } %}
    
                    {% include 'FrontendBundle:Widgets:profileMediaAside.html.twig' 
                        with { media: institutionMedicalCenter.media, institution: institutionMedicalCenter.institution } %}
    
                    {% include 'FrontendBundle:Widgets:profileSocialAside.html.twig' with { urls: websites } %}
    
                </aside> <!--End of aside_content-->
            </div>
        {% endblock %}
    {% endembed %}
     
{% endblock %}
