{% extends '::base.institution.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <!-- header -->
    {% include 'InstitutionBundle:Widgets:header.layout.html.twig' %}
    
    {% block content %}{% endblock %}
    
    {% include 'InstitutionBundle:Widgets:footer.layout.html.twig' %}
    
    <div id="common_modal_container" style="display:none;"></div>
    
    {% block inlineJavascriptCode %}{% endblock %}

{% endblock %}
