{% extends '::base.institution.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <!-- header -->
    {% include 'InstitutionBundle:Widgets:header.layout.html.twig' %}
    
    {% set disableMainNavigation = disableMainNavigation is defined and disableMainNavigation %}
    {% if not disableMainNavigation %}
        {% include 'InstitutionBundle:Widgets:navigation.main.html.twig' %}
    {% endif %}
    
    {% block content %}{% endblock %}
    
    <div class="footer_wrap">
      {% include 'InstitutionBundle:Default:footer.html.twig' %}
    </div>

    {% block inlineJavascriptCode %}{% endblock %}

{% endblock %}
