{% extends '::base.institution.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div id="confirm-message" class="modal hide fade message" tabindex="-1" role="dialog" aria-labelledby="myModalLabale" aria-hidden="true">
    <div class="modal-body>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            x
        </button>
        
        <h2 id="myModalLabel modal-label">
            Congratulations!
        </h2>
        <h1>
            <small>
                You have successfully:
            </small>
        </h1>
        <h3>
            <i class="icon-ok 2x">
            </i>
            Created your Account
            </li>
        </h3>
        <h3>
            <i class="icon-ok 2x">
            </i>
            Setup profile for your Hospital
            </li>
        </h3>
        <h3>
            <i class="icon-ok 2x">
            </i>
            Added your first Clinic
            </li>
        </h3>
        <button class="btn btn-primary btn-large" data-dismiss="modal" aria-hidden="true">
            Continue to Dashboard
        </button>
    </div>
</div>
<div id="main-wrap">
    <!-- header -->
    {% include 'InstitutionBundle:Widgets:header.layout.html.twig' %}

    <!-- callout -->
    {% set callout = app.session.flashbag.get('callout_message') %}
    {% if callout[0] is defined %}
        {% set callout = callout[0] %}
        {% include 'InstitutionBundle:Widgets:callout.html.twig' %}
    {% endif %}

    <!-- content -->
    {% block content %}{% endblock %}

    <!-- footer -->
    {% include 'InstitutionBundle:Widgets:footer.layout.html.twig' %}
</div>
    <div id="common_modal_container" style="display:none;"></div>
    
    {% block inlineJavascriptCode %}{% endblock %}

{% endblock %}
