{% extends '::base.institution.html.twig' %}
{% set include_zopim = true %}
{% set include_zendesk = true %}

{% block title %}{% endblock %}

{% block body %}

<div id="main-wrap">
    <!-- header -->
    {# include 'InstitutionBundle:Widgets:confirmation.html.twig' #}
    {% include 'InstitutionBundle:Widgets:header.layout.html.twig' %}
    <!-- callout -->
    {% set callout = app.session.flashbag.get('callout_message') %}
    {% if callout[0] is defined %}
        {% set callout = callout[0] %}
        {% include 'InstitutionBundle:Widgets:callout.html.twig' %}
    {% endif %}

    <!-- content -->
       {% include 'InstitutionBundle:Widgets:navigation.main.html.twig'%}
    {% block content %}{% endblock %}

    <!-- footer -->
    {% include 'InstitutionBundle:Widgets:footer.layout.html.twig' %}
</div>
    <div id="common_modal_container" style="display:none;"></div>
    
    {% block inlineJavascriptCode %}{% endblock %}

{% endblock %}
