{% extends '::base.institution.html.twig' %}

{% block title %}{{ parent() }} &raquo; Institution Panel{% endblock %}

{% block body %}
    <body>
        <div id="header">
            <div class="top_line"></div>
              <div class="container">
                <div class="row">
                  <div class="span4">
                    <div class="logo"> <a href="{{ path('institution_homepage')}}"><img src="{{ asset('images/institution/logo.png') }}" alt="healthcareabroad"></a> </div>
                  </div>
                      {% block top_menu %}
                        {% include 'InstitutionBundle:Default:topHeader.html.twig' %}
                    {% endblock %}
                </div>
            </div>
            <!--End of container -->
        </div>
        
        {% include 'InstitutionBundle:Default:headerNavigation.html.twig' %}
    
        <div id="content_wrap">
            <div class="container content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        
        <div class="footer_wrap">
          {% include 'InstitutionBundle:Default:footer.html.twig' %}
          
        </div>
        
        {% block javascripts %}
            <script src="{{ asset('bundles/helper/js/Location.js') }}"></script>
        {% endblock %}
        
        {% block inlineJavascriptCode %}{% endblock %}
    </body>

{% endblock %}
