{% extends '::base.institution.html.twig' %}
{% set include_zopim = enable_zopim %}
{% set include_zendesk = enable_zendesk %}

{% block title %}{% endblock %}

{% block body %}
    {% include 'InstitutionBundle:Widgets:confirmation.html.twig' with {class: 'fixed'} %}
    <div id="main-wrap">

        <!-- header -->
        {% include 'InstitutionBundle:Widgets:header.layout.html.twig' %}

        <!-- callout -->
        {% set callout = app.session.flashbag.get('callout_message') %}
        {% if callout[0] is defined %}
            {% set callout = callout[0] %}
            {% include 'InstitutionBundle:Widgets:callout.html.twig' %}
        {% endif %}

        <!-- content -->
           {% include 'InstitutionBundle:Widgets:navigation.main.html.twig'%}
        {% block content %}{% endblock %}

        <!-- footer -->
        {% include 'InstitutionBundle:Widgets:footer.layout.html.twig' %}
    </div>

    {% block inlineJavascriptCode %}{% endblock %}

{% endblock %}