{% extends '::base.institution.html.twig' %}

{% block body %}

    {# TODO: move this somewhere else #}
    {% if confirmationMessage %}
        {% include 'InstitutionBundle:Institution/Partials:confirmation.html.twig' with { message: confirmationMessage } %}
    {% endif %}

    <div id="main-wrap">
        {% include 'InstitutionBundle:Widgets:registrationHeader.layout.html.twig' %}

        <!-- Page content here -->
        <div id="content" class="container">
            {% block content %}{% endblock %}
        </div>
    </div><!-- end main wrap -->

    {% include 'InstitutionBundle:Widgets:footer.layout.html.twig' %}

    {% block inlineJavascriptCode %}{% endblock %}

{% endblock %}