{% extends '::base.institution.html.twig' %}

{% block body %}
    <div id="main-wrap">
        {% set callout = app.session.flashbag.get('callout_message') %}
        {% if callout[0] is defined %}
            {% set callout = callout[0] %}
            {% include 'InstitutionBundle:Widgets:callout.html.twig' %}
        {% endif %}
        {% include 'InstitutionBundle:Widgets:registrationHeader.layout.html.twig' %}
        <!-- Page content here -->
        <div id="content" class="container">
            {% block content %}{% endblock %}
        </div>
        
           {% include 'InstitutionBundle:Widgets:footer.layout.html.twig' %}
    </div><!-- end main wrap -->

    {% block inlineJavascriptCode %}{% endblock %}
{% endblock %}