{% extends '::base.institution.html.twig' %}
{% block body %}
<div id="main-wrap">
    <header>
        <div class="container">
            <div class="row">
                <div class="span4">
                    <a href="{{ path('frontend_main_homepage') }}"><i class="logo"></i></a>
                </div>
            </div>
        </div>
    </header>
    
    <!-- Page content here -->
    {% block content %}{% endblock %}
</div>
{% include 'InstitutionBundle:Widgets:footer.layout.html.twig' %}
    
{% block inlineJavascriptCode %}{% endblock %}
{% endblock %}