{% extends 'FrontendBundle::layout.html.twig' %}
{% set isHomePage = true %}
{% block content %}

<!--End of header-->
            <div id="content" class="container content error-page">
                <!--End of highlight-->
                <div id="details" class="row">
                    <div class="error">
                        <div class="pull-left error-code">
                            <h1>
                                {{ status_code }}
                            </h1>
                        </div>
                        <h2 class="error-description">
                            File {{ status_text }}
                        </h2>
                        <h2>
                            Sorry, we can't seem to find that page. It may be expired, has been moved, or you might have accessed from an incorrect URL.
                        </h2>
                        <div class="helper row-fluid">
                            <div class="message span12">
                                <p class="message">
                                    <strong>
                                        Worry not my friend!
                                    </strong>
                                    <br>
                                    The buttons below shall help you find what you're looking for.
                                    <br><br>
                                </p>
                            </div>
                            <div class="links">
                            {% if referer is not null %}
                                <div class="span4">
                                    <a href="{{ referer }}" class="btn green btn-large span8 offset3">
                                         <i class="icon-chevron-left icon-white"></i>  PREVIOUS PAGE
                                     </a>
                                </div>
                             {% endif %}
                                <div class="span4">
                                    <a data-toggle="modal" data-target="#report"  class="btn orange btn-large span8 offset2" onclick="ErrorReport.showCommonModal(this);" href="#">
                                         <i class="icon-envelope icon-white"></i>  SUBMIT A REPORT
                                     </a>
                                     {% include 'FrontendBundle:Exception/Modal:modal.reportForm.html.twig' %}                                     
                                    
                                </div>
                                <div class="span4">
                                    <a href="" class="btn green btn-large span8 offset1">
                                         <i class="icon-search icon-white"></i> SEARCH HCA
                                     </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End of content-->

{% endblock %}

