{% if callout|length %}
    <div class="row-fluid">
        <div class="span12 aside-box success">
            {% if callout['highlight'] is defined %}
              <h4>{{ callout['highlight'] | raw }}</h4>
            {% endif %}
            <p>{{ callout['subText'] is defined ? callout['subText'] | raw : '' }}</p>
       </div>
    </div>  
{% endif %}
