{% if callout|length %}
<div id="confirmation-message">
            <div class="confirmation-box">
                <div class="alert alert-success">
                  <p>
                    {% if callout['highlight'] is defined %}
                	     <b>{{ callout['highlight'] | raw }}</b>
                    {% endif %}
                    
                    {{ callout['subText'] is defined ? callout['subText'] | raw : '' }}
                </p>
       </div>
    </div>
</div>
{% endif %}
