<div id="confirmation-message">
    <div class="confirmation-box">
        {% if app.session.hasFlash('success') %}
                <div class="alert alert-success">
                    <p>
                        {{  app.session.flash('success') | raw}}
                    </p>
                </div>
        {% endif %}
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
	 setTimeout(function() {
         $("#confirmation-message").fadeOut("slow")
     }, 5000);
    });
</script>