{# app.session.get('flash') #}

<div id="confirmation-message" style="display: {{ flashMessage is defined ? 'block' : 'none' }}">
    <div class="confirmation-box">
        <div class="alert alert-{{ flashMessage.type is defined ? flashMessage.type : 'success' }}">
            <p>{{ flashMessage.text is defined ? topMessage.text|raw : '' }}</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        setTimeout(function() {
            $("#confirmation-message").fadeOut("slow")
        }, 5000);
    });
</script>