<div id="content_wrap">
    <div class="container content">
        <div class="row">
            <div class="span12 marginleft0">
                <div class="aside">
                    <h4>Welcome, {{ app.user.username }}</h4>
                    <p>
                        You're 1 step away to appear in our medical listing. Please tell us more about your Medical Institution.
                    </p>
                </div>
                
                {% block wrappedContent %}{% endblock %}
                
                {% block sidebar %}{% endblock %}
            </div>
        </div>
    </div>
</div><!--End of container-->
        