<div class="accordion" id="accordion2">
						<div class="accordion-group">
							<h4>Recently Added Medical Specialist
								<span class="pull-right">
									<button class="btn btn-mini">
										<i class="icon-edit"></i>Add Medical Specialist</button>
								</span>
							</h4>
							<div id="MedicalListing" class="accordion-body collapse in">
								<div class="accordion-inner">
									<div class="treatmentbox">
										<div class="boxcontent">
											<div class="specialist">
												<div class="span4">
													<div class="span1">
														<a href="#"><img class="member-box-avatar" src="images/institution/institution-logo.gif"></a>
													</div>
													<div class="span3">
														<h5>Dr. First Name Last Name</h5>
														<p>Specialization</p>
														<button class="btn btn-small btn-mini">View Specialist's Profile</button>
													</div>
												</div>
												<div class="span4">
													<div class="span1">
														<a href="#"><img class="member-box-avatar" src="images/institution/institution-logo.gif"></a>
													</div>
													<div class="span3">
														<h5>Dr. First Name Last Name</h5>
														<p>Specialization</p>
														<button class="btn btn-small btn-mini">View Specialist's Profile</button>
													</div>
												</div>
												<div class="span4">
													<div class="span1">
														<a href="#"><img class="member-box-avatar" src="images/institution/institution-logo.gif"></a>
													</div>
													<div class="span3">
														<h5>Dr. First Name Last Name</h5>
														<p>Specialization</p>
														<button class="btn btn-small btn-mini">View Specialist's Profile</button>
													</div>
												</div>
												<div class="span4">
													<div class="span1">
														<a href="#"><img class="member-box-avatar" src="images/institution/institution-logo.gif"></a>
													</div>
													<div class="span3">
														<h5>Dr. First Name Last Name</h5>
														<p>Specialization</p>
														<button class="btn btn-small btn-mini">View Specialist's Profile</button>
													</div>
												</div>
											</div>
											<span class="pull-right">
												<button class="btn btn-primary">
													<i class="icon-search"></i>View List of All Medical Specialist</button>
											</span>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>