 <div class="aside">
    <h4>
        Welcome, USERNAME!
    </h4>
    <p>
        You're 1 step away to appear in our medical listing. Please tell us more about your Medical Institution.
    </p>
</div>