<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#Stats"><h4>Statistics</h4></a>
        </div>
        
        <div id="Stats" class="accordion-body collapse in">
            <div class="accordion-inner">
                <div class="boxcontent">
                    <div class="span3">
                        <table>
                            <tr>
                                <td class="pull-right">
									<h1>12</h1>
								</td>
								
								<td>Active Clinics</td>
							</tr>
							
							<tr>
							    <td class="pull-right">
							        <h1>23</h1>
						        </td>
						        <td>Reviews</td>
					        </tr>
				        </table>
			        </div>
		        </div>
		        
		        <div class="pull-left">
				    <!-- graph here -->
	            </div>
            </div>
        </div>
    </div>
</div>