    <div class="span4">
        <section class="aside-box default">
            <h3>
                Why complete your profile?
            </h3>
            <p class="info-text">
                The information you provide here appear with your listings. Completing
                these will be helpful in creating a reputable profile for your organization.
            </p>
            <p class="info-text">
                Images such as logos and photos help to enhance the appearance of your
                listings, while helping you provide information in a visual way.
            </p>
            <p class="info-text">
                Need some help?
                <a href="#"><strong>Click Here</strong></a>
            </p>
        </section>
    </div>