<div id="footer">
	<div class="container">
		<div class="row">
			<div class="span6 pull-left">
				<p>&copy; 2012 healthcareabroad.com | All rights reserved.</p>
				<ul class="nav nav-pills">
					<li>
						<a href="#">Privacy</a>
					</li>
					<li>
						<a href="#">Terms of Use</a>
					</li>
					<li>
						<a href="#">Ad Choice</a>
					</li>
				</ul>
			</div>
			<div class="pull-right">
				<ul class="nav nav-pills">
					<li>
                        <a href="https://www.facebook.com/healthcareabroadcom"  target="_blank"><img src="{{ asset('images/institution/facebook_icon.png') }}" alt="facebook"></a>
                    </li>
                    <li>
                        <a href="http://twitter.com/HCAbroad" target="_blank"><img src="{{ asset('images/institution/twitter_icon.png') }}" alt="twitter" ></a>
                    </li>
                    <li>
                        <a href="#" target="_blank"><img src="{{ asset('images/institution/g+_icon.png') }}" alt="plus.google"></a>
                    </li>
                    
				</ul>
			</div>
		</div>
		<!--End of row-->
	</div>
	<!--End of container-->
</div>