		<footer id="footer">
    		<div class="footer-wrapper">
    			<div class="container">
            		<div class="lower_footer row"> <!--This is for the lower part of footer-->
                        <div class="span5 navbar">
                            <p>Copyright 2013, Healthcareabroad.com.All rights reserved</p>
                            <ul class="nav">
                                <li><a href="http://www.healthcareabroad.com">HOME</a></li>
                                <li class="divider">/</li>
                                <li><a href="#">About Us</a></li>
                            </ul>
                        </div>
                        <div class="social span6">
                            <ul class="socials-nav">
                                <li><a href="#" target="_blank"><img src="{{ asset('images/institution/g+_icon.png') }}" alt="google_plus"/></a></li>
                                <li><a href="https://www.facebook.com/healthcareabroadcom" target="_blank"><img src="{{ asset('images/institution/facebook_icon.png') }}" alt="facebook"/></a></li>
                                <li><a href="http://twitter.com/HCAbroad" target="_blank"><img src="{{ asset('images/institution/twitter_icon.png') }}" alt="twitter_icon"/></a></li>
                            </ul>

                        </div>
                    </div>

       			</div>
    		</div>
		</footer>