	<!--FOOTER start-->
        <div id="footer-wrapper">
            <div class="container">
                <div class="row-fluid">
                    <div class="span6 pull-left">
                        <span class="copy">
                            Copyright 2013 Healthcare Abroad. All rights reserved.
                        </span>
                    </div>
                    <div class="span6 pull-right">
                        <ul class="nav nav-pills">
                            <li>
                                <a href="http://www.healthcareabroad.com/" target="_blank">Healthcare Abroad</a>
                            </li>
                            <li>
                                <a href="faq.html">FAQ</a>
                            </li>
                            <li>
                                <a href="termsofuse.html">Terms of Use</a>
                            </li>
                            <li>
                                <a href="privacypolicy.html">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
<!-- Footer Ends -->