	<!--FOOTER start-->
        <footer>
            <div class="container">
                <div class="row-fluid">
                    <div class="span6 pull-left">
                        <span class="copy">
                            Copyright 2013 Healthcare Abroad. All rights reserved.
                        </span>
                    </div>
                    <div class="span6 pull-right">
                        <ul class="nav nav-pills">
                            <li>
                            <a href="http://www.healthcareabroad.com">Healthcare Abroad</a>
                            </li>
                            <li class="divider-vertical"></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Terms of Service</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
<!-- Footer Ends -->