<div id="footer">
	<div class="container">
		<div class="row">
			<div class="span6 pull-left">
				<p>&copy; 2012 healthcareabroad.com | All rights reserved.</p>
				<ul class="nav nav-pills">
					<li>
						<a href="#">Privacy</a>
					</li>
					<li>
						<a href="#">Terms of Use</a>
					</li>
					<li>
						<a href="#">Ad Choice</a>
					</li>
				</ul>
			</div>
			<div class="pull-right">
				<ul class="nav nav-pills">
					<li>
                        <a href="#"><img src="{{ asset('images/institution/facebook_icon.png') }}" alt="facebook"></a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ asset('images/institution/tumblr_icon.png') }}" alt="tumblr"></a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ asset('images/institution/linkedin_icon.png') }}" alt="linkedin"></a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ asset('images/institution/rss_icon.png') }}" alt="rss"></a>
                    </li>
				</ul>
			</div>
		</div>
		<!--End of row-->
	</div>
	<!--End of container-->
</div>