 <header>
    <div class="container toolbar">
        <div class="row-fluid">
            <div class="span4">
                <a href="#"><i class="logo"></i></a>
            </div>
            <div class="btn-group pull-right">
                <a class="btn btn-misc" href="#"><i class="icon-user"></i></a>
                <a class="btn btn-misc dropdown-toggle" data-toggle="dropdown" href="#"><i class="caret"></i></a>
                <ul class="dropdown-menu">
                    <li class="nav-header"> Manage Account</li>
                    <li><a href="{{ path('institution_editAccount') }}"><i class="icon-eye-open"></i> View Account</a> </li>
                    <li><a href="#"><i class="icon-edit"></i> Edit Account</a></li>
                    <li class="divider">
                    <li class="nav-header">Logged in as: </li>
                        <li class="text">{{ app.user.email }}</li>
                        <li class="divider"></li>
                    </li>
                    <li><a href="{{ path('institution_logout')}}"><i class="icon-share-alt"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    	<!--End of container -->
	{% set disableMainNavigation = disableMainNavigation is defined and disableMainNavigation %}
    {% if not disableMainNavigation %}
        {% include 'InstitutionBundle:Widgets:navigation.main.html.twig' %}
    {% endif %}
</header>