<!-- Modal Edit Description of the Institution -->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal hide fade" id="editinstitutiondescription" style="display: none;">
  <div class="modal-header">
    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">x</button>
    <h3>Edit Institution Description</h3>
  </div>
  <div class="modal-body"> 
    <!-- content number start-->
                <div>
                  <textarea cols="60" rows="5" class="span5" name="Clinic_Description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non quam venenatis diam rhoncus malesuada. Nulla ut eros dolor. Cras condimentum congue erat id luctus. Vivamus vel sagittis tortor. Nam ac purus vitae mauris iaculis sodales ac at elit. Praesent quis sapien vehicula lorem posuere euismod. Mauris ut sem lorem. Duis vitae felis urna. 
</textarea>
                </div>
                
                <!-- content number end--> 
  </div>
  <div class="modal-footer">
    <button aria-hidden="true" data-dismiss="modal" class="btn">Cancel</button>
    <button class="btn btn-primary">Submit</button>
  </div>
</div>
<!-- End Modal Edit Description of the Institution--> 