<!-- Modal Doctor's Photo -->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal hide fade" id="upload" style="display: none;">
  <div class="modal-header">
    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">x</button>
    <h3>Upload Profile Photo</h3>
  </div>
  <div class="modal-body"> 
    <!-- doctor photo start-->
    <input type="file" class="profilephoto" size="40" name="profile_photofile">
    
    <!-- doctor photo end--> 
  </div>
  <div class="modal-footer">
    <button aria-hidden="true" data-dismiss="modal" class="btn">Cancel</button>
    <button class="btn btn-primary">Upload</button>
  </div>
</div>
<!-- End Modal Doctor's Photo--> 