{% embed 'InstitutionBundle:Embed:modalBox.base.html.twig' with {'modal': {'id' : 'hca-edit-institution-name', 'title': 'Edit Institution Name' }} %}
    {% block modalBody %}
        {% include 'InstitutionBundle:Widgets:institution.editProfileModalForm.html.twig' 
         with {formId: 'nameModalForm', fields: ['name','medicalProviderGroups'], displayButton : 'false'} 
        %}
    {% endblock %}
    {% block footerBody %}
         <div class="alert-box span4"></div>
        <div class="row"> 
    		<button class="btn btn-primary pull-right" onclick="return InstitutionProfile.submitInstitutionSidebarForms(this);">Submit</button>
        </div>
    {% endblock %}
{% endembed %}
