<!-- Modal Edit Name of the Institution -->
  <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal hide fade" id="editinstitutionname" style="display: none;">
    <div class="modal-header">
      <button aria-hidden="true" data-dismiss="modal" class="close" type="button">x</button>
      <h3>Edit Institution Name</h3>
    </div>
    <div class="modal-body"> 
      <!-- content number start-->
      <div>
        <input type="text" class="institution_name" value="Name of the Institution" id="institution_name" name="institution_name">
      </div>
      
      <!-- content number end--> 
    </div>
    <div class="modal-footer">
      <button aria-hidden="true" data-dismiss="modal" class="btn">Cancel</button>
      <button class="btn btn-primary">Submit</button>
    </div>
  </div>
  <!-- End Modal Edit Name of the Institution--> 