<div id="transactions" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-body">
		<!-- msg start-->
		<h5 id="alert-meassage"> </h5>
		<!-- msg end-->
	</div>
	<div class="modal-footer">
	    <button class="btn pull-right" aria-hidden="true" data-dismiss="modal" class="btn">OK</button>
	</div>
</div><!-- End Modal Transactions-->