{% embed 'InstitutionBundle:Embed:modalBox.base.html.twig' with {'modal': {'id' : modalId, 'title': modalTitle }} %}
    {% block modalBody %}

        <form id="{{ formId }}" action="{{ path('institution_featuredImage_upload', {'institutionId': institution.id}) }}" enctype="multipart/form-data" onsubmit="validate(this);" method="POST" style="min-width: 400px;padding: 20px 20px 0;">
            <input type="file" name="file" accept="image/gif, image/jpeg , image/jpg, image/png" size="40" class="profilephoto" />
    {% endblock %}
    {% block footerBody %}
         <button aria-hidden="true" data-dismiss="modal" class="btn">Cancel</button>
    	<input type="submit" class="btn btn-primary" value="Submit">
      </form>
    {% endblock %}
{% endembed %}

{% block inlineJavascriptCode %}
<script type="text/javascript">
function validate(form) {
   if ((/.(gif|jpe?g|png)$/i.test(form['file'].value))==false) {

       return (false);
   }
       return(true);
}
</script>
{% endblock %}