{% set _mainNavDefaults = {'selected' : 'dashboard'} %}
{% set mainNavigation = mainNavigation is defined ? _mainNavDefaults | merge(mainNavigation) : _mainNavDefaults %}
<nav id="nav">
    <div class="row-fluid">
        <div class="container">
            <ul class="nav nav-tabs nav-menu">
               <li class="{{ 'dashboard' == mainNavigation.selected  ? 'active' : '' }}">
                    <a href="{{ path('institution_homepage')}}"><i class="icon-h-sign"></i>Dashboard</a>
                </li>
                 <li class="{{ 'profile' == mainNavigation.selected  ? 'active' : '' }}">
                    <a href="{{ path('institution_account_profile') }}"><i class="icon-hospital"></i>Hospital</a> 
                </li>
            </ul>
        </div>
    </div>
</nav>
                