<header id="header">
    <div class="container">
        <div class="row">
            <div class="span4">
                <a href="{{ path('frontend_main_homepage') }}"><img src="{{ asset('images/institution/healthcareabroad-logo.png') }}" alt="Health Care Abroad Logo"></a>
            </div>
            <div class="pull-right">
                <div class="navbar">
                    <ul class="nav">
                        {% block navbar %}
                        <li>
                            <a href="client-login.html"><i class="icon-unlock"></i>Login</a>
                        </li>
                        {% endblock %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>