<div class="box-content">
	<h4 class="pull-left">MEDIA GALLERY</h4>
	<div class="pull-right editname3">
		<i class="icon-picture" title="Manage"></i>
		<a href="#managegallery" role="button" data-toggle="modal"><small class="pull-right">Manage Files</small></a>
	</div>
	<div class="maincontentblock">
		<p>Some Text telling no media Files.
			<a href="#managegallery" role="button" data-toggle="modal">Upload Media Files here.</a>
		</p>
	</div>
</div>