<div class="box-content">
    <h4 class="pull-left">MEDIA GALLERY</h4>
    <div class="pull-right">
        <a href="#">
            <small class="pull-right">Manage Files</small><i class="icon-picture pull-right" title="Edit"></i>
        </a>
    </div>
    
    <div class="clear"></div>
    
    <p>Some Text telling no media Files. <a href="#">Upload Media Files here.</a></p>
</div>