<div class="box-content">
    <h4 class="pull-left">CLINIC HOURS</h4>
    <div class="pull-right editname2">
	   <a href="#" role="button" class="businessHoursModalLink" id="businessHoursModal-{{institutionMedicalCenter.id}}">
            <i class="icon-pencil" title="Edit"></i><small>Edit</small>
        </a>
	</div>
	
	<table class="table table-striped" id="institutionBusinessHoursText">
    {% include 'InstitutionBundle:MedicalCenter/Widgets:businessHoursTable.html.twig' %}
    </table>
    	    
    <!-- Modal Business Hours -->
	{% include 'InstitutionBundle:MedicalCenter/Widgets:modal.businessHours.html.twig' 
	     with {modalId: 'business_hours_modal_form', modalTitle: 'Change Clinic Hours'} 
	%} <!-- end Modal Business Hours -->
</div>

{% block inlineJavascriptCode %}
<script type="text/javascript" src="{{ asset('js/jquery/timepicker.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery/globalize.js') }}"></script> 
<script type="text/javascript" src="{{ asset('js/jquery/jquery.ui.mask.js') }}"></script>

<script type="text/javascript">
(function(){
    $(function(){

        $('a.businessHoursModalLink').click(function(){
            $('div#business_hours_modal_form').modal('show');

            // timepicker can only be attached to visible elements
            $(".hour").timepicker({ seconds: false});

            return false;
        });

        // initialize businesshours form
        ClinicBusinessHoursForm
        .setAjaxContentElement($('#institutionBusinessHoursText'))
        .setFormElement($('#modal_clinicHours_form'))
        .initInputElements({
            'submitButton': $('#modal_clinicHours_submitButton'),
            'isClosed': $('input.closedToggle'),
            'isOpenWholeDay': $('input.openWholeDayToggle'),
            'isAlwaysOpen': $('input.alwaysOpenToggle')
        })
        .initializeState();
            
    });    
})(jQuery);
</script>
{% endblock %}