<div class="span3">
    <div class="sidebar">
        <div class="box-content">
            <h4 class="pull-left">Basic Profile</h4>
            
            <div class="clear"></div>
            <table class="table table-striped">
                <tr>
                    <td>
                        <p>
                            {{ json_decode(institution.address1) | join(' ') }}
                            <a href="#clinicaddress" role="button" data-toggle="modal">
                                <i class="icon-pencil" title="Edit"></i><small>Edit</small>
                            </a>
                        </p>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <p>
                            {{ json_decode(institution.contactNumber) | join('-') }}  
                            <a href="#clinicnumber" role="button" data-toggle="modal">
                                <i class="icon-pencil" title="Edit"></i><small>Edit</small>
                            </a>
                        </p>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <p>{{ institution.contactEmail }}<a href="#clinicemail" role="button" data-toggle="modal"><i class="icon-pencil" title="Edit"></i><small>Edit</small></a></p>
                    </td>
                </tr>
            
                <tr>
                    <td>
                        <p>http://gleneagleskl.com.my<a href="#clinicwebsite" role="button" data-toggle="modal"><i class="icon-pencil" title="Edit"></i><small>Edit</small></a></p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

                            
                            
<!-- #####  
    start modal boxes 
-->
                            
<!-- Modal Clinic Address -->
<div id="clinicaddress" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h3 id="myModalLabel">Edit Clinic Address</h3>
    </div>
    
    <div class="modal-body">
        
        <div class="mapbox">map here</div>
    
        <div>
            <label for="Country">Country</label> 
            <input name="institution_country" type="text" id="institution_country" value="Malaysia" class="institution_country">
        </div>
        
        <div>
            <label for="State">State / Province</label> 
            <input name="institution_State" type="text" id="institution_State" value="Kuala Lumpur" class="institution_state">
        </div>
        
        <div>
            <div class="addresscity">
                <span class="span2 marginleft0">
                    <label>City</label> 
                    <input name="institution_cityaddress" type="text" id="institution_cityaddress" value="Kuala Lumpur " class="institution_cityaddress span2">
                </span> 
                
                <span class="span3">
                    <label>Zip/Mail Code</label> 
                    <input name="institution_mailcode" type="text" id="institution_mailcode" value="50450 " class="institution_mailcode span3">
                </span>
            </div>
            
            <div class="clearfix"></div>
            <div class="addressdetails">
                <span class="span2 marginleft0">
                    <label>Unit or Room #</label> 
                    <input name="institution_roomnumber" type="text" id="institution_roomnumber" value="282" class="institution_roomnumber span2">
                </span> 
                <span class="span2">
                    <label>Building</label> 
                    <input name="institution_building" type="text" id="institution_building" value="Jalan Ampang" class="institution_building span3">
                </span>
            </div>
        </div>
        
        <div class="clearfix"></div>
        <div class="Streetdetails">
            <span class="span5 marginleft0">
                <label>Street</label>
                <input name="institution_streetaddress" type="text" id="institution_streetaddress" value="" class="institution_streetaddress span5">
            </span>
        </div>
        
        <div class="clearfix"></div>
    </div>
    <!-- end modal-body -->
    
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-primary">Submit</button>
    </div>
</div>
 <!-- End Modal Clinic Address -->



<!-- Modal Clinic Number -->
{% embed 'InstitutionBundle:Embed:modalBox.base.html.twig' 
    with {'modal': {'id' : 'clinicnumber', 'title': 'Edit Clinic Number'}}
%}
    {% block modalBody %}
        <div class="phonenumber" required="required">
            <span class="span1 marginleft0">
                <small>Country Code</small> 
                <input name="institution_countrycode" type="text" id="institution_countrycode" value="" class="institution_website span1">
            </span> 
            <span class="span1">
                <small>Area Code</small> 
                <input name="institution_areacode" type="text" id="institution_areacode" value="" class="institution_website span1">
            </span>
            <span class="span2">
                <small>Phone Number</small>
                <input name="institution_phonenumber" type="text" id="institution_phonenumber" value="" class="institution_website span2">
            </span>
        </div>
    {% endblock %}

{% endembed %}
<!-- end Modal Clinic Number -->

<!-- Modal Clinic email -->
{% embed 'InstitutionBundle:Embed:modalBox.base.html.twig' 
    with {'modal': {'id' : 'clinicemail', 'title': 'Edit Clinic Email'}}
%}
    {% block modalBody %}
        <input type="email" required value="inquiry@gleneagleskl.com.my" id="email" name="email">
    {% endblock %}
    
{% endembed %}
<!-- end Modal Clinic email -->


<!-- Modal Clinic website -->
{% embed 'InstitutionBundle:Embed:modalBox.base.html.twig' 
    with {'modal': {'id' : 'clinicwebsite', 'title': 'Edit Clinic Website'}}
%}
    {% block modalBody %}
        <input type="text" required value="gleneagleskl.com.my" id="website" name="website"> <
    {% endblock %}
    
{% endembed %}
                    
                            
                            