
        <div class="box-content">
           <h4>Create a Complete Profile</h4>
									<p>The information you provide here appear with your listings. Completing these will be helpful in creating a reputable profile for your organization. </p>
									<p>Images such as logos and photos help to enhance the appearance of your listings, while helping you provide information in a visual way.</p>
        </div>
