<div class="sidebar-nav">
	<ul class="nav nav-tabs nav-stacked">
		<li class="nav-header" style="padding: 8px 0;">Latest in HealthCare Abroad Community</li>
		<li>
			<a href="#"><img class="member-box-avatar" src="{{ asset('images/institution/institution-logo.gif') }}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum, est at congue gravida...</a>
		</li>
		<li>
			<a href="#"><img class="member-box-avatar" src="{{ asset('images/institution/institution-logo.gif') }}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum, est at congue gravida...</a>
		</li>
		<li>
			<a href="#"><img class="member-box-avatar" src="{{ asset('images/institution/institution-logo.gif') }}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum, est at congue gravida...</a>
		</li>
	</ul>
</div>