<div class="box-content">
	<h4>Benefits Label</h4>
	<table class="table table-striped">
		<tr>
			<td>
				<!-- <div class="mapbox">
					map here
				</div> -->
				<p>Gleneagles Hospital (Kuala Lumpur) Sdn. Bhd. 282 Jalan Ampang 50450 Kuala Lumpur Malaysia
					<i class="icon-pencil" title="Edit"></i>
					<a href="#clinicaddress" role="button" data-toggle="modal"><small>Edit</small></a>
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>+603-4141 3000
					<i class="icon-pencil" title="Edit"></i>
					<a href="#clinicnumber" role="button" data-toggle="modal"><small>Edit</small></a>
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>inquiry@gleneagleskl.com.my
					<i class="icon-pencil" title="Edit"></i>
					<a href="#clinicemail" role="button" data-toggle="modal"><small>Edit</small></a>
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>http://gleneagleskl.com.my
					<i class="icon-pencil" title="Edit"></i>
					<a href="#clinicwebsite" role="button" data-toggle="modal"><small>Edit</small></a>
				</p>
			</td>
		</tr>
	</table>
</div>