<section id="feature">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div id="myContent">
	
					<div class="box-container-toggle stepbox">
						<span class="span11">
							<h5>Thank you for registering on Health Care Abroad.com. If you are still new to things, we’ve provided a few walkthroughs to get you started.</h5>
						</span>
						<div class="clearfix"></div>
				
						<ul class="nav nav-tabs nav-stacked">
							<li class="active">
								<a href="#"><h1>1</h1><h5>Manage your Institution Profile</h5><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum, est at congue gravida...</p></a>
							</li>
							<li>
								<a href="#"><h1>2</h1><h5>Add your Medical Center</h5><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum, est at congue gravida...</p></a>
							</li>
							<li>
								<a href="#"><h1>3</h1><h5>Add your world Class Specialist (Doctors)</h5><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum, est at congue gravida...</p></a>
							</li>
							<li>
								<a href="#"><h1>4</h1><h5>Uploads Photos, Videos etc. (Media Files)</h5><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum, est at congue gravida...</p></a>
							</li>
							<li>
								<a href="#"><h1>5</h1><h5>Add your GlobalAwards, Awards & Certifications</h5><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum, est at congue gravida...</p></a>
							</li>
						</ul>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</section>
	