{% embed 'InstitutionBundle:Widgets:tabbedContent.base.html.twig' %}
    {% block tabbedContent %}
	    
			<div class="maincontentblock">
			    <table class="table table-striped table-bordered bootstrap-datatable">
			      <thead>
                    <tr>
        				<th>Services</th>
        				<th>Actions</th>
        			</tr>
                </thead>
			        <tbody>
                    {% for _service in ancillaryServicesData.globalList %}
        			
            			{% include 'InstitutionBundle:Widgets:row.ancillaryService.html.twig' with {'ancillaryService': _service, '_isSelected': _service.id in ancillaryServicesData.selectedAncillaryServices } %}
                        
                    {% endfor %}
        			</tbody>
    			</table>
            </div>
                
    {% endblock %}
{% endembed %}