{% embed 'InstitutionBundle:Widgets:tabbedContent.base.html.twig' %}
    {% block tabbedContent %}
        <table class="table table-striped table-bordered bootstrap-datatable">
            <thead>
                <tr>
    				<th>Services</th>
    				<th>Actions</th>
    			</tr>
            </thead>
			<tbody>
    			<tr>
    				<td>Service 1</td>
    				<td>
    						<i title="Edit" class="icon-pencil"></i>
    						<a href="single-clinic-profile-tab-form.html"><small>Edit</small></a>
    						<i title="Delete" class="icon-trash"></i>
    						<a data-toggle="modal" role="button" title="" href="#deletetreatment">Delete</a>
    					</td>
    			</tr>
		    </tbody>
	    </table>
    {% endblock %}
{% endembed %}