{% set _commonDeleteCsrfTokenWidget = form_widget(commonDeleteForm._token) %}
{% embed 'InstitutionBundle:Widgets:tabbedContent.base.html.twig' %}
    {% block tabbedContent %}
    <h3> Specialization 
    <button id ="new_specializationButton" onclick="InstitutionSpecialization.toggle($(this)); return false;" data-href="{{ path('institution_ajax_loadInstitutionMedicalCenterAvailableSpecializations') }}" data-toggle="#specialization-list" class="btn btn-primary pull-right">Add New Specializations</button>
    </h3>
    <section class="action-info hca-main-profile" id="specialization_list_block">
        {% for each in specializations %}
              {% include 'InstitutionBundle:MedicalCenter:listItem.institutionSpecializationTreatments.html.twig'  %}
        {% else %}
            <div class="alert alert-block">
                <div class="hca-profile-sublevel">
                    Here you can showcase specializations of your Clinic.
                </div>
                <p class="hca-helptext">
                    You haven't yet added any Certifications, Affilations, Awards and Accreditations for your Clinic. Explain here the need to add Certifications, Affilations,
                    Awards and Accreditations for your Clinic.
                </p>
            </div>
        {% endfor %}
    </section>
    <section id="add-specialization-wrapper" class="section hca-display-specializations">

        <form name="specializationsForm" id="institutionSpecializationForm" action="{{ path('institution_medicalCenter_addSpecializations_save', { imcId: institutionMedicalCenter.id }) }}" method="post">
           <div class="edit-specializations">
                <div class="row-fluid terms hca-edit-box">
                    <h3> Specializations
                        <span class="tooltip-wrap hca-edit"> <i class="icon-info-sign"> </i>
                            <span class="tooltip-content hca-edit list-specializations pull-left">
                                <i class="icon-stethoscope icon-2x pull-left"> </i>
                                Indicating all the SPECIALIZATIONS and related treatments of your clinic
                                will allow you to be searchable by patients based on those fields.
                                <br>
                            </span>
                        </span>
                    </h3>     
                    <section class="section " id="specialization-list">
                    </section>
                 </div>
            </div>
        </form>

     </section>
    {% endblock %}
{% endembed %}

{% block inlineJavascriptCode %}
<script type="text/javascript">
$(function(){

    /**
	    Added by: Adelbert D. Silla
	    TODO: Convert implementation to object and reuse the codes
	    NOTE: js codes has a duplicate in SignUp/setupSpecializations.html.twig. Please consult me first before modifying this code.
    **/
    $('form[name="specializationsForm"] input:checkbox[name="subSpecialization"]').live('change', function(e) {
        var subSpecializationContainerElem = $(this).parents('.sub-specialization-wrapper:first');
        subSpecializationContainerElem.find('input:checkbox[id^="treatments"]').prop('checked', $(this).is(':checked'));
    });

    $('form[name="specializationsForm"] input:checkbox[id^="treatments"]').live('change', function(e) {
        var subSpecializationContainerElem = $(this).parents('.sub-specialization-wrapper:first');
        var subSpecializationCheckbox = subSpecializationContainerElem.find('input[name=subSpecialization]');
        var checkedTreatmentElems = subSpecializationContainerElem.find('input:checkbox[id^="treatments"]:checked');

        subSpecializationCheckbox.prop('checked', true);
        if(checkedTreatmentElems.length == 0) {
            subSpecializationCheckbox.prop('checked', $(this).is(':checked'));
        }
    });

    $('#accordion').live('show', function(e) {
    	$(e.target).prev().find('i').addClass('icon-minus-sign');
        specializationId = $(e.target).data('specialization');
        accordionInnerElem = $('#panel' + specializationId);

        // TODO: ideally we should return the data not html
        if (!accordionInnerElem.data('loaded')) {
            url = "{{ path('institution_ajax_loadInstitutionMedicalCenterSpecializationComponents', { imcId: institutionMedicalCenter.id }) }}"; 
            $.get(url, {isId: specializationId}, function(response) {
            	accordionInnerElem.html(response).data('loaded', 1);
            });
        }
    }).live('hide', function(e){ $(e.target).prev().find('i').removeClass('icon-minus-sign'); });
    /** End of Adelbert Silla's TODO **/

});
</script>
{% endblock %}