{% set _tabbedContentPropertiesDefault = { id: '' } %}
{% set tabbedContentProperties = tabbedContentProperties is defined ? _tabbedContentPropertiesDefault | merge(tabbedContentProperties) : _tabbedContentPropertiesDefault %}
{% spaceless %}
<div class="tab-pane" id="{{ tabbedContentProperties.id }}">
        {% block tabbedContent %}{% endblock %}
        {% block tabbedContentActionButtons %}{% endblock %}
</div>
{% endspaceless %}