{% embed 'InstitutionBundle:Widgets:tabbedContent.base.html.twig' %}
    {% block tabbedContent %}
    <table class="table table-striped table-bordered">
		<tbody>
		    <tr>
				<th>Awards</th>
				<th>Year Given</th>
				<th>Actions</th>
			</tr>
			<tr>												
				<td>
					<h5>Name of Awards</h5>
					<small>Award Giving Body Organization</small>
				</td>												
				<td>2012</td>												
				<td>
					<i title="Delete" class="icon-trash"></i>
					<a data-toggle="modal" role="button" title="" href="#deleteservices">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="pull-right">
		<a class="btn btn-success btn-medium" id="addAnotherSpecialization" data-toggle="modal" role="button" title="" href="#addawards">Add Another Awards</a>
	</div>
	
	<table class="table table-striped table-bordered">
		<tbody>
			<tr>
				<th>Certificates</th>
				<th>Year Given</th>
				<th>Actions</th>
			</tr>
			<tr>												
				<td>
					<h5>Name of Awards</h5>
					<small>Award Giving Body Organization</small>
				</td>												
				<td>2012</td>												
				<td>
					<i title="Delete" class="icon-trash"></i>
					<a data-toggle="modal" role="button" title="" href="#deleteservices">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="pull-right">
		<a class="btn btn-success btn-medium" id="addAnotherSpecialization" data-toggle="modal" role="button" title="" href="#addawards">Add Another Awards</a>
	</div>
	
	<table class="table table-striped table-bordered">
		<tbody>
			<tr>
				<th>Affiliations</th>
				<th>Year Given</th>
				<th>Actions</th>
			</tr>
			<tr>												
				<td>
					<h5>Name of Awards</h5>
					<small>Award Giving Body Organization</small>
				</td>												
				<td>2012</td>												
				<td>
					<i title="Delete" class="icon-trash"></i>
					<a data-toggle="modal" role="button" title="" href="#deleteservices">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="pull-right">
		<a class="btn btn-success btn-medium" id="addAnotherSpecialization" data-toggle="modal" role="button" title="" href="#addawards">Add Another Awards</a>
	</div>
    
    {% endblock %}
{% endembed %}