{% embed 'InstitutionBundle:Widgets:tabbedContent.base.html.twig' %}
    {% block tabbedContent %}
    	<div class="maincontentblock">
	    <table class="table table-striped table-bordered bootstrap-datatable">
	      <thead>
            <tr>
				<th>Medical Specialist</th>
				<th>Specializations</th>
				<th>Actions</th>
			</tr>
        </thead>
	        <tbody>
             {% for doctor in doctors %}
				<tr>
					<td>{{ doctor.name }}</td>
					<td>{{ doctor.specialization.name }}</td>
					<td>
						<div class="post-toolbar">
							<i class="icon-trash" title="Delete"></i>
							<a href="#deletetreatment" title="" role="button" data-toggle="modal">Delete</a>
						</div>
					</td>
				</tr>
		      {% else %}
    		  	<tr>
    			   <td> No Affiliations yet. </td>
    			   <td></td>
    			</tr>
			{% endfor %}
			</tbody>
		</table>
    </div>
    
    {% endblock %}
{% endembed %}