{% embed 'InstitutionBundle:Widgets:tabbedContent.base.html.twig' %}
    {% block tabbedContent %}
    <table class="table table-striped table-bordered bootstrap-datatable">
		<thead>
			<tr>
				<th>Medical Specialist</th>
				<th>Specializations</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<strong>Lastname, Firstname</strong>
				</td>
				<td>
					<div>
						<p>Specializations1, Specializations2</p>
					</div>
				</td>
				<td>
					<i class="icon-pencil" title="Edit"></i>
					<a href="manage-doctor-profile.html">Edit Doctor's Profile</a>|
					<i class="icon-trash" title="Delete"></i>
					<a href="#deletespecialist" title="" role="button" data-toggle="modal">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
    {% endblock %}
{% endembed %}