<table class="table table-hover table-striped hca-listing-awards-services">
	{% for _service in ancillaryServicesData %}
		{% include 'InstitutionBundle:Institution/Partials:row.ancillaryService.html.twig' %}
	{% endfor %}
</table>
