{% embed 'InstitutionBundle:Widgets:tabbedContent.base.html.twig' %}
    {% block tabbedContent %}
        {% set _commonDeleteCsrfTokenWidget = form_widget(commonDeleteForm._token) %}
        {% for institutionSpecialization in specializations %}
            {% include 'InstitutionBundle:MedicalCenter:listItem.institutionSpecializationTreatments.html.twig' %}
        {% else %}                
		    <div class="maincontentblock">No specializations yet.</div>
		{% endfor %}
        
        <!-- add specialization modal form -->
		<div id="addspecialization" class="modal hide fade modal_form_container" tabindex="-1" role="dialog" aria-hidden="true">
		    <div class="modal-body">
	            <form class="modal_form" action="{{ path('institution_medicalCenter_ajaxSaveSpecializations', {'imcId': institutionMedicalCenter.id} ) }}">
	                <label>Search and add a specialty </label>
        	        <input type="text" name="" class="autocomplete_specialization_selector" />
        	        <div id="specializationLoading" class="ajax-loading" style="display:none">loading...</div>
        	        <div id="specializationAccordion"></div>
	            </form>
	        </div>
	        <div class="modal-footer">
	            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
	            <button onclick="return InstitutionSpecialization.submitAddSpecialization(this);" class="btn btn-primary submit-button">Submit</button>
            </div>
	        
		</div><!-- end #addspecialization -->
    {% endblock %}
    
    {% block tabbedContentActionButtons %}
    <div class="pull-right">
		<a class="btn btn-success btn-medium" id="addAnotherSpecialization" data-toggle="modal" role="button" title="" href="#addspecialization">Add Another Specialization</a>
	</div>
    {% endblock %}
    
{% endembed %}