{% embed 'InstitutionBundle:Widgets:tabbedContent.base.html.twig' %}
    {% block tabbedContent %}
    {% include 'InstitutionBundle:Widgets/Modals:modal.deleteMedicalSpecialist.html.twig' %}
         <section class="doctors-listing">
            <h3> Your Doctors
                <a href="#add-doctor" class="btn btn-primary pull-right" data-toggle="modal" style="{{ doctors|length ? '' : 'display:none;'}}">Add Doctor</a>
            </h3>
                <div class="row-fluid">
                    <ul class="thumbnails">
                        {% include 'InstitutionBundle:MedicalCenter:tableRow.specialist.html.twig' %}
                    </ul>
                </div>
        </section>
        	
    {% endblock %}
{% endembed %}

{% block inlineJavascriptCode %}
<script type="text/javascript">
<!--
(function($){
    $(function(){

    	InstitutionSpecialistAutocomplete.removePropertyUri = '{{ path("institution_medicalCenter_ajaxRemoveSpecialistService", {"imcId" : institutionMedicalCenter.id, "institutionId" : institution.id} ) }}';
    });
    
})(jQuery);
//-->
</script>
{% endblock %}