{% embed 'InstitutionBundle:Widgets:tabbedContent.base.html.twig' %}
    {% block tabbedContent %}
    <table class="table table-striped table-bordered bootstrap-datatable">
		<thead>
			<tr>
				<th>Specializations</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<strong>Lastname, Firstname</strong>
				</td>
				<td>
					<strong>Specializations 1</strong>
				</td>
				<td>
					
				</td>
			</tr>
		</tbody>
	</table>
    {% endblock %}
{% endembed %}