{% embed 'InstitutionBundle:Widgets:tabbedContent.base.html.twig' %}
    {% block tabbedContent %}
      <section class="section action-info hca-main-profile">
      <h3> Specialization </h3>
        {% set _commonDeleteCsrfTokenWidget = form_widget(commonDeleteForm._token) %}
                    
        {% for each in specializations %}
            <div class="specializations-listing-profile" id="specialization_{{each.id}}">
              {% include 'InstitutionBundle:MedicalCenter:listItem.institutionSpecializationTreatments.html.twig'  %}
              </div>
        {% endfor %}
    </section>
     <section class="section action-info hca-main-profile">
        <div class="hca-display-specializations">
            <button onclick="InstitutionSpecialization.toggle($(this)); return false;" data-href="{{ path('institution_ajax_loadInstitutionMedicalCenterAvailableSpecializations') }}" data-toggle="#specialization-list" class="btn btn-primary btn-edit pull-right">Add New Specializations</button>
            <form name="specializationsForm" id="institutionSpecializationForm" action="{{ path('institution_medicalCenter_addSpecializations_save', { imcId: institutionMedicalCenter.id }) }}" method="post">
               <div class="edit-specializations">
                    <div class="row-fluid terms hca-edit-box">
                        <h3> Specializations
                            <span class="tooltip-wrap hca-edit"> <i class="icon-info-sign"> </i>
                                <span class="tooltip-content hca-edit list-specializations pull-left">
                                    <i class="icon-stethoscope icon-2x pull-left"> </i>
                                    Indicating all the SPECIALIZATIONS and related treatments of your clinic
                                    will allow you to be searchable by patients based on those fields.
                                    <br>
                                </span>
                            </span>
                        </h3>     
                        <section class="section " id="specialization-list">
                        </section>
                     </div>
                </div>
            </form>
         </div>
     </section>
    {% endblock %}
{% endembed %}

{% block inlineJavascriptCode %}

<script type="text/javascript">
$(document).on('show hide', '#accordion', function(e) {
    var target = $(e.target);
    target.siblings('.accordion-heading').find('.accordion-toggle i').toggleClass('icon-edit icon-ok');
    treatmentsDiv =  target.parent().find('#treatments_block');
    if(treatmentsDiv){
    	treatmentsDiv.toggle();
    }
        var modifiableDiv = target.find('#panel' + target.data('specialization'));

    if (!modifiableDiv.data('loaded')) {
        /* TODO: ideally we should return the data not html */
        $.ajax({
            url: '{{ path('institution_ajax_loadInstitutionMedicalCenterSpecializationComponents', { imcId: institutionMedicalCenter.id }) }}',
            type: 'GET',
            data: { 'isId': target.data('specialization') },
            dataType: 'html',
            success: function(response){
                modifiableDiv.html(response);
                modifiableDiv.data('loaded', 1);
            }
        });
    }
});

/*
TODO: are these performant? we want to avoid binding multiple event handlers but
at the same time we don't want every click event to fire and run these code.

Note: These are heavily reliant on the html markup. Changes to the structure might
break the script.
*/
$('#accordion').on('click', 'input:checkbox[name="subSpecialization"]', function(e) {
    var target = $(e.target);

    target.parent().parent().find('input:checkbox[name^="institutionSpecialization"]').each(function() {
        if (target.attr('checked')) {
            $(this).attr('checked', target.attr('checked'));
        } else {
            $(this).removeAttr('checked');
        }
    });
});

$('#accordion').on('click', 'input:checkbox[name^="treatments"]', function(e) {
    var target = $(e.target);
    var subSpecializationCheckbox = target.parent().parent().parent().find('input:checkbox[name="subSpecialization"]');

    if (target.attr('checked')) {
        subSpecializationCheckbox.attr('checked', 'checked');
    } else {
        var uncheckSubSpecializationCheckbox = true;
        target.parent().parent().find('input:checkbox[name^="institutionSpecialization"]').each(function() {
            if ($(this).attr('checked')) {
                uncheckSubSpecializationCheckbox = false;

                return false;/*break*/
            }
        });

        if (uncheckSubSpecializationCheckbox) {
            subSpecializationCheckbox.removeAttr('checked');
        }
    }
});

$('#submitFormLink').click(function(e) {
    //TODO: validation
    document.forms['specializationsForm'].submit();

    return false;
});

/*
$('.expandcollapse').click(function() {
    $('.collapse').each(function(index) {
        $(this).collapse("toggle");
    });
    alert('changing icon');
    if ($(this).html() == "<i class=\"icon-white icon-plus-sign\"></i> Expand All") {
        $(this).html("<i class=\"icon-white icon-minus-sign\"></i> Collapse All");
    } else {
        $(this).html("<i class=\"icon-white icon-plus-sign\"></i> Expand All");
    };
});
*/
</script>

{% endblock %}