{% set selected = get_selected_AnciliaryServices(institution) %}

<table class="table table-hover table-striped hca-listing-awards-services">
    {% for _service in ancillaryServicesData %}
        {% if(selected[_service.id] is defined) %}
            <tr><td>{{ _service.name |title }}</td></tr>
    	{% endif %}
    {% endfor %}
</table>
