{% embed 'InstitutionBundle:Widgets:tabbedContent.base.html.twig' %}
    {% block tabbedContent %}
        <table class="table table-striped table-bordered bootstrap-datatable">
            <thead>
                <tr>
    				<th>Services</th>
    				<th>Actions</th>
    			</tr>
            </thead>
			<tbody>
    			{% for _service in services.globalList %}
        			
        			{% include 'InstitutionBundle:Institution/Partials:row.ancillaryService.html.twig' with {'each': _service, '_isSelected': _service.id in services.selected,'properties': services.currentAncillaryData } %}
                    
    		    {% else %}
        		  	<tr>
        			   <td> No Services yet. </td>
        			   <td></td>
        			</tr>
    			{% endfor %}
		    </tbody>
	    </table>
    {% endblock %}
{% endembed %}