{% set _commonDeleteCsrfTokenWidget = form_widget(commonDeleteForm._token) %}
{% embed 'InstitutionBundle:Widgets:tabbedContent.base.html.twig' %}
    {% block tabbedContent %}
    <h3> Specializations
    <button id ="new_specializationButton" onclick="InstitutionSpecialization.toggle($(this)); return false;" data-href="{{ path('institution_ajax_loadInstitutionMedicalCenterAvailableSpecializations') }}" data-toggle="#specialization-list" class="btn btn-primary pull-right">Add New Specialization</button>
    </h3>
    <section class="action-info hca-main-profile" id="specialization_list_block">
        {% for each in specializations %}
              {% include 'InstitutionBundle:MedicalCenter:listItem.institutionSpecializationTreatments.html.twig'  %}
        {% else %}
            <div class="alert alert-block">
                <div class="hca-profile-sublevel">
                    Here you can showcase specializations of your Clinic.
                </div>
                <p class="hca-helptext">
                    You haven't yet added any Specializations.
                </p>
            </div>
        {% endfor %}
    </section>
    <section id="add-specialization-wrapper" class="section hca-display-specializations">

        <form name="specializationsForm" id="institutionSpecializationForm" action="{{ path('institution_medicalCenter_addSpecializations_save', { imcId: institutionMedicalCenter.id }) }}" method="post">
           <div class="edit-specializations">
                <div class="row-fluid terms hca-edit-box">
                    <h3> Specializations
                        <span class="tooltip-wrap hca-edit"> <i class="icon-info-sign"> </i>
                            <span class="tooltip-content hca-edit list-specializations pull-left">
                                <i class="icon-stethoscope icon-2x pull-left"> </i>
                                Indicating all the SPECIALIZATIONS and related treatments of your clinic
                                will allow you to be searchable by patients based on those fields.
                                <br>
                            </span>
                        </span>
                    </h3>     
                    <section class="section " id="specialization-list">
                    </section>
                 </div>
            </div>
        </form>

     </section>
    {% endblock %}
{% endembed %}

{% block inlineJavascriptCode %}

<script type="text/javascript">
$(document).on('show hide', '#accordion', function(e) {

    var target = $(e.target);
    target.siblings('.accordion-heading').find('.accordion-toggle i').toggleClass('icon-plus-sign icon-minus-sign');
    treatmentsDiv =  target.parent().find('#treatments_block');
    if(treatmentsDiv){
    	treatmentsDiv.toggle();
    }
        var modifiableDiv = target.find('#panel' + target.data('specialization'));

    if (!modifiableDiv.data('loaded')) {
        /* TODO: ideally we should return the data not html */
        $.ajax({
            url: '{{ path('institution_ajax_loadInstitutionMedicalCenterSpecializationComponents', { imcId: institutionMedicalCenter.id }) }}',
            type: 'GET',
            data: { 'isId': target.data('specialization') },
            dataType: 'html',
            success: function(response){
                modifiableDiv.html(response);
                modifiableDiv.data('loaded', 1);
            }
        });
    }
});

$('#submitFormLink').click(function(e) {
    //TODO: validation
    document.forms['specializationsForm'].submit();

    return false;
});
</script>

{% endblock %}