{% set selected = get_selected_AnciliaryServices(institution) %}
<ul class="single-listing">
    {% for _service in ancillaryServicesData %}
        {% if(selected[_service.id] is defined) %}
            <li>{{ _service.name |title }}</li>
    	{% endif %}
    {% endfor %}
</ul>
