<li>
    <input data-inquiryId="" class="inquiry_checkList" name="inquiry-checkList" type="checkbox">
    <span class="sender-details">
        <b>
            Sender Name
        </b>
        <input type="hidden" class="inquiry_cntr" id="inquiryCntr" value=""/>
        <a href="" class="inquiry_sender"></a>
        <small>
            2 days ago
        </small>
    </span>
    <span class="msg-details">
    <p>
       <a class="inquiry_message" href=""></a>
    </p>
    </span>
    <ul class="actions msg">
        <li class="view">
            <div class="btn-group">
                    <a class="btn inquiry_view btn-misc" href=""><i class="icon-search"></i></a>
                    <a onclick ="InstitutionInquiry._removeInquiry($(this)); return false;" class="btn inquiry_remove btn-misc" href="#"><i class="icon-trash"></i></a>
            </div>
        </li>
    </ul>
</li>