{% extends 'InstitutionBundle::registration.layout.html.twig' %}
{% set disableMainNavigation = true %}
{% set setUpProfile = true %}

{% block content %}

<div class="row">
    <div class="span12 confirm-msg">
         {% if app.session.flashbag.get('callout') %}
            <div class="alert alert-info"><h4>Congratulations,
                <b> {{ institutionMedicalCenter.name | title }} </b>
                <span>has been added to</span> HealthcareAbroad.com.</h4> 
                <p>Next, please add your Specializations, to help give patients a good idea of your clinic's expertise. </p>
            </div>
        {% endif %}
    </div>
    
    <h1>{{ institutionMedicalCenter.name | title }}</h1>
    <div class="span8">
        <h2>Add Specializations<br><small>Please select the ones that apply to your Clinic.</small></h2>

        {% include 'InstitutionBundle:Specialization/Widgets:form.multipleAdd.html.twig' with {
            imcId: institutionMedicalCenter.id, 
            specializations : specializations,
            buttonLabel: 'Save and Continue',
            saveFormAction: path('institution_medicalCenter_ajaxSaveSpecializations', {imcId: institutionMedicalCenter.id})
        } %}
    </div>

    <aside class="span4">
    {{ render_signup_steps_by_route(app.request.attributes.get('_route'), isSingleCenter is defined and isSingleCenter) | raw}}
        <section class="aside-box info dashboard-side">
            <p><span><i class="icon-stethoscope icon-4x pull-left"></i></span>
                Indicating all the <b>SPECIALIZATIONS</b> of this clinic will allow you to be searchable by patients looking for specialists or treatments in your areas of expertise.
            </p>
        </section>
    </aside>
</div>
{% endblock %}

{% block inlineJavascriptCode %}
<script type="text/javascript">
$(function(){
	/***
	    Added by: Adelbert D. Silla
	    TODO: js codes already exists in Widgets/Profile:specializations.html.twig. 
	    Must be removed and use the existing one. 
	    NOTE: Please consult me first before modifying this code.
	 ***/
    $('form[name="specializationsForm"] input:checkbox[name="subSpecialization"]').live('change', function(e) {
        var subSpecializationContainerElem = $(this).parents('.sub-specialization-wrapper:first');
        subSpecializationContainerElem.find('input:checkbox[id^="treatments"]').prop('checked', $(this).is(':checked'));
    });

    $('form[name="specializationsForm"] input:checkbox[id^="treatments"]').live('change', function(e) {
        var subSpecializationContainerElem = $(this).parents('.sub-specialization-wrapper:first');
        var subSpecializationCheckbox = subSpecializationContainerElem.find('input[name=subSpecialization]');
        var checkedTreatmentElems = subSpecializationContainerElem.find('input:checkbox[id^="treatments"]:checked');

        subSpecializationCheckbox.prop('checked', true);
        if(checkedTreatmentElems.length == 0) {
            subSpecializationCheckbox.prop('checked', $(this).is(':checked'));
        }
    });

    $('#accordion').live('show', function(e) {
        console.log('signupSetup!');
    	$(e.target).prev().find('i').addClass('icon-minus-sign');
        specializationId = $(e.target).data('specialization');
        accordionInnerElem = $('#panel' + specializationId);

        // TODO: ideally we should return the data not html
        if (!accordionInnerElem.data('loaded')) {
            url = "{{ path('institution_ajax_loadSpecializationTreatments', {imcId: institutionMedicalCenter.id}) }}"; 
            $.get(url, {specializationId: specializationId}, function(response) {
            	accordionInnerElem.html(response).data('loaded', 1);
            });
        }
    }).live('hide', function(e){ $(e.target).prev().find('i').removeClass('icon-minus-sign'); });	
    /** End of Adelbert Silla's TODO **/
});
</script>
{% endblock %}