{% extends 'InstitutionBundle::registration.layout.html.twig' %}
{% set disableMainNavigation = true %}
{% set setUpProfile = true %}

{% block content %}
<!--
        <div id="confirmation-message">
            <div class="confirmation-box">
                <div class="alert alert-success">
                    <p>
                        <b>Doctor's Name</b> has been added to your Clinic Profile
                    </p>
                </div>
            </div>
        </div>
 -->

<div class="row">
    <h1>{{ institutionMedicalCenter.name }}</h1>

    <div class="span8">
        {% include 'InstitutionBundle:SignUp/Widgets:modalForm.doctors.html.twig' %}

        <section>
            <div class="row-fluid">
                <h2 class="pull-left">List of Doctors</h2>
                <a href="#add-doctor" class="btn btn-primary btn-large pull-right" data-toggle="modal">Add Doctor</a>
            </div>
        </section>

        <section id="doctorsList" class="doctors-listing" data-loaded="0">
            <h2>
                <small>No doctors on the list, please add your doctors now.</small>
            </h2>
        </section>

        <section id="doneSection" style="display: none">
            <a href="dashboard-hospital-initial.html" class="btn pull-right btn-primary btn-large">
                Done Adding Doctors
            </a>
        </section>
    </div>

    <aside class="span4">
        {# TODO: include steps widget #}
    </aside>
</div>
{% endblock %}


{% block inlineJavascriptCode %}
<script type="text/javascript">
$(window).load(function() {
    $('#add-doctor').modal('show');
});

$('#submitDoctorForm').click(function(){
    $.ajax({
        url: "{{ path('institution_ajax_addDoctor', { imcId: institutionMedicalCenter.id }) }}",
        type: 'GET',
        dataType: 'json',
        success: function(response){
            var list = $('#doctorsList')
            if (!list.data('loaded')) {
                list.data('loaded', 1);
                list.html('');
            }

            list.append(response.rowDoctor);

            $('#add-doctor').modal('hide');
            $('#confirmation-message').find('p').html(response.rowDoctor.firstName + response.rowDoctor.lastName + ' has been added ');
            $('#confirmation-message').show();
            $('#doneSection').show();
        }
    });

    return false;
});
</script>
{% endblock %}