<div id="{{ awardsList.containerId }}">
<h4>List of all {{awardsList.header}}</h4>
    <table class="table table-hover table-striped hca-listing-awards-services {{ awardsList.tableId }} ">
		{% for _award in awardsList.list %}
		    {% include 'InstitutionBundle:MedicalCenter/Partials:row.globalAward.html.twig' with {'property': _award, 'award': _award.valueObject} %}
		{% else %}    
		<tr>
		    No {{awardsList.header}} added yet.
		</tr>
		{% endfor %}
	</table>
</div>