<tr id="award{{ award.id }}">
	<td><h3 class="award_name">{{ award.name }}</h3><small class="awarding_body_name"> {{ award.awardingBody.name }} </small></td>
	<td>
		<i class="icon-trash" title="Delete"></i>
		<a data-toggle="modal" data-id="{{award.id}}" data-target="#globalAwardModal"  onclick="InstitutionMedicalCenter.showCommonModalId($(this).parents('tr')); return false;" >
            <small>Delete</small></a>
	</td>
</tr>
 