{% set _extraValueArr = json_to_array(property.extraValue, true) %}
{% set _yearAcquired = _extraValueArr.year_acquired is defined ? _extraValueArr.year_acquired | join(', '): '' %}
<tr id="globalAwardRow_{{ property.id }}">
	<td>
	    {{ award.name }}
    </td>
    <td >
        {% if _yearAcquired != ''%}
            {{ _yearAcquired }}
        {% else %} 
            <a href="#">Add Year</a>
        {% endif %}
    </td>
</tr>