                            <div class="bread_crumbs">
                                <a href="#"><img src="images/home_icon.png" />Home</a>
                            </div>

                            <!--Feature Slider-->
                            <script type="text/javascript">
                                $(document).ready(function ($) {
                                    $('.slider').cycle({
                                        fx: 'scrollHorz',
                                        easing: 'swing',
                                        speed: 2000,
                                        timeout: 5000,
                                        pause: 1,
                                        cleartype: true,
                                        cleartypeNoBg: true,
                                        pager: '.navi .navi_links'
                                    });
                                });
                            </script>

                            <div class="slider_wrapper">
                                <div class="slider_items">

                                    <div class="slider">
                                        <div class="row" style="position: relative;">
                                            <div class="slider_item span8">
                                                <a href="#">
                                                    <img src="images/featured_image1.png" alt="preview"/>
                                                </a>
                                                <div class="slider_caption">
                                                    <h1><a href="#">THIS IS SLIDE 1</a></h1>
                                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                                                        inventore veritatis</p>
                                                    <button class="btn">Learn More</button>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row" style="position: relative;">
                                            <div class="slider_item span8">
                                                <a href="#">
                                                    <img src="images/featured_image2.png" alt="preview"/>
                                                </a>
                                                <div class="slider_caption">
                                                    <h1><a href="#">THIS IS SLIDE 2</a></h1>
                                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                                                        inventore veritatis</p>
                                                    <button class="btn">Learn More</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" style="position: relative;">
                                            <div class="slider_item span8">
                                                <a href="#">
                                                    <img src="images/featured_image1.png" alt="preview"/>
                                                </a>
                                                <div class="slider_caption">
                                                    <h1><a href="#">THIS IS SLIDE 3</a></h1>
                                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                                                        inventore veritatis</p>
                                                    <button class="btn">Learn More</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div> <!--End of slider-->
                                </div>

                                <!--Slider Navigators-->
                                <div class="navi"><div class="navi_links"></div></div>
                            </div> <!--End of slider_wrapper-->

                            <div class="featured_content">
                                <div class="heading">
                                    <div class="heading_text">
                                        FEATURED CLINICS
                                    </div>
                                </div>
                                <div class="featured_wrap">

                                    <div class="featured_item">
                                        <div class="row upper_part">
                                            <div class="span1 feature_pic">
                                                <img src="images/featured1.png" alt="featured_pic" />
                                            </div>
                                            <div class="span5 brief_description">
                                                <h4>LOREM IPSUM DOLOR SIT AMET</h4>
                                                <h5>Location: Bangkok, Thailand</h5>
                                                <p>Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum mas justo sitters amet risus.
                                                    Cras mattis cosi sectetut amet fermens tum aecenas faucib sadips amets. Libero tempore, cum soluta nobis est eligen
                                                    di optio cumque nihil impedit quo minus id quodsir maxime placeat facere possimus, omnis voluas assumenda est, omnis
                                                    dolor repellendus sadips ipsums fugiats vitae voluptas dolores amets
                                                </p>
                                            </div>
                                            <div class="span1 rating">
                                                <img src="images/rating1.png" alt="rating" />
                                                <div class="star_rating">
                                                    <img src="images/star_black.png" alt="star"/>
                                                    <img src="images/star_black.png" alt="star"/>
                                                    <img src="images/star_black.png" alt="star"/>
                                                    <img src="images/star_transparent.png" alt="star"/>
                                                    <img src="images/star_transparent.png" alt="star"/>
                                                </div>
                                                <button class="btn">More Info</button>
                                            </div>
                                        </div>

                                        <div class="row lower_part">
                                            <div class="span2 offset1 about">
                                                <img class="lower_icon" src="images/about_icon.png" alt="about-icon" />
                                                <p>
                                                    Lorem Ipsum hospital,is accredited by Philihealth and RedCross
                                                </p>
                                            </div>
                                            <div class="span2 doctors">
                                                <img class="lower_icon" src="images/doctor_icon.png" alt="doctors-icon" />
                                                <div class="doctors_image">
                                                    <img src="images/featured_doctor1.png" alt="featured_doctor"/>
                                                </div>
                                                <div class="doctors_description">
                                                    <h6>
                                                        DR. ROBERT R. CHARLES
                                                    </h6>
                                                    <p>
                                                        General Surgeon
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="span2 specialization">
                                                <img class="lower_icon" src="images/specialization_icon.png" alt="specializations-icon" />
                                                <h6>FEATURED SPECIALIZATION</h6>
                                                <p>General Surgery, Orthopedics</p>
                                            </div>
                                        </div>
                                    </div> <!-- End of featured 1-->

                                    <div class="featured_item">
                                        <div class="row upper_part">
                                            <div class="span1 feature_pic">
                                                <img src="images/featured2.png" alt="featured_pic" />
                                            </div>
                                            <div class="span5 brief_description">
                                                <h4>LOREM IPSUM DOLOR SIT AMET</h4>
                                                <h5>Location: Bangkok, Thailand</h5>
                                                <p>Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum mas justo sitters amet risus.
                                                    Cras mattis cosi sectetut amet fermens tum aecenas faucib sadips amets. Libero tempore, cum soluta nobis est eligen
                                                    di optio cumque nihil impedit quo minus id quodsir maxime placeat facere possimus, omnis voluas assumenda est, omnis
                                                    dolor repellendus sadips ipsums fugiats vitae voluptas dolores amets
                                                </p>
                                            </div>
                                            <div class="span1 rating">
                                                <img src="images/rating2.png" alt="rating" />
                                                <div class="star_rating">
                                                    <img src="images/star_black.png" alt="star"/>
                                                    <img src="images/star_black.png" alt="star"/>
                                                    <img src="images/star_black.png" alt="star"/>
                                                    <img src="images/star_transparent.png" alt="star"/>
                                                    <img src="images/star_transparent.png" alt="star"/>
                                                </div>
                                                <button class="btn">More Info</button>
                                            </div>
                                        </div>

                                        <div class="row lower_part">
                                            <div class="span2 offset1 about">
                                                <img class="lower_icon" src="images/about_icon.png" alt="about-icon" />
                                                <p>
                                                    Lorem Ipsum hospital,is accredited by Philihealth and RedCross
                                                </p>
                                            </div>
                                            <div class="span2 doctors">
                                                <img class="lower_icon" src="images/doctor_icon.png" alt="doctors-icon" />
                                                <div class="doctors_image">
                                                    <img src="images/featured_doctor2.png" alt="featured_doctor"/>
                                                </div>
                                                <div class="doctors_description">
                                                    <h6>
                                                        DR. WILKY R. CHAN
                                                    </h6>
                                                    <p>
                                                        General Surgeon
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="span2 specialization">
                                                <img class="lower_icon" src="images/specialization_icon.png" alt="specializations-icon" />
                                                <h6>FEATURED SPECIALIZATION</h6>
                                                <p>General Surgery, Orthopedics</p>
                                            </div>
                                        </div>
                                    </div> <!-- End of featured 2-->

                                    <div class="featured_item">
                                        <div class="row upper_part">
                                            <div class="span1 feature_pic">
                                                <img src="images/featured3.png" alt="featured_pic" />
                                            </div>
                                            <div class="span5 brief_description">
                                                <h4>LOREM IPSUM DOLOR SIT AMET</h4>
                                                <h5>Location: Bangkok, Thailand</h5>
                                                <p>Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum mas justo sitters amet risus.
                                                    Cras mattis cosi sectetut amet fermens tum aecenas faucib sadips amets. Libero tempore, cum soluta nobis est eligen
                                                    di optio cumque nihil impedit quo minus id quodsir maxime placeat facere possimus, omnis voluas assumenda est, omnis
                                                    dolor repellendus sadips ipsums fugiats vitae voluptas dolores amets
                                                </p>
                                            </div>
                                            <div class="span1 rating">
                                                <img src="images/rating3.png" alt="rating" />
                                                <div class="star_rating">
                                                    <img src="images/star_black.png" alt="star"/>
                                                    <img src="images/star_black.png" alt="star"/>
                                                    <img src="images/star_black.png" alt="star"/>
                                                    <img src="images/star_transparent.png" alt="star"/>
                                                    <img src="images/star_transparent.png" alt="star"/>
                                                </div>
                                                <button class="btn">More Info</button>
                                            </div>
                                        </div>

                                        <div class="row lower_part">
                                            <div class="span2 offset1 about">
                                                <img class="lower_icon" src="images/about_icon.png" alt="about-icon" />
                                                <p>
                                                    Lorem Ipsum hospital,is accredited by Philihealth and RedCross
                                                </p>
                                            </div>
                                            <div class="span2 doctors">
                                                <img class="lower_icon" src="images/doctor_icon.png" alt="doctors-icon" />
                                                <div class="doctors_image">
                                                    <img src="images/featured_doctor3.png" alt="featured_doctor"/>
                                                </div>
                                                <div class="doctors_description">
                                                    <h6>
                                                        DR. GREGORY HOUSE
                                                    </h6>
                                                    <p>
                                                        General Surgeon
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="span2 specialization">
                                                <img class="lower_icon" src="images/specialization_icon.png" alt="specializations-icon" />
                                                <h6>FEATURED SPECIALIZATION</h6>
                                                <p>General Surgery, Orthopedics</p>
                                            </div>
                                        </div>
                                    </div> <!-- End of featured 3-->

                                    <div class="featured_item">
                                        <div class="row upper_part">
                                            <div class="span1 feature_pic">
                                                <img src="images/featured4.png" alt="featured_pic" />
                                            </div>
                                            <div class="span5 brief_description">
                                                <h4>LOREM IPSUM DOLOR SIT AMET</h4>
                                                <h5>Location: Bangkok, Thailand</h5>
                                                <p>Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum mas justo sitters amet risus.
                                                    Cras mattis cosi sectetut amet fermens tum aecenas faucib sadips amets. Libero tempore, cum soluta nobis est eligen
                                                    di optio cumque nihil impedit quo minus id quodsir maxime placeat facere possimus, omnis voluas assumenda est, omnis
                                                    dolor repellendus sadips ipsums fugiats vitae voluptas dolores amets
                                                </p>
                                            </div>
                                            <div class="span1 rating">
                                                <img src="images/rating4.png" alt="rating" />
                                                <div class="star_rating">
                                                    <img src="images/star_black.png" alt="star"/>
                                                    <img src="images/star_black.png" alt="star"/>
                                                    <img src="images/star_black.png" alt="star"/>
                                                    <img src="images/star_transparent.png" alt="star"/>
                                                    <img src="images/star_transparent.png" alt="star"/>
                                                </div>
                                                <button class="btn">More Info</button>
                                            </div>
                                        </div>

                                        <div class="row lower_part">
                                            <div class="span2 offset1 about">
                                                <img class="lower_icon" src="images/about_icon.png" alt="about-icon" />
                                                <p>
                                                    Lorem Ipsum hospital,is accredited by PhilHealth and RedCross
                                                </p>
                                            </div>
                                            <div class="span2 doctors">
                                                <img class="lower_icon" src="images/doctor_icon.png" alt="doctors-icon" />
                                                <div class="doctors_image">
                                                    <img src="images/featured_doctor4.png" alt="featured_doctor"/>
                                                </div>
                                                <div class="doctors_description">
                                                    <h6>
                                                        DR. IMELDA PAPIN
                                                    </h6>
                                                    <p>
                                                        General Surgeon
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="span2 specialization">
                                                <img class="lower_icon" src="images/specialization_icon.png" alt="specializations-icon" />
                                                <h6>FEATURED SPECIALIZATION</h6>
                                                <p>General Surgery, Orthopedics</p>
                                            </div>
                                        </div>
                                    </div> <!-- End of featured 4-->

                                    <div class="pagination">
                                        <img src="images/page_back.png">
                                        <span class="current">1</span>
                                        <a class="inactive" href="#">2</a>
                                        <a class="inactive" href="#">3</a>
                                        <a class="inactive" href="#">4</a>
                                        <a class="inactive" href="#">5</a>
                                        <img alt="rss" src="images/page_forward.png">
                                    </div>
                                </div> <!--End of featured_wrap-->

                                <!--Travel Section Slider-->
                                <script type="text/javascript">
                                    $(document).ready(function ($) {
                                        var travels = $(".travel_section_item");
                                        for(var i = 0; i < travels.length; i+=4) {
                                            travels.slice(i, i+4).wrapAll('<div class="four_items"></div>');
                                        }

                                        $('.travel_section').cycle({
                                            fx: 'scrollHorz',
                                            easing: 'swing',
                                            speed: 2000,
                                            timeout: 5000,
                                            pause: 1,
                                            cleartype: true,
                                            cleartypeNoBg: true,
                                            pager: '.travel_navi .travel_navi_links'
                                        });

                                        // Tooltip javascript

                                        $('.travel_section_item').each(function () {
                                            $(this).qtip({
                                                content: $(this).children('.qtip_content'),
                                                show: 'mouseover',
                                                hide: 'mouseout',
                                                position: {
                                                    corner: {
                                                        target: 'topMiddle',
                                                        tooltip: 'bottomMiddle'
                                                    }
                                                },
                                                tip: 'bottomMiddle'
                                            });
                                        });

                                        $('.travel_section_item').remove('.qtip_content');

                                        $('#aside_scrollbar').tinyscrollbar();
                                    });
                                </script>

                                <div id="bottom_scroll">
                                <!--Slider Navigators-->
                                    <div class="travel_navi"><div class="travel_navi_links"></div></div>

                                    <div class="heading"></div>
                                    <div class="travel_section row">
                                        <div class="travel_section_item span2">
                                            <div class='qtip_content'>Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum mas justo sitters amet</div>
                                            <a href="#"><img src="images/scroll1.png" alt="img_preview" /></a>
                                            <h6>THAILAND MEDICAL</h6>
                                        </div>

                                        <div class="travel_section_item span2">
                                            <div class='qtip_content'>Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh</div>
                                            <a href="#"><img src="images/scroll2.png" alt="img_preview" /></a>
                                            <h6>DUBAI FAMOUS CLINIC</h6>
                                        </div>

                                        <div class="travel_section_item span2">
                                            <div class='qtip_content'>Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh</div>
                                            <a href="#"><img src="images/scroll3.png" alt="img_preview" /></a>
                                            <h6>SOME PLACE IN MALAYSIA</h6>
                                        </div>

                                        <div class="travel_section_item span2">
                                            <div class='qtip_content'>Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh</div>
                                            <a href="#"><img src="images/scroll4.png" alt="img_preview" /></a>
                                            <h6>YOGA SESSION INDIA</h6>
                                        </div>

                                        <div class="travel_section_item span2">
                                            <div class='qtip_content'>Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh</div>
                                            <a href="#"><img src="images/scroll5.png" alt="img_preview" /></a>
                                            <h6>RUSSIA</h6>
                                        </div>

                                        <div class="travel_section_item span2">
                                            <div class='qtip_content'>Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh</div>
                                            <a href="#"><img src="images/scroll6.png" alt="img_preview" /></a>
                                            <h6>FAITH HEALING IN SAUDI</h6>
                                        </div>

                                        <div class="travel_section_item span2">
                                            <div class='qtip_content'>Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh</div>
                                            <a href="#"><img src="images/scroll7.png" alt="img_preview" /></a>
                                            <h6>NATURAL HEALING CROATIA</h6>
                                        </div>

                                        <div class="travel_section_item span2">
                                            <div class='qtip_content'>Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh</div>
                                            <a href="#"><img src="images/scroll8.png" alt="img_preview" /></a>
                                            <h6>SPECIALISTS IN AUSTRALIA</h6>
                                        </div>

                                    </div>
                                    <div class="heading"></div>
                                </div> <!-- End of bottom_scroll-->

                            </div> <!-- End of featured -->