<header id="header">

    <div class="top_line">

    </div>
    <div class="inner">

        <div class="logo">

            <a href="index.html">
                   <img src="{{ asset('images/frontend/logo.png') }}" alt="#" />
            </a>

        </div> <!--End Logo-->

        <!--
        <div class="search_box">

           <form method="get" action="#">

                <input type="submit" class="sb" value="Search" />

                <input type="text" class="sf" value="Search here ..." name="s"" />

            </form>

        </div>
        -->
        <!--Search Box-->
        {% block searchBox %}
            {% render "SearchBundle:Frontend:showWidget" with { 'context' : 'homepage' } %}
        {% endblock %}

    </div> <!--Inner-->

</header> <!--End Header-->
