<script type="text/javascript">

	(function($){

		$(function(){
			// main slider
	        $('.slider').cycle({
	             fx: 'fade',
	             speed: 300,
	             timeout:5000,
	             pause: 1,
	             cleartype: true,
	             cleartypeNoBg: true,
	             pager: 'ul.slider_nav',
	             after: function(){
	             	$('.slider_items .slider_caption').stop().animate({opacity:1, bottom:0},{queue:false,duration:300 });
	                 $('.feature_video_icon, .feature_slide_icon, .feature_article_icon').stop().animate({top:0},{queue:true,duration:300});
	             },
	             before: function(){
	            	 $('.slider_items .slider_caption').stop().animate({opacity:1, bottom:'-120px'},{queue:false,duration:300});
	     			$('.feature_video_icon, .feature_slide_icon, .feature_article_icon').animate({top:'-40px'},{queue:true,duration:300});
	             },
	             pagerAnchorBuilder: function(idx, slide) {

	                 return 'ul.slider_nav li:eq(' + (idx) + ')';
	             }
			});

	        $('ul.slider_nav li').hover(
    	        function() {
	        		$('.slider').cycle('pause');
	        	}, 
	        	function () {
	        		$('.slider').cycle('resume'); 
	          }
          );
	        // slider nav
	        $('.slider_nav li:not(.activeSlide) a').click(
	        	function () {
	        		$('.slider_nav li a').css('opacity', 0.7);
	        		$(this).css('opacity', 1);
        		}
			);

	        $('.slider_nav li:not(.activeSlide) a').hover(
	        	function () {
	        			$(this).stop(true, true).animate({opacity: 1}, 300);

	        		}, function () {

	        			$(this).stop(true, true).animate({opacity: 0.7}, 300);
	        			}

	        		);

	      //latest vids wrap		
			var vids = $(".lates_feat_item");		
			for(var i = 0; i < vids.length; i+=4) {
		
				vids.slice(i, i+4).wrapAll('<div class="four_items"></div>');		
			}
		    //latest news video
		
		$('.scroll_items').cycle({
		
			fx: 'scrollHorz',		
			easing: 'swing',		
			speed: 3000,		
			timeout:7000,		
			pause: 1,		
			cleartype: true,	
			cleartypeNoBg: true,		
			pager: '.navi .navi_links',		
		});
	          
	    });

	})(jQuery);
</script>