{% extends 'FrontendBundle::layout.html.twig' %}
{% set isHomePage = true %}
{% block content %}

	<div id="main_content" class="row" style="margin-top: 40px;"> <!-- TODO: Remove Inline style -->
	    <!-- Main Content -->
		<div id="content" class="span8">
            {% render 'AdvertisementBundle:Frontend:renderHomepagePremierAdvertisements' %}
            
            {% render 'AdvertisementBundle:Frontend:renderHomepageFeaturedClinics' %}

            {# include 'FrontendBundle:Widgets/Ads:destinations.html.twig' #}
		</div> <!--End Main Content -->

		
		<!--Sidebar Content -->
		<aside id="aside-content" class="span4">
            {% render 'AdvertisementBundle:Frontend:renderHomepageFeaturedPosts' %}

            {% render 'AdvertisementBundle:Frontend:renderHomepageCommonTreatments' %}

            {% render 'AdvertisementBundle:Frontend:renderFeaturedHomepageVideo' %}
		</aside> <!--End of Sidebar Content -->

	</div>

	{{ addInlineJavascript(getTemplateContents('FrontendBundle:Default:indexInline.js.twig')) }} 	
    
{% endblock %}