{% extends 'FrontendBundle::layout.html.twig' %}
{% block content %}
	{% block wrappedContent %}
	
		<div class="main">
			<div class="box_outer" id="feature_outer">
		    	<div class="Feature_news">
					<div class="slider_wrap">
						<div class="slider_items">
							<div class="slider">
									{% include 'FrontendBundle:Main:featuredSlider.html.twig' %}
								</div> <!--Slider-->
							</div> <!--Slider Items-->
						<div class="clear"></div>
					</div> <!--Slider_wrap-->
				</div> <!--End Feature news-->
			</div> <!--End Feature Outer-->	
			
			<!-- featured institution advertisement Slider Post -->
			{% render 'FrontendBundle:Advertisement:showFeaturedInstitutionAdvertisement' %}
			
			<!-- featured listings -->
			{% render 'FrontendBundle:Advertisement:showFeaturedListingAdvertisement' %} 
			
		</div> <!--End Main-->
		<!-- Sidebar Navigation -->
		{% block right_navigation %}
			{% include 'FrontendBundle:Default:sidebar.html.twig' %}
		{% endblock %}
		
	{% endblock %}
	
	{{ addInlineJavascript(getTemplateContents('FrontendBundle:Default:indexInline.js.twig')) }} 	

{% endblock %}
