{% extends 'FrontendBundle::layout.html.twig' %}

{% block content %}

	<div id="main_content" class="row">

	    <!-- Main Content -->
		<div id="content" class="span8">
            {% include 'FrontendBundle:Widgets/Ads:highlights.html.twig' %}
            
            {% include 'FrontendBundle:Widgets/Ads:featuredClinics.html.twig' %}

            {% include 'FrontendBundle:Widgets/Ads:destinations.html.twig' %}
		</div> <!--End Main Content -->

		
		<!--Sidebar Content -->
		<aside id="aside_content" class="span4">
            {% include 'FrontendBundle:Widgets/Ads:asideNews.html.twig' %}

            {% include 'FrontendBundle:Widgets/Ads:asideCommonTreatments.html.twig' %}

            {% include 'FrontendBundle:Widgets/Ads:asideImageAds.html.twig' %}
		</aside> <!--End of Sidebar Content -->

	</div>

	{{ addInlineJavascript(getTemplateContents('FrontendBundle:Default:indexInline.js.twig')) }} 	

{% endblock %}