{% extends 'FrontendBundle::layout.html.twig' %}

{% block content %}

    	<div id="main_content" class="row">
    	
    	    <!-- Main Content -->
    		<div class="span8">
                {% include 'FrontendBundle:Widgets/Ads:highlights.html.twig' %}
                
                {% include 'FrontendBundle:Widgets/Ads:featuredClinics.html.twig' %}

                {% include 'FrontendBundle:Widgets:destinations.html.twig' %}
    		</div> <!--End Main Content -->

    		
    		<!--Sidebar Content -->
    		<div  id="aside_content" class="span4">
                {% include 'FrontendBundle:Widgets:sidebarNews.html.twig' %}

                {% include 'FrontendBundle:Widgets:sidebarTreatments.html.twig' %}

                {% include 'FrontendBundle:Widgets/Ads:sidebarAds.html.twig' %}
    		</div> <!--End of Sidebar Content -->

    	</div>
	
	{{ addInlineJavascript(getTemplateContents('FrontendBundle:Default:indexInline.js.twig')) }} 	

{% endblock %}
