{% extends 'FrontendBundle::layout.html.twig' %}

{% block content %}
    <div id="details" class="row">
        <div id="main_content" class="span12">
            <header class="filters">
                <h2 class="total">Destinations</h2>
            </header>
            <div class="media search-matches treatments">
                <div class="matches">

                        {% for country in countries %}

                            <ul class="match" style="width:200px;">
                                <li><h5><a href="{{ path('frontend_search_results_countries', {country: country.slug}) }}">{{ country.name }}</a></h5></li>

                                {% set cities = country.cities %}
                                {% for city in cities %}
                                    <li><a href="{{ path('frontend_search_results_cities', {country: country.id, city: city.slug}) }}">{{ city.name }}</a></li>
                                {% endfor %}

                            </ul>
                        {% endfor %}


                </div>
            </div>

        </div><!--End of main_content-->

    </div>
<!--End of content-->
{% endblock %}