/*!
 * Health Care Abroud Style
 *
 */
 body
 {
    color: #002A5C;
 }
 body, .btn
 {
	font-size:12px;
 }

[class^="icon-"], [class*=" icon-"]
{
    background-image: url("/images/glyphicons-halflings.png");
}

.icon-white, 
.nav-tabs > .active > a > [class^="icon-"], 
.nav-tabs > .active > a > [class*=" icon-"], 
.nav-pills > .active > a > [class^="icon-"], 
.nav-pills > .active > a > [class*=" icon-"], 
.nav-list > .active > a > [class^="icon-"], 
.nav-list > .active > a > [class*=" icon-"], 
.navbar-inverse .nav > .active > a > [class^="icon-"], 
.navbar-inverse .nav > .active > a > [class*=" icon-"], 
.dropdown-menu > li > a:hover > [class^="icon-"], 
.dropdown-menu > li > a:hover > [class*=" icon-"], 
.dropdown-menu > .active > a > [class^="icon-"], 
.dropdown-menu > .active > a > [class*=" icon-"] 
{
    background-image: url("/images/glyphicons-halflings-white.png");	
}

a:hover
{
    text-decoration:none;
    
}
.institutionbox
{
    margin: 70px 0 0 0;
    padding-bottom: 2px;
}
.institutionbox-inner 
{
    margin:10px 0 0 0;

}
.institutionbox-inner .navbar-inner
{
    padding:20px;
}
.institutionbox-inner .navbar-inner img
{
    padding:2px;
    border: 1px solid #333;
}
.institutionbox-inner .span7
{
    margin-left: 0;
}
.institutionbox-inner .span6
{
    margin-left: 0;
}
.institutionbox-inner .span4
{
    margin-left: 0;
}

.institutionbox-inner .span2
{
    margin-left: 0;
    width: 160px;
}
.institutionbox-inner p
{
    line-height: 12px;
    font-size: 13px;
}
.institutionbox-inner h5
{
    font-weight: normal;
    color:#d4d4d4;
    padding-bottom: 10px;
    
}
.institutionbox-inner h2 a:hover
{   
    text-decoration: none;
}
.institutionbox-inner h3
{
    color:#002A5C;
    padding-top: 20px;
    line-height:30px;
}
.maincontent h3 a
{
    background-color: #CEECF6;
    color: #AAAAAA;
    font-weight: normal;
    padding: 5px;
}
/*
==================== Feature ===========
*/
#feature {

  position: relative;
  z-index: 1;
  margin: 0;
  padding-bottom: 0;
}
#feature .row
{
    margin-left: 0;
}
#feature .span12 
{
    margin:0;
    padding:0;
    min-height: 10px;
    
}

.navbar .brand
{
    color: #002A5C;
}
.navbar .btn span
{
    background-color: none;
}
.navbar .userbox
{
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 14px;
    text-align: center;
    vertical-align: middle;
}
.navbar .userbox a
{    
    font-size: 13px;
    padding-left: 5px;   
}
.navbar-fixed-top .btn
{
    border: none;
    background-image: none;
    background-color: none;
    box-shadow: none;
    font-size: 12px;
}
.navbar-fixed-top .btn a
{

    font-size: 13px;
    padding-left: 5px;
}
.navbar-fixed-top img
{
    padding: 5px 7px;
}
.navbar-fixed-top .icon-user
{
    margin-left: 5px;
}
#box-1 .span1
{
    float: right;
    padding:0px 10px 0 10px;
    margin-top: 30px;
}

.stepbox
{
    background-color:#f2f2f2; 
    padding: 10px 20px;
    margin: 20px 0;
}
.nav-tabs > li a:hover
{
    background-color: #D9EDF7;
    
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover
{
    background-color: #e2e2e2;
}
.addcenterbox .nav-tabs > .active > a
{
    background-color: #ffffff;
}
.addcenterbox .btn-medium
{
    font-size: 14px;    
}


#myContent .nav-tabs > .active > a
{
    background-color: #e5e5e5;
}

#myContent .nav-tabs > ul
{
    clear: both;
    margin-left: 0;
    
}

#myContent .nav-tabs > li 
{
    padding: 0;
}
#myContent .nav-tabs > li > a
{
    width:18%;
    min-height: 190px;
    padding: 10px;
    border-radius:0;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    float: left;
    background-color:#ffffff ;


}
#myContent .nav-tabs .nav-stacked> li > a
{
    border: none;
    
}
#myContent .nav-tabs > li > a:hover
{
    background-color: #f4f4f4;

}
#myContent .nav-tabs li:first-child > a {
  
    margin-left: 0px;
}

#myContent h2
{
    color: #002A5C;
    line-height: 20px;
}
#myContent .nav-tabs
{
    border: none;
}
#myContent p
{
    color: #999999;
    font-size: 13px;
    clear: both;
    line-height: 20px;
}
#myContent h1
{
    float: left;
    margin-right: 20px;
}
#myContent h5
{
    padding:0 10px 0 0;
    margin: 10px 0 5px 0;
    line-height:22px;

}
#myContent .row
{
    margin-left: 0;

}
.maincontent .span3, .span1, .span4, .span5
{
    margin-left:0;
}

.boxcontent {
	clear: both;
    margin-bottom: 50px;	
}

.boxcontent .span3 ul
{
    margin-bottom:0px;
}
.boxcontent .span3 h1
{
    line-height:10px;
    margin-right:10px;
    color:#0066CC;
}
.boxcontent .span3 table
{
    margin:0 0 15px 50px;
}
.boxcontent .span3 td
{
    padding:12px 0;
    color:#999999;
    vertical-align:bottom;
}
.boxcontent h7
{
    font-size:14px;
    font-weight:bold;
}
.boxcontent h8
{
    font-size:13px;
    font-weight:bold;

}
.boxcontent .listing
{
    padding:0px;
}
.boxcontent .listing .detailbox
{
    border:#CCCCCC solid 1px;
    padding:20px;
    

}
.boxcontent .specialist h5
{ 
    background: none;
    padding: 0;

}
.boxcontent .specialist img
{
    margin:0 10px 0 10px;
    padding:2px;
    border: 1px solid #cccccc;
}
.boxcontent .specialist .span4
{
    margin-bottom: 20px;
}
.boxcontent .specialist p
{
    margin-bottom: 5px;
}

.treatmentlisting
{
    margin-top:5px;
    margin-left:15px;

}
.treatmentlisting ul
{
    margin-top:8px;
    margin-left:0;
}

.treatmentlisting li
{
    margin:10px 0 0 0;
}
.specializationdetails
{
    margin:0 0 10px 0;
}

/*for adding center*/
.addcenterbox
{
background-color: #FAFAFA;
border-radius: 6px 6px 6px 6px;
float: none;
margin: 0 auto 30px;
padding: 25px;  
}
.addcenterbox .tab-content
{
    background-color: #ffffff;
    padding:10px 20px 20px 20px;
    margin-top: 0;
    border-bottom: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}
.addcenterbox .nav
{
    margin-bottom: 0;
}
.addcenterbox .row-fluid .span6
{
    margin-left: 0;
}
.addcenterbox .row-fluid .span7
{
    margin-left: 0;
}

.accordion-heading .accordion-toggle
{
    padding: 0;
}
.addcenterbox .accordion-group
{
    margin-bottom:0px;
}
.addcenterbox .accordion
{
    margin-bottom:0px;
}
.addcenterbox h5
{
    
    background-color: #F2F2F2;
       margin: 0;
       padding: 10px;
}




.boxcontent label 
{
    margin: 0 8px 4px 10px;
}
.boxcontent .comments 
{
padding: 0;

}
.boxcontent li
{
    list-style: none;
}


/*for adding center*/
.listingbox
{
background-color: #FAFAFA;
border-radius: 6px 6px 6px 6px;
float: none;
margin: 0 auto 30px;
padding: 25px;  
}
.listingbox .tab-content
{
    background-color: #ffffff;
    padding:10px 20px 20px 20px;
    margin-top: 0;
    border-bottom: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}
.listingbox .nav
{
    margin-bottom: 0;
}
.listingbox .row-fluid .span6
{
    margin-left: 0;
}
.listingbox .row-fluid .span7
{
    margin-left: 0;
}
.listingbox .btn
{
    float: right;
    margin-left:15px;
}
.listingbox .accordion-group
{
    margin-bottom:0px;
}


/*accordion*/

.treatmentbox
{
    
    background-color: #f4f4f4;

}
.treatmentbox2
{
    padding: 15px 20px;
}
.treatmentbox h5
{
    padding: 10px;
    background-color: #f2f2f2;
    margin:0 0 0 0;
}
.treatmentbox .boxcontent
{
    background-color: #ffffff;
    padding: 20px 25px;
}
.treatmentbox .boxcontent2
{
    background-color: #fafafa;
    padding: 10px 10px 20px 10px;
}
.treatmentbox .boxcontent2 p
{
    margin: 0 0 0 12px;
    line-height: 15px;
}
.treatmentbox img
{
    float: right;
    margin-top: -5px;
}
.treatmentbox .accordion-inner
{
    padding: 0;
}
.sidebar-nav .nav-header
{
    padding-left: 0;
    font-size: 13px;
}
.sidebar-nav [class^="icon-"], [class*=" icon-"] 
{
    margin-right: 5px;
}
.sidebar-nav img
{
    width: 50px;
    float: left;
    margin: 5px 15px 10px 0;
}
/*account form*/
.accountbox
{
    float:none; margin:80px auto 0 auto; background-color: #F4F4F4; border-radius: 6px 6px 6px 6px; border: 3px solid #999999; margin-bottom: 30px; padding: 25px 30px 25px 30px; width: 850px;
}
.medicalbox-big
{
    margin: -85px 0 20px 0px; text-align: center;
}
.accountbox h2, h3, h4, h5
{
margin: 0;
}
.accountbox h3
{
color: #002A5C;
margin-left: 5px;
background-image:url("../../images/institution/HCA-logo-small.png") ;
background-repeat: no-repeat;
padding: 0px 0 10px 40px;
    
}
.title h4
{
background-color:#386e9d; color:#ffffff; font-weight:normal; padding:10px 15px; 
}
.accountbox h5
{
color: #005fa7;
}
.accountbox .span6
{
    padding: 10px 15px;
}
.accountbox .span6 .map
{
    padding: 10px 0 15px 0px;
}
.accountbox .span6 ul
{
list-style-type: none;
margin-left: 0;
padding: 2px 5px;
}
.accountbox2
{
    margin: 10px;
}
.accountbox .span2, .span7
{
    margin-right: 10px;
}
.accountbox .span11
{
    margin-left: 55px;
}
.accountbox .pull-right .btn-primary
{
    padding: 10px 22px; font-size:18pt;
    margin-right: 20px;
}
/*sign-up*/
.signupbox
{
    float:none; margin:0 auto; background-color: #F4F4F4; border-radius: 6px 6px 6px 6px; border: 3px solid #999999; margin-bottom: 30px; margin-top: 80px; padding: 25px 25px 10px 25px;
}
.signupbox ul
{
list-style-type: none;
margin-left: 0;
margin-right: 5px;
padding: 2px 5px;
}
.signupbox h3
{
    color: #002A5C;
    margin-left: 5px;
    background-image:url("../../images/institution/HCA-logo-small.png") ;
    background-repeat: no-repeat;
    padding: 0px 0 0px 40px;
}
.signupbox h5
{
    color:#005fa7;
}
.signupbox img
{

    clear: both;
}
.signupbox .span11
{
    margin-left: 0;
    margin: 0 25px;
}
.signupbox .pull-right
{
    margin-right: 5px;
}

.signupbox input [type="radio"], input[type="checkbox"] 
{
    cursor: pointer;
        line-height: normal;
        margin: -3px 3px 0 0;
}
.signupbox label [type="radio"], input[type="checkbox"] 
{
    cursor: pointer;
        line-height: normal;
        margin: -3px 3px 0 0;
}



/*comments*/
.commentsbox
{
    margin:10px 0 30px -15px;
}
.commentsbox img
{
    min-width:50px;
    margin-right:10px;
}
.commentsbox .span1
{
    margin-left:0;
}
.treatmentbox h6
{
    background-color: #F2F2F2;
    margin: 0;
    padding:5px  10px;
}

.commentsbox2
{
    border:#999999 1px solid;
    margin:0 15px 0 0px;
    padding:20px 10px 15px 0;
    width:87%;
}
.commentsbox ul li
{
    list-style-type:none;
    margin-right:10px;
}
.commentsbox
{
    clear:both;
}
/*modal*/
.modal
{
    width:600px;
}
.btn-mini
{
    color: #3399cc;
}

.row .mainfeature .table 
{
    background-color: #ffffff;

}
.row .mainfeature .table td active
{
    background-color: #333333;

}

.stepsbox ul, ol
{
    width: 100%;
    background-color: #ffffff;
    margin: 0 0 0 0;
    
}
.stepsbox li > a
{
    
    
    background-color: #ffffff;
    
}
.stepsbox li 
{
    
    display: block;
    width: 20%;
    float: left;
    background-color: #FFFFFF;
}
.stepsbox li .active 
{
background-color: #cccccc;

}
.stepsbox li li:first-child > a {
    margin-left: 0;
}
.stepsbox li > .active > a {
    background-color: #E5E5E5;
}




/*=============== Custom CSS for temporary fixed ============= */

#main-content {
	margin-top: 70px;
}

.auto-width: {
	width: auto;
}

.align-left {
	text-align: left;
}

.align-right {
    text-align: right;
}


/* jQuery UI Dialg Style */

.ui-dialog {
    border: none;
    border-radius: 10px;
}

.ui-dialog-titlebar {
    border: none;
    color: #759E1A;
    padding: 25px 10px 15px 35px;
    background: none;
    font-size: 15px;
}

.ui-dialog-titlebar-close {
    top: 13px;
    right: 15px;
    position: absolute;
}

.ui-dialog-content {
    border: none; 
    padding: 5px 15px 35px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ui-dialog-content > p {
    margin-bottom: 20px;
    font-size: 12px;
}

.ui-dialog-buttonpane {
    border: none;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ui-dialog-buttonset .ui-button {
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
}

.ui-widget-overlay {
    position: fixed;
}

div.raw-content {
    padding: 10px;
    border: 1px solid #EEEEEE;
}

.raw-content ul,
.raw-content ol,
.raw-content p {
    margin-bottom: 10px;
}

.raw-content ul,
.raw-content ol {
    margin-left: 30px;
}

.raw-content *:last-child {
    margin-bottom: 0;
}

/* Filter Results */

#filter-wrapper {
    width: 70%;
    position: relative;
    padding: 6px 0;
    border: 1px solid #ddd;
    border-top-right-radius: 5px;
    margin: 30px 0 10px;
    text-align: right;
    background: #F5F5DC;
}

#filter-wrapper > div {
    margin-right: 20px;
    display: inline-block;
}

#filter-wrapper .caption {
    top: -25px;
    left: -1px;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 20px;
    margin-right: 50px; 
    position: absolute; 
    display: inline-block; 
    background: #F5F5DC;
    border-top: 1px solid #ddd; 
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd; 
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#filter-wrapper .btn {
    margin-right: 10px;
}
#filter-wrapper label {
    text-align: left;
    display: inline-block;
}

#filter-wrapper select {
    padding: 5px;
    width: auto;
    margin: 0;
    min-width: 100px;
}


/* Admin Custom Sidebar */
.admin-sidebar {
    clear: both;
    float: right;
    width: 270px;
    margin: 0 0 20px 10px;
    min-height: 100px;
    border-radius: 8px;
    padding-bottom: 10px;
    border: 1px solid #AAAAAA;
    box-shadow: 0 0 1px 3px #EEEEEE;
}

.admin-sidebar h3.heading {
    margin: 0;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: normal;
    padding: 10px 20px;
    background: #555555;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.admin-sidebar .section {
    margin: 0 20px;
    padding: 10px 0;
    border-top: 1px dashed #AAAAAA;
}

.admin-sidebar .section:nth-child(2) {
    border: none;
}

.admin-sidebar .section .title {
    color: #444444;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    padding: 8px 0 6px 30px;
    background: url(/images/admin/forms/icon_edit.gif) no-repeat scroll 0 5px transparent; 
}

.admin-sidebar .section .title.add-icon {
    background-image: url(/images/admin/forms/icon_plus.gif); 
}

.admin-sidebar .section .title.delete-icon {
    background-image: url(/images/admin/forms/icon_minus.gif); 
}

.admin-sidebar .section p {
    font-size: 11px;
    margin-left: 30px;
}

.admin-sidebar ul.links {
    font-size: 11px;
    list-style: none;
    margin: 5px 0 5px 30px;
}

.admin-sidebar ul.links li {
    padding-left: 15px; 
    margin-bottom: 5px;
    background: url(/images/admin/forms/icon_list_arrow.gif) no-repeat 0 4px;
}
.admin-sidebar ul.links li a {
    color: #92B22C;
    font-weight: bold;
}
.admin-sidebar ul.links li a:hover {
    text-decoration: underline;
}
.admin-sidebar div:first-child {
    background: red;
}
/* End of Admin Custom Sidebar */


/* Sorting Lists */
.sortable-list th > a[class=sort-asc]:hover,
.sortable-list th > a.sort-asc,
.sortable-list th > a.sort-desc {
    display: block;
    background: url(/images/admin/table/sort_down.png) no-repeat scroll right 0 transparent;
}


.sortable-list th > a:hover,
.sortable-list th > a.sort-asc {
	display: block;
    background: url(/images/admin/table/sort_up.png) no-repeat scroll right 5px transparent;    
}
/* End of Sorting Lists */

.ajax-loading {
    width: 145px;
    color: #888888;
    font-size: 13px;
    padding: 10px 45px; 
    margin: 20px auto 50px;
    text-transform: uppercase;      
    background: url(/images/admin/ajax-loader.gif) no-repeat scroll 0px 0px transparent; 
}

.ajax-loading {
	
}

/*
================== End of Custom CSS fixed ======================
*/



/*
================== Responsive ======================
*/
@media (max-width: 767px) {
  
  #feature {
    display: none !important;
  }
  .institutionbox
  {
    margin: 0 0 0 0;
  }