{% extends 'PageBundle::layout.html.twig' %}
{% block body %}
<body>

<div class="fixed">

	{% include 'PageBundle:Default:TopHeader.html.twig' %}
	{% include 'PageBundle:Default:header.html.twig' %}
	{% include 'PageBundle:Default:navigation.html.twig' %}
	<div class="inner">	
		<!-- News Ticker -->	
	</div> <!--End Inner-->
	<div class="inner">
   		<div class="container">
			{% include 'PageBundle:Main:mainContent.html.twig' %}
			{% include 'PageBundle:Default:sidebar.html.twig' %}
		</div>
	</div>
	{% include 'PageBundle:Footer:footer.html.twig' %}

</div>
{% endblock %}