<div id="top" class="top_bar">

    <div class="inner">
        
		<div class="news_ticker">
        
			<div class="ticker_icon"></div>
        
				<ul id="ticker01">
        
				<li><span>&#9733;</span><a href="#">Sed ut perspiciatis unde</a></li>
        
				<li><span>&#9733;</span><a href="#">Unde REVOLUTION &ndash; 25 October 2012</a></li>
        
				<li><span>&#9733;</span><a href="#">magni dolores eos</a></li>
        
				<li><span>&#9733;</span><a href="#">vel illum qui dolorem eum fugiat</a></li>
        
				<li><span>&#9733;</span><a href="#">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam</a></li>
        
				<li><span>&#9733;</span><a href="#">quis nostrum exercitationem ullam</a></li>
        
				<li><span>&#9733;</span><a href="#">Duis aute irure dolor in reprehenderit</a></li>
        
				<li><span>&#9733;</span><a href="#">magni dolores eos</a></li>
        
			</ul>       
		</div><!--News Ticker-->
		
    </div> <!--End Inner-->
    
</div> <!--End Topbar-->