HealthCareAbroad\AdvertisementBundle\Entity\AdvertisementPropertyValue:
    type: entity
    table: advertisement_property_values
    repositoryClass: HealthCareAbroad\AdvertisementBundle\Repository\AdvertisementPropertyValueRepository
    fields:
        id:
            id: true
            type: bigint
            nullable: false
            generator:
                strategy: IDENTITY
        value:
            type: text
            nullable: false
    manyToOne:
        advertisementPropertyName:
            targetEntity: HealthCareAbroad\AdvertisementBundle\Entity\AdvertisementPropertyName
            cascade: {  }
            mappedBy: null
            inversedBy: null
            joinColumns:
                advertisement_property_name_id:
                    referencedColumnName: id
            orphanRemoval: false
        advertisement:
            targetEntity: HealthCareAbroad\AdvertisementBundle\Entity\Advertisement
            cascade: 
                - "persist"
            mappedBy: null
            inversedBy: advertisementPropertyValues
            joinColumns:
                advertisement_id:
                    referencedColumnName: id
            orphanRemoval: false
    lifecycleCallbacks: {  }
