{% if breadcrumbs is defined %}
<div id="breadcrumbs-wrapper" class="container">
    {% spaceless %}
	<ul class="breadcrumb row">
		<li><a href="{{ path('frontend_main_homepage')}}">Home</a></li>
		{% for each in breadcrumbs %}
		    {% set label = each.label|length > 42 ? each.label|slice(0, 40) ~ ' ...' : each.label %}
    		{% if not loop.last %}
                <li class="active"><a href="{{ each.url }}">{{ label }}</a></li>
    		{% else %}
    		    <li class="last"><a>{{ label }}</a></li>
		    {% endif %}
		{% endfor %}
	</ul>
	{% endspaceless %}
</div>
{% endif %}