<div class="breadcrumb_bar">
	<ul class="breadcrumb">
		<li>
			<div class="home">
				<a href="/index.html"><img src="/images/frontend/home_icon.png" /></a>
			</div>
			<div class="home_divider">&nbsp;</div>
		</li>
		<!--<li>
			<div>
				<a href="#">Some Institution</a>
			</div>
			<div class="divider">&nbsp;</div>
		</li>-->
		<!--<li>
			<div class="active">
				<a href="#">Some Clinic</a>
			</div>
			<div class="divider">&nbsp;</div>
		</li>-->
	</ul>
</div>