<div class="travel_section_wrapper">
	<div class="heading">
		<div class="heading_text"><h3>Destinations</h3></div>
	</div>

	<div id="destination_carousel" class="carousel slide">
		<div class="carousel-inner">
			<div class="active item">
				<div class="row">
					<div class="span2">
						<a rel="popover" data-content="Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh" href="#"><img class="img-polaroid" src="/images/frontend/scroll1.png" alt="img_preview" /></a>
						<h6>hawaii</h6>
					</div>
					<div class="span2">
						<a rel="popover" data-content="Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh" href="#"><img class="img-polaroid" src="/images/frontend/scroll2.png" alt="img_preview" /></a>
						<h6>thailand</h6>
					</div>
					<div class="span2">
						<a rel="popover" data-content="Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh" href="#"><img class="img-polaroid" src="/images/frontend/scroll3.png" alt="img_preview" /></a>
						<h6>philippines</h6>
					</div>
					<div class="span2">
						<a rel="popover" data-content="Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh" href="#"><img class="img-polaroid" src="/images/frontend/scroll4.png" alt="img_preview" /></a>
						<h6>japan</h6>
					</div>
				</div>
			</div> <!--End of destination_item 1-->

			<div class="item">
				<div class="row">
					<div class="span2">
						<a rel="popover" data-content="Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh" href="#"><img class="img-polaroid" src="/images/frontend/scroll5.png" alt="img_preview" /></a>
						<h6>malaysia</h6>
					</div>
					<div class="span2">
						<a rel="popover" data-content="Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh" href="#"><img class="img-polaroid" src="/images/frontend/scroll6.png" alt="img_preview" /></a>
						<h6>indonesia</h6>
					</div>
					<div class="span2">
						<a rel="popover" data-content="Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh" href="#"><img class="img-polaroid" src="/images/frontend/scroll7.png" alt="img_preview" /></a>
						<h6>dubai</h6>
					</div>
					<div class="span2">
						<a rel="popover" data-content="Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh" href="#"><img class="img-polaroid" src="/images/frontend/scroll8.png" alt="img_preview" /></a>
						<h6>india</h6>
					</div>
				</div>
			</div> <!--End of destination_item 2-->
		</div>

		<a class="carousel-control left" href="#destination_carousel" data-slide="prev">&nbsp;</a>
		<a class="carousel-control right" href="#destination_carousel" data-slide="next">&nbsp;</a>
	</div>
</div><!--End of travel_section_wrapper-->

<script type="text/javascript">
	$(document).ready(function () {
		$('#destination_carousel').carousel({
			interval: 5000,
			pause: "hover"
		});

		$("a[rel=popover]").popover({
				placement: "top",
				trigger: "hover"
		});	
	});
</script>
