
<div id="footer_wrapper">
				<div class="container">
					<div class="upper_part row"> <!--This is for the upper part of footer-->
						<div class="site_map span4"> <!--This is for Site Map-->
							<h4>Site Map</h4>
							<div class="row">
								<div class="span2">
									<h5><a href="">Home</a></h5>
									<ul>
										<li><a href="#"><h6>All Listings</h6></a></li>
										<li><a href="#"><h6>Search</h6></a></li>
									</ul>
									<h5><a href="">Hospital</a></h5>
									<ul>
										<li><a href="#"><h6>Popular</h6></a></li>
										<li><a href="#"><h6>Highest Rated</h6></a></li>
									</ul>
									<h5><a href="">FAQ</a></h5>
									<ul>
										<li><a href="#"><h6>TOS</h6></a></li>
										<li><a href="#"><h6>Privacy Policy</h6></a></li>
									</ul>
								</div>
								<div class="span2">
									<h5><a href="">Links</a></h5>
									<ul>
										<li><a href="#"><h6>All Listings</h6></a></li>
										<li><a href="#"><h6>Search</h6></a></li>
									</ul>
									<h5><a href="">Some Link</a></h5>
									<ul>
										<li><a href="#"><h6>Popular</h6></a></li>
										<li><a href="#"><h6>Highest Rated</h6></a></li>
									</ul>
									<h5><a href="">Nice</a></h5>
									<ul>
										<li><a href="#"><h6>TOS</h6></a></li>
										<li><a href="#"><h6>Privacy Policy</h6></a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="facepile span4"> <!--This is for the Facebook API-->
							<h4>HCA on Facebook</h4>
							<div id="fb-root">
								Facepile..
							</div>
						</div>

						<div class="subscription span4"> <!--This is for the Subscriptions-->
							<div class="subscribe_item row">
								<h5>Subscribe To Our Newsletter</h5>
								<form class="subscribe_form" action="get">
									<input type="text" name="email" placeholder="email@domain.com" class="span4">
									<div class="form-inline">
										<input type="checkbox">
										<label>Unsubscribe</label>
										<button class="btn" type="submit">Submit Now</button>
									</div>
								</form>
							</div>
							<div class="register">
								<h5>Want to register an Institution?</h5>
								<a class="sign-up" href="#">Sign Up</a>
								<img alt="" src="/images/frontend/or_option.png">
								<a class="sign-up" href="#">Sign In</a>
							</div>
						</div>
					</div>

					<div class="lower_footer row"> <!--This is for the lower part of footer-->
						<div class="span5 navbar">
							<p>Copyright 2012, Healthcareabroad.com.All rights reserved</p>
							<ul class="nav">
								<li><a href="#">TOS</a></li>
								<li class="divider">/</li>
								<li><a href="#">Privacy Policy</a></li>
								<li class="divider">/</li>
								<li><a href="#">History</a></li>
							</ul>
						</div>
						<div class="social span6">
							<ul class="socials-nav">
								<li><a href="#"><img alt="facebook" src="/images/frontend/g+_icon.png"></a></li>
								<li><a href="http://www.facebook.com/healthcareabroadcom"><img alt="facebook" src="/images/frontend/facebook_icon.png"></a></li>
								<li><a href="http://twitter.com/HCAbroad"><img alt="facebook" src="/images/frontend/twitter_icon.png"></a></li>
							</ul>
						</div>
					</div>

				</div> <!--End of class container-->
			</div>