<div id="footer_wrapper">
	<div class="container">
		<div class="upper_part row"> <!--This is for the upper part of footer-->
			<div class="site_map span4"> <!--This is for Site Map-->
				<h4>Site Map</h4>
				<div class="row">
					<div class="span2">
						<h5><a href="">Home</a></h5>
						<ul>
							<li><a href="#">All Listings</a></li>
							<li><a href="#">Search</a></li>
						</ul>
						<h5><a href="">Hospital</a></h5>
						<ul>
							<li><a href="#">Popular</a></li>
							<li><a href="#">Highest Rated</a></li>
						</ul>
						<h5><a href="">FAQ</a></h5>
						<ul>
							<li><a href="#">TOS</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div>
					<div class="span2">
						<h5><a href="">Links</a></h5>
						<ul>
							<li><a href="#">All Listings</a></li>
							<li><a href="#">Search</a></li>
						</ul>
						<h5><a href="">Some Link</a></h5>
						<ul>
							<li><a href="#">Popular</a></li>
							<li><a href="#">Highest Rated</a></li>
						</ul>
						<h5><a href="">Nice</a></h5>
						<ul>
							<li><a href="#">TOS</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="facepile span4"> <!--This is for the Facebook API-->
				<h4>HCA on Facebook</h4>
				<div>
					<iframe scrolling="no" frameborder="0" allowtransparency="true" style="border:none; overflow:hidden; width:287px; height:368px;" src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fhealthcareabroadcom&amp;width=287&amp;height=558&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color&amp;header=false"></iframe>
				</div>
			</div>

			<div class="subscription span4"> <!--This is for the Subscriptions-->
				{% render 'FrontendBundle:Default:renderNewsletterForm' %}
				<div class="register">
					<h5>Want to register an Institution?</h5>
					<a class="sign-up" href="#">Sign Up</a>
					<span class="or-option"></span>
					<a class="sign-up" href="#">Sign In</a>
				</div>
			</div>
		</div>

		<div class="lower_footer row"> <!--This is for the lower part of footer-->
			<div class="span5 navbar">
				<p>Copyright 2012, Healthcareabroad.com.All rights reserved</p>
				<ul class="nav">
					<li><a href="#">TOS</a></li>
					<li class="divider">/</li>
					<li><a href="#">Privacy Policy</a></li>
					<li class="divider">/</li>
					<li><a href="#">History</a></li>
				</ul>
			</div>
			<div class="social span6">
				<ul class="socials-nav">
					<li><a href="#"><span class="g-icon"></span></a></li>
					<li><a href="https://www.facebook.com/healthcareabroadcom"><span class="facebook-icon"></span></a></li>
					<li><a href="https://twitter.com/HCAbroad"><span class="twitter-icon"></span></a></li>
				</ul>
			</div>
		</div>

	</div> <!--End of class container-->
</div>