<header id="header"> <!--Header-->
    <div class="container">
        <a class="logo span5" href="{{ path('frontend_main_homepage') }}">
            <h1 class="title">HealthcareAbroad</h1>
        </a>
        <!--
        <nav class="menu">
            <ul>
                <li><a href="#">Search</a></li>
                <li><a href="#">Procedures</a></li>
                <li><span class="inset"></span></li>
                <li class="active"><a href="#">Destination</a></li>
            </ul>
        </nav
        -->
    </div>
</header> <!--End of header-->

{% if app.request.attributes.get('_route') == 'frontend_main_homepage' %}
    <div id="hero_unit_wrapper" class="container"> <!--Hero Unit-->
        <div id="hero_unit" class="row">
            <h1 class="welcome">welcome to <strong>healthcare</strong> abroad!<br>
                <small>the resource for global <strong>healthcare</strong><br>a comprehensive, <strong>unbiased</strong> directory</small>
            </h1>
            {% block searchBox %}
                {# set searchParams = searchParams|merge({context : app.request.attributes.get('_route')}) #}
                {% render "SearchBundle:Frontend:showWidget" with {"context" : 'homepage'} %}
            {% endblock %}
        </div>
    </div> <!--End of hero unit-->
{% endif %}