<div id="header_wrapper"> <!--Header-->
    <div class="container" id="header">
        <div class="row">
            <div class="span5">
                <a href="{{ path('main_homepage_index_html') }}"><h1 id="logo">HealthcareAbroad</h1></a>
            </div>
            <div class="span6 offset1 navbar">
                <ul class="nav">
                    <li><a href="#">Procedures</a></li>
                    <li class="vertical-divider"></li>
                    <li><a href="#">Destinations</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="hero_unit_wrapper"> <!--Hero Unit-->
	<div id="hero_unit" class="container">
		<div class="row banner">
			<div class="span8 offset2">
				<h1 class="welcome">welcome to <b>healthcare</b> abroad!</h1>
				<h2 class="caption">the resource for global <b>healthcare</b><br>a comprehensive, <b>unbiased</b> directory</h2>
			</div>
		</div>

        {% block searchBox %}
            {# set searchParams = searchParams|merge({context : app.request.attributes.get('_route')}) #} 
            {% render "SearchBundle:Frontend:showWidget" with {"context" : 'homepage'} %}
        {% endblock %}
		
	</div>
</div> <!--End of hero unit-->