{% embed 'FrontendBundle:Embed:asideBox.html.twig' with {title: 'Social', class: 'heading', headingClass: 'network'} %}

    {% block asideContent %}
		<ul class="network">
		    {% if urls.google is defined %}
			    <li><a href="{{ urls.google }}" target="_blank"><img src="/images/frontend/g+_icon-dark.png" alt="facebook"/></a></li>
		    {% endif %}
		    {% if urls.facebook is defined %}
			    <li><a href="{{ urls.facebook }}" target="_blank"><img src="/images/frontend/facebook_icon-dark.png" alt="facebook"/></a></li>
		    {% endif %}
		    {% if urls.twitter is defined %}
			    <li><a href="{{ urls.twitter }}" target="_blank"><img src="/images/frontend/twitter_icon-dark.png" alt="facebook"/></a></li>
		    {% endif %}
		</ul>
	{% endblock %}

{% endembed %}

