{% set hasAwards = awards | length > 0 %}
{% set hasServices = services | length > 0 %}
{% set class = hasAwards and hasAwards ? 'span4' : 'span4' %}

{% if hasAwards or hasServices %}
    <div class="awards-services row">
        {% if hasServices %}
            {% embed 'FrontendBundle:Embed:profileSection.html.twig' with {title: 'Services', class: 'services ' ~ class} %}
                {% block sectionContent %}
        		<ul>
        			{% for each in services %}
        				<li>{{ each.name }}</li>
        			{% endfor %}
        		</ul>	
                {% endblock %}
           {% endembed %}
       {% endif %}
    
        {% if hasAwards %}
           {% embed 'FrontendBundle:Embed:profileSection.html.twig' with {title: 'Awards & Accreditations', class: 'awards ' ~ class } %}
                {% block sectionContent %}
        		<ul>
        		    {% for each in awards %}
        			<li>{{ each.name }}</li>
        			{% endfor %}
        		</ul>
                {% endblock %}
           {% endembed %}
       {% endif %}
    </div>
{% endif %}