{% set hasAwards = awards | length > 0 %}
{% set hasServices = services | length > 0 %}
{% set class = hasAwards and hasServices ? ' span6' : '' %}

{% set listClass = not class and (hasServices or hasAwards)  ? 'three-column-list row' : '' %}

{% if class %}
<div class="two-column-wrapper row-fluid">    
{% endif %}

    {% if hasServices %}
        {% embed 'FrontendBundle:Embed:profileSection.html.twig' with {title: 'Services', class: 'services' ~ class} %}
            {% block sectionContent %}
    		<ul class="check-bullet-list {{ listClass }}">{% for each in services %}<li>{{ each.name }}</li>{% endfor %}</ul>
            {% endblock %}
        {% endembed %}    		
    {% endif %}

    {% if hasAwards %}
        {% embed 'FrontendBundle:Embed:profileSection.html.twig' with {title: 'Awards & Accreditations', class: 'awards' ~ class} %}
            {% block sectionContent %}
    		<ul class="check-bullet-list {{ listClass }}">{% for each in awards %}<li>{{ each.name }}</li>{% endfor %}</ul>
            {% endblock %}
        {% endembed %}
    {% endif %}

{% if class %}
</div>
{% endif %}