{% set hasGoogleSite = (urls.google is defined) and urls.google %}
{% set hasFbSite = (urls.facebook is defined) and urls.facebook %}
{% set hasTwitterSite = (urls.twitter is defined) and urls.twitter %}

{% if hasGoogleSite or hasFbSite or hasTwitterSite %}
    {% embed 'FrontendBundle:Embed:asideBox.html.twig' with {title: 'Social', class: 'heading', headingClass: 'align-left'} %}

        {% block asideContent %}
    		<ul class="socials-nav pull-right inline-list">
    		    {% if hasGoogleSite %}
    			    <li><a href="{{ urls.google }}" target="_blank" class="hca-sprite social-icon google-plus-dark"></a></li>
    		    {% endif %}
    		    {% if hasFbSite %}
    			    <li><a href="{{ urls.facebook }}" class="hca-sprite social-icon facebook-dark" target="_blank"></a></li>
    		    {% endif %}
    		    {% if hasTwitterSite %}
    			    <li><a href="{{ urls.twitter }}" class="hca-sprite social-icon twitter-dark" target="_blank"></a></li>
    		    {% endif %}
    		</ul>
    	{% endblock %}

    {% endembed %}
{% endif %}