{% set hasSocialMediaSite = false %}

{% for type, each in urls if(not hasSocialMediaSite) %}
    {% if each.value %}
        {% set hasSocialMediaSite = true %}
    {% endif %}
{% endfor %}

{% if hasSocialMediaSite %}
    {% embed 'FrontendBundle:Embed:asideBox.html.twig' with {title: 'Social', class: 'heading', headingClass: 'align-left'} %}
        {% block asideContent %}
    		<ul class="socials-nav pull-right inline-list">
                {% for type, each in urls %}
                    {% set iconClass = type == 'googleplus' ? 'google-plus' : type %}
                    {% if each.value %}
                        <li><a href="{{ each.value }}" target="_blank" class="hca-sprite social-icon {{ iconClass }}-dark"></a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endblock %}
    {% endembed %}
{% endif %}