{% if media | length %}

    {% embed 'FrontendBundle:Embed:asideBox.html.twig' with {title: 'Media'} %}
    
        {% block asideContent %}
    		<ul class="large-thumbnail">
    			<li>
                    {{ media(media.first, institution, 'frontendGallery') | raw }}
    			</li>
    		</ul>
    
    		<ul class="thumbnails">
    		    {% for i, each in media if i > 0 %}
    		        {% if (logo and each.id != logo.id) %}
            			<li class="thumbnail">
            				{{ media(each, institution, 'frontendGallery') | raw }}
            			</li>
                    {% endif %}
    			{% endfor %}
    		</ul>
    	{% endblock %}
    	
    {% endembed %}
    
    <!-- Add fancyBox -->
    <link rel="stylesheet" href="{{ asset('bundles/media/js/fancybox/jquery.fancybox.css?v=2.1.0') }}" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ asset('bundles/media/js/fancybox/jquery.fancybox.pack.js?v=2.1.0') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $(".fancybox").fancybox();
        });
    </script>

{% endif %}