{% embed 'FrontendBundle:Embed:asideBox.html.twig' with {title: 'Media'} %}

    {% block asideContent %}
		<ul class="large-thumbnail">
			<li>
				<a href=""><img src="/images/frontend/clinic-photo1.png" alt=""></a>
			</li>
		</ul>

		<ul class="thumbnails">
			<li class="thumbnail">
				<a href=""><img src="/images/frontend/clinic-photo2.png" alt=""></a>
			</li>
			<li class="thumbnail">
				<a href=""><img src="/images/frontend/clinic-photo3.png" alt=""></a>
			</li>
			<li class="thumbnail">
				<a href=""><img src="/images/frontend/clinic-photo4.png" alt=""></a>
			</li>
			<li class="thumbnail">
				<a href=""><img src="/images/frontend/clinic-photo2.png" alt=""></a>
			</li>
			<li class="thumbnail">
				<a href=""><img src="/images/frontend/clinic-photo3.png" alt=""></a>
			</li>
			<li class="thumbnail">
				<a href=""><img src="/images/frontend/clinic-photo4.png" alt=""></a>
			</li>
			<li class="thumbnail">
				<a href=""><img src="/images/frontend/clinic-photo2.png" alt=""></a>
			</li>
			<li class="thumbnail">
				<a href=""><img src="/images/frontend/clinic-photo3.png" alt=""></a>
			</li>
			<li class="thumbnail">
				<a href=""><img src="/images/frontend/clinic-photo4.png" alt=""></a>
			</li>
			<li class="thumbnail">
				<a href=""><img src="/images/frontend/clinic-photo2.png" alt=""></a>
			</li>
			<li class="thumbnail">
				<a href=""><img src="/images/frontend/clinic-photo3.png" alt=""></a>
			</li>
			<li class="thumbnail">
				<a href=""><img src="/images/frontend/clinic-photo4.png" alt=""></a>
			</li>
		</ul>
		<img class="video" src="/../../images/frontend/media.png" alt="">

	{% endblock %}
	
{% endembed %}