<div class="rating">
    <p>USER RATINGS</p>
        <ul>
            <li><img src="/images/frontend/staricon_orange.png" alt="star"/></li>
            <li><img src="/images/frontend/staricon_orange.png" alt="star"/></li>
            <li><img src="/images/frontend/staricon_orange.png" alt="star"/></li>
            <li><img src="/images/frontend/staricon_grey.png" alt="star"/></li>
            <li><img src="/images/frontend/staricon_grey.png" alt="star"/></li>
        </ul>
</div>