                            <div id="aside_wrap">
                                <div class="heading">
                                    <div class="heading_text">
                                        LATEST NEWS
                                    </div>
                                </div>
                                <!--This aside items has a javascript scrollbar-->
                                <div id="aside_scrollbar">

                                    <div class="viewport">
                                        <div class="overview">
                                            <div class="aside_item">
                                                <div class="image_preview">
                                                    <a href="#"><img src="images/latest2.png" alt="image_preview" /></a>
                                                </div>
                                                <div class="description_preview">
                                                    <h4>Cum Soluta Nobis</h4>
                                                    <a href="#"><p>Sectetut amet fermens m fortiter in re madre mecha anchiba nib...</p></a>
                                                    <p class="date">February 15th 2012 By Crucio</p>
                                                </div>
                                                <div class="clearer">&nbsp;</div>
                                            </div>
                                            <div class="aside_item">
                                                <div class="image_preview">
                                                    <a href="#"><img src="images/latest1.png" alt="image_preview" /></a>
                                                </div>
                                                <div class="description_preview">
                                                    <h4>Cum Soluta Nobis</h4>
                                                    <a href="#"><p>Sectetut amet fermens m nib...</p></a>
                                                    <p class="date">February 15th 2012 By Crucio</p>
                                                </div>
                                                <div class="clearer">&nbsp;</div>
                                            </div>
                                            <div class="aside_item">
                                                <div class="image_preview">
                                                    <a href="#"><img src="images/latest3.png" alt="image_preview" /></a>
                                                </div>
                                                <div class="description_preview">
                                                    <h4>Cum Soluta Nobis</h4>
                                                    <a href="#"><p>Sectetut amet fermens m nib...</p></a>
                                                    <p class="date">February 15th 2012 By Crucio</p>
                                                </div>
                                                <div class="clearer">&nbsp;</div>
                                            </div>
                                            <div class="aside_item">
                                                <div class="image_preview">
                                                    <a href="#"><img src="images/latest3.png" alt="image_preview" /></a>
                                                </div>
                                                <div class="description_preview">
                                                    <h4>Cum Soluta Nobis</h4>
                                                    <a href="#"><p>Sectetut amet fermens m nib...</p></a>
                                                    <p class="date">February 15th 2012 By Crucio</p>
                                                </div>
                                                <div class="clearer">&nbsp;</div>
                                            </div>
                                        </div>
                                    </div> <!--End of scroll viewport-->
                                    <div class="scrollbar">
                                        <div class="track">
                                            <div class="thumb">
                                                <div class="end"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- End of aside 1-->

                                <div class="heading">
                                    <div class="heading_text">POPULAR TREATMENTS</div>
                                </div>
                                <div class="aside">
                                    <div class="aside_item">
                                        <div class="image_preview">
                                            <a href="#"><img src="images/treatment1.png" alt="image_preview" /></a>
                                        </div>
                                        <div class="description_preview">
                                            <h4>Cum Soluta Nobis</h4>
                                            <a href="#"><p>Sectetut amet fermens m nib...</p></a>
                                            <p class="date">February 15th 2012 By Crucio</p>
                                        </div>
                                        <div class="clearer">&nbsp;</div>
                                    </div>
                                    <div class="aside_item">
                                        <div class="image_preview">
                                            <a href="#"><img src="images/treatment2.png" alt="image_preview" /></a>
                                        </div>
                                        <div class="description_preview">
                                            <h4>Cum Soluta Nobis</h4>
                                            <a href="#"><p>Sectetut amet fermens m nib...</p></a>
                                            <p class="date">February 15th 2012 By Crucio</p>
                                        </div>
                                        <div class="clearer">&nbsp;</div>
                                    </div>
                                    <div class="aside_item">
                                        <div class="image_preview">
                                            <a href="#"><img src="images/treatment3.png" alt="image_preview" /></a>
                                        </div>
                                        <div class="description_preview">
                                            <h4>Cum Soluta Nobis</h4>
                                            <a href="#"><p>Sectetut amet fermens m nib...</p></a>
                                            <p class="date">February 15th 2012 By Crucio</p>
                                        </div>
                                        <div class="clearer">&nbsp;</div>
                                    </div>
                                    <div class="aside_item">
                                        <div class="image_preview">
                                            <a href="#"><img src="images/treatment4.png" alt="image_preview" /></a>
                                        </div>
                                        <div class="description_preview">
                                            <h4>Cum Soluta Nobis</h4>
                                            <a href="#"><p>Sectetut amet fermens m nib...</p></a>
                                            <p class="date">February 15th 2012 By Crucio</p>
                                        </div>
                                        <div class="clearer">&nbsp;</div>
                                    </div>
                                    <div class="aside_item">
                                        <div class="image_preview">
                                            <a href="#"><img src="images/treatment5.png" alt="image_preview" /></a>
                                        </div>
                                        <div class="description_preview">
                                            <h4>Cum Soluta Nobis</h4>
                                            <a href="#"><p>Sectetut amet fermens m nib...</p></a>
                                            <p class="date">February 15th 2012 By Crucio</p>
                                        </div>
                                        <div class="clearer">&nbsp;</div>
                                    </div>
                                    <div class="aside_item">
                                        <div class="image_preview">
                                            <a href="#"><img src="images/treatment6.png" alt="image_preview" /></a>
                                        </div>
                                        <div class="description_preview">
                                            <h4>Cum Soluta Nobis</h4>
                                            <a href="#"><p>Sectetut amet fermens m nib...</p></a>
                                            <p class="date">February 15th 2012 By Crucio</p>
                                        </div>
                                        <div class="clearer">&nbsp;</div>
                                    </div>
                                    <div class="aside_item">
                                        <div class="image_preview">
                                            <a href="#"><img src="images/treatment7.png" alt="image_preview" /></a>
                                        </div>
                                        <div class="description_preview">
                                            <h4>Cum Soluta Nobis</h4>
                                            <a href="#"><p>Sectetut amet fermens m nib...</p></a>
                                            <p class="date">February 15th 2012 By Crucio</p>
                                        </div>
                                        <div class="clearer">&nbsp;</div>
                                    </div>
                                    <div class="aside_item">
                                        <div class="image_preview">
                                            <a href="#"><img src="images/treatment8.png" alt="image_preview" /></a>
                                        </div>
                                        <div class="description_preview">
                                            <h4>Cum Soluta Nobis</h4>
                                            <a href="#"><p>Sectetut amet fermens m nib...</p></a>
                                            <p class="date">February 15th 2012 By Crucio</p>
                                        </div>
                                        <div class="clearer">&nbsp;</div>
                                    </div>
                                </div> <!-- End of aside 2-->

                                <div class="media">
                                    <div class="media_item">
                                        <img src="images/media.png" alt="image_preview" />
                                    </div>
                                </div> <!-- End of aside 3-->

                                <div class="heading">
                                    <div class="heading_text">ADVERTISEMENTS</div>
                                </div>
                                <div class="ad">
                                    <div class="ad_item">
                                        <img src="images/advertisement.png" alt="image_preview" />
                                    </div>
                                </div> <!-- End of aside 4-->

                            </div> <!-- End of aside_wrap -->