<div class="aside_scrollbar">
	<div class="viewport">
		<div class="overview">
		    {% for each in news %}
			<div class="media">
				<div class="image_preview">
					<a class="pull-left" href="#">
					    {% set image = each.media ? '/media/ads/' ~ each.institution.id ~ '/' ~ each.media.name : '' %}
					    <img class="media-object img-circle" src="{{image}}" alt="image_preview" />
					</a>
				</div>
				<div class="media-body">
					<a href="#"><h4 class="media-heading">{{ each.title }}</h4></a>
					<p>{{ each.description }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div> <!--End of aside_scrollbar-->