{% embed 'InstitutionBundle:Embed:modalBox.base.html.twig' with {'modal': {'id' : 'delete-media', class: 'hca-file-modal delete-media', 'title': 'Delete Media' }} %}
    {% block modalBody %}            
         <!--<div class="alert alert -info">
            <i class="icon-trash icon-2x"></i>
            <span>Text here - disadvantages in deleting media</span>
        </div>-->
        <h2><small>Are you sure you want to permanently delete this media file?</small></h2>
        <p>
            This media will be also deleted in following clinics:
        </p>
        <ul class="clinic-list"></ul>
    {% endblock %}
    
    {% block modalFooter %}
        <div class="align-right">
            <button aria-hidden="true" data-dismiss="modal" class="btn">Cancel</button>
            <button id="confirm-delete-media-btn" class="btn btn-danger" type="button"><i class="icon-trash"></i>Confirm Delete</button>
        </div>
    {% endblock %}
{% endembed %}

{% block inlineJavascriptCode %}
<script type="text/javascript">
$(function(){
	var mediaId;
	var institutionMedicalCenterIds;
    $(".delete-media").click(function(){
        HCA.closeAlertMessage();
        mediaId = $(this).attr('data-media_id');
        institutionMedicalCenterIds = $(this).attr('data-medica-center-ids');
        var deleteWrapperElem = $('#delete-media');

        clinicListElem = deleteWrapperElem.find('ul.clinic-list:first').empty();

        $.each($('.hca-media .clinic-name-' + mediaId), function(){
        	clinicListElem.append('<li>' + $(this).html() + '</li>');
        });

        if(clinicListElem.html() == '') {
        	clinicListElem.hide().prev().hide();
        } else {
        	clinicListElem.show().prev().show();
        }
    });

    $('#confirm-delete-media-btn').click(function(){

        var params = {mediaId: mediaId};
        if(institutionMedicalCenterIds) {
            params.institutionMedicalCenterIds = institutionMedicalCenterIds; 
        }
        deleteBtn = $(this).attr('disabled', 'disabled').text('Deleting...');
        $.post("{{ path('institution_mediaGallery_delete', {institutionId: institution.id}) }}", params, function(response){
            if(response) {
            	deleteBtn.removeAttr('disabled').text('Confirm Delete');
            	$('#delete-media').modal('hide');
                $('#media-item-' + params.mediaId).fadeOut(1000, function(){$(this).remove();HCA.alertMessage('success', response.message);});
            }
        });
    });
    
});
</script>
{% endblock %}