   {% embed '::contentWrapper.admin.html.twig' %}
		{% block wrappedContent %}
		
					<form novalidate="novalidate" action="{{ path('institution_medicalCenter_addDetails', { 'imcId': institutionMedicalCenter.id }) }}" method="post" class="basic-form">
		
						{{ form_row(form.institutionAffiliations) }}
				
						{{ form_rest(form) }}
		
					    <input type="submit" class="a.add-edit-language form-submit" name="submit"/>
					</form>
				
		{% endblock %}
	{% endembed %}