{% extends 'InstitutionBundle::layout.html.twig' %}
{% set mainNavigation = {selected: 'medical_centers'} %}

{# disable the navigation for single center type institution since this is part of the sign up process #}
{% set disableMainNavigation = isSingleCenter is defined and isSingleCenter %}


{% block content %}

    {% embed 'InstitutionBundle:Embed:contentWrapper.authenticated.html.twig' 
        with {'contentSpanClass' : 'span12' } %}
        {% block wrappedContent %}

       <div class="span12">
            
            <h1><span>Create New Clinic Listing</span></h1>
            {% include 'InstitutionBundle:Widgets:steps.addClinic.html.twig' with {activeStep: 'medical_specialists'} %}
        </div>
        <div class="addnewclinic">
        	<div class="span9">
                
                <form  action="{{ path('institution_medicalCenter_addAffiliations', { 'imcId':institutionMedicalCenter.id}) }}" method="POST" >
                    
                    <div>
                        <label for="username">Search and Add your Medical Specialist</label>
                        <input id="search_doctor" class="input-xxlarge" type="text" value="" name="searchDoctor">
                    </div>
                    
                    <div id="ajax_loader" style="display: none;">Please wait...</div>
                    
                    <div class="clearfix"></div>
        		    
        		    <div class="pull-left">
                        <button class="btn btn-info previous_button" type="button">Previous</button>
                    </div>
        		    
        		    <div class="pull-right">
                        <button class="btn btn-primary btn-large" type="button">Submit</button>
                    </div>
    		    </form>
        	</div>
        	
        	{% include 'InstitutionBundle:Widgets:sidebar.benefitsShowcase.html.twig' %}

        </div>
        {% endblock %}
        
    {% endembed %}
{% endblock %}

{% block inlineJavascriptCode %}
<script src="{{ asset('bundles/institution/js/InstitutionMedicalCenterGroup.js') }}"></script>
<script type="text/javascript">
    (function($){

        function onClickRemoveDoctor(el) {
            _el = $(el);
            $('div#ajax_loader').show();
            $.ajax({
                url: _el.attr('href'),
                type: 'post',
                dataType: 'json',
                success: function(json){
                    _el.parents('ul.doctor_list_item').remove();
                    $('div#ajax_loader').hide();   
                }
            });
            return false;
        }
        
        $(function(){
            $('a.remove_doctor_link').click(function(event){
                return onClickRemoveDoctor(event.target);
            });
            
            $('input#search_doctor').autocomplete({
                source: function(request, response) {
                    $('div#ajax_loader').show();
                    $.ajax({
                        url: '{{ path("institution_medicalCenter_searchAvailableDoctor", {"imcId": institutionMedicalCenter.id }) }}',
                        data: {'searchKey': request.term},
                        type: 'get',
                        dataType: 'json',
                        success: function(data) {
                            $('div#ajax_loader').hide();
                            response( $.map( data, function( item ) {
                                return {
                                    label: item.name,
                                    value: item.name,
                                    html: item.html,
                                    id: item.id
                                }
                            }));
                        }
                    });
                },
                select: function(event, ui) {
                    $('div#ajax_loader').show();
                    $.ajax({
                        url: '{{ path("institution_medicalCenter_addExistingDoctor", {"imcId": institutionMedicalCenter.id } ) }}',
                        data: {'doctorId':ui.item.id},
                        dataType: 'json',
                        type: 'post',
                        success: function(json){
                            _div = $(ui.item.html);
                            _div.find('a.remove_doctor_link').bind('click', function(event){
                                return onClickRemoveDoctor(event.target);
                            });
                            _div.appendTo($('ul.doctor_list_item'));
                            $('input#search_doctor').val('');
                            $('div#ajax_loader').hide();
                        }
                    });
                    
                    return false;
                }
            });
        });
    })(jQuery);
</script>
{% endblock %}