{% form_theme form '::form.admin.html.twig' %}
<form novalidate="novalidate" action="{{ path('institution_medical_center_add_save') }}" method="POST" class="user">
    <!-- start id-form -->
	<table border="0" cellpadding="0" cellspacing="0"  id="id-form">
	    
	    {{ form_row(form.medical_center) }}
	    {{ form_rest(form) }}
	    <tr>
    		<td valign="top">
    			<input type="submit" name="submit" value="" class="form-submit" />
    		</td>
    		<td></td>
    	</tr>
	</table>
	
	{# flag to identify that this form is rendered from manage medical centers page  #}
	<input type="hidden" name="fromIndex" value="{{ fromIndex is defined and fromIndex ? 1 : 0 }}" />
	<!-- end id-form  -->
</form>