<div class="show-specializations" >
    <table class="table table-hover hca-clinic-list" id="specialization_block_{{ institutionSpecialization.id }}">
        <tr class="hca-specializations">
            <th>
                <h4>{{ institutionSpecialization.specialization.name }} </h4>
            </th>
        </tr>
        {% include 'InstitutionBundle:MedicalCenter:list.treatments.html.twig'  %}
        	
    </table>
</div>