{# --- this will be the list of institution specialization treatments in table format --- #}
<table class="table" id="treatments_block_{{ institutionSpecialization.specialization.id }}">
{% for _treatment in institutionSpecialization.treatments %}
<tr id="treatment_id_{{ _treatment.id }}" >
	<td class="treatment_name_{{ _treatment.id }}">{{ _treatment.name }}</td>
</tr>
{% else %}
<tr>
    <td colspan="2">This specialty has no treatments yet</td>
</tr>
{% endfor %}

</table>