
{% set _groupedTreatments = group_treatments_by_subspecialization(each.treatments) %}
                
{% for _subName, _groupedData in _groupedTreatments %}
    {% if _groupedData.treatments | length %}

		<ul id="treatments_block"  class="specializations-listing-edit">
		    {% if _groupedData.subSpecialization is defined and _groupedData.subSpecialization | length%}
		    <li class="sub-specialization">
		    	<a>{{ _groupedData.subSpecialization.name }}</a>
		    </li>
		    {% else %}

		    <li class="sub-specialization">Other treatments</li>
		    {% endif %}
        	    
    	    {% for treatment in _groupedData.treatments %}
	 	    <li>
				<ul>
					<li><a>{{ treatment.name }}</a></li>
				</ul>
			</li>
	        {% endfor %}
		</ul>

    {% endif %}
{% endfor %}
