<div id="page-heading"><h3>Add Medical Center</h3></div>
{% embed '::contentWrapper.admin.html.twig' %}
	{% block wrappedContent %}
        <form novalidate="novalidate" action="{{ path('institution_medicalCenter_add_save') }}" method="POST" class="basic-form">
            <!-- start id-form -->
        	    {{ form_row(form.medicalCenter) }}
        	    {{ form_row(form.description) }}
        	    {{ form_rest(form) }}
        	    
        	    <input type="submit" class="form-submit" name="submit"/>
        	<!-- end id-form  -->
        </form>
    {% endblock %}
{% endembed %}