{% extends 'InstitutionBundle::layout.html.twig' %}
{% set mainNavigation = {selected: 'medical_centers'} %}
{% block content %}
    {% embed 'InstitutionBundle:Embed:contentWrapper.authenticated.html.twig' %}
        {% block wrappedContent %}
           <section id="content">
            	<div class="container">
            		<div class="row">
            			<div class="span9">
            			    <h1><span>Manage Clinic</span></h1>
                            {% include 'InstitutionBundle:Widgets:medicalCenter.profileHeader.html.twig' %}
                            <div class="tabbable">
                                {% include 'InstitutionBundle:Widgets:tabNavigation.html.twig' with {
                                    tabNavigation: { links: [
                                        { label: 'Specializations', 'active': true, 'href' : '#specializations' },
                                        { label: 'Services', 'href' : '#services' },
                                        { label: 'Awards', 'href' : '#awards' },
                                        { label: 'Medical Specialists', 'href' : '#medical-specialists' },
                                    ]}
                                } %}
                                
                               <div class="tab-content" id="tabbed_content">
                               </div><!-- /.tab-content -->
                            </div>
                        </div><!-- end .span9 -->
                        {% include 'InstitutionBundle:Widgets:sidebar.basicProfile.html.twig' %}
                    </div><!-- end .row -->
                </div>
            </section>
        {% endblock %}
    {% endembed %}

{% endblock %}