{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}

    <div class="span3">
        {% include 'AdminBundle:Default:sidebar.html.twig' %}
        
        {% include 'AdminBundle:Widgets:alerts.html.twig' %}
    </div>



    <div class="span9">
        <h1>{{ site_name }} Admin Panel</h1>
    
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur
            adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur
            adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua.
        </p>    
    </div>



{% endblock %}