{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
<!-- start content -->
<div id="content">
    <!--  start page-heading -->
    <div id="page-heading">
    	<h1>{{ site_name }} Admin Panel</h1>
    </div>
    <!-- end page-heading -->
    
    {% embed '::contentWrapper.admin.html.twig' %}
        
        {% block wrappedContent %}

            {# ----- Related tasks ----- #}
            {% set manageHCADataTask = {"title": 'Manage HCA Data', 'class': 'list-icon', 'description': 'Manage global data on medical centers, medical procedures, countries and cities', 'href': path('admin_manageHcaData'), 'links': [{title:'View all centers',href: path('admin_medicalCenter_index')}, {title:'View all medical procedure types', href: path('admin_procedureType_index')}]} %}
            {% set manageInstitutions = {title: 'Manage Institutions', 'description': 'View all institutions, or add a new one', 'href': path('admin_institution_index'), 'links': [{title:'Click here to view all institutions',href: path('admin_institution_index')}] } %}
		    
            {% include '::relatedTasks.base.admin.html.twig' with 
		        {'contents': [manageHCADataTask, manageInstitutions]} 
	        %}
        
			<div id="table-content" style="width: 70%">
		        {% include '::notice.admin.html.twig' %}
			
			    <h2>Sub Heading </h2>
    			<h3>Local Heading</h3>

    			<p>
	    			Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur 
	    			adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur 
	    			adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua. 
				</p>

				<p>
	    			Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur 
	    			adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur 
	    			adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua. 
				</p>

				<p>
	    			Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur 
	    			adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur 
	    			adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua.
    			</p>
			</div>
        {% endblock %}
        
    {% endembed %}
    
</div>
<!--  end content -->
<div class="clear">&nbsp;</div>
{% endblock %}