{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
<!-- start content -->
<div id="content">
    <!--  start page-heading -->
    <div id="page-heading">
    	<h1>{{ site_name }} Admin Panel</h1>
    </div>
    <!-- end page-heading -->
</div>
<!--  end content -->
<div class="clear">&nbsp;</div>
{% endblock %}