{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'manageHcaData' %}
{% block content %}
<!-- start content -->
<div id="content">
    <!--  start page-heading -->
    <div id="page-heading">
    	<h1>Manage Health Care Abroad Data</h1>
    </div>
    <!-- end page-heading -->
    
    {% embed '::contentWrapper.admin.html.twig' %}
        
        {% block wrappedContent %}

            {# ----- Medical Terms Related tasks ----- #}
            {% set manageSpecializationTask = {"title": 'Specialization Management', 'class': 'list-icon', 'description': 'View all available specializations or add new one.', 'href': path('admin_specialization_index'), 'links': [{title:'View Specializations',href: path('admin_specialization_index')}, {title:'Add Specialization', href: path('admin_specialization_add')}]} %}
            {% set manageTreatmentTasks = {title: 'Treatment Management', 'description': 'View all available treatments or add new one.', 'href': path('admin_treatment_index'), 'links': [{title:'View Treatments',href: path('admin_treatment_index')}, {title:'Add Treatment', href: path('admin_treatment_add')}] } %}

            {% include '::relatedTasks.base.admin.html.twig' with 
		        {'headerTitle': 'Manage Medical Related Data', 'contents': [manageSpecializationTask, manageTreatmentTasks]} 
	        %}

            {# ----- Location Related tasks ----- #}
            {% set manageCountriesTask = {"title": 'Manage Countries', 'class': 'list-icon', 'description': 'View all countries or add new one.', 'href': path('admin_country_index'), 'links': [{title:'View Countries',href: path('admin_country_index')}, {title:'Add Country', href: path('admin_country_add')}]} %}
            {% set manageCitiesTask = {"title": 'Manage Cities', 'class': 'list-icon', 'description': 'View all cities or add new one.', 'href': path('admin_city_index'), 'links': [{title:'View Cities',href: path('admin_city_index')}, {title:'Add City', href: path('admin_city_add')}]} %}
		    
            {% include '::relatedTasks.base.admin.html.twig' with 
		        {'headerTitle': 'Manage Locations', 'contents': [manageCountriesTask, manageCitiesTask]} 
	        %}
	        
			{# ----- Offered Service Related and Language tasks ----- #}
			{% set manageOfferedServiceTasks = {title: 'Service Offered Management', 'description': 'View all available Service Offered or add new one.', 'href': path('admin_offered_service_index'), 'links': [{title:'View Services Offered',href: path('admin_offered_service_index')}, {title:'Add Offered Service', href: path('admin_offered_service_add')}] } %}
		    {% set manageLanguageTasks = {title: 'Language Management', 'description': 'View all available Language', 'href': path('admin_language_index'), 'links': [{title:'View Language',href: path('admin_language_index')}] } %}
		    
            {% include '::relatedTasks.base.admin.html.twig' with 
		        {'headerTitle': 'Manage Form Datas', 'contents': [ manageOfferedServiceTasks, manageLanguageTasks]} 
	        %}
	       
			<div id="table-content" style="width: 70%">
		        {% include '::notice.admin.html.twig' %}
			
			    <h2>Sub Heading </h2>
    			<h3>Local Heading</h3>

    			<p>
	    			Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur 
	    			adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur 
	    			adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua. 
				</p>

				<p>
	    			Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur 
	    			adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur 
	    			adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua. 
				</p>

				<p>
	    			Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur 
	    			adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur 
	    			adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua.
    			</p>
			</div>
        {% endblock %}
        
    {% endembed %}
    
</div>
<!--  end content -->
<div class="clear">&nbsp;</div>
{% endblock %}