<!-- start nav-right -->
<div id="nav-right">
    <div class="nav-divider">&nbsp;</div>
    <div class="showhide-account">
        <img src="{{ asset('images/admin/shared/nav/nav_myaccount.gif') }}" width="93" height="14" alt="" />
    </div>
	<div class="nav-divider">&nbsp;</div>
    <a href="" id="logout"><img src="{{ asset('images/admin/shared/nav/nav_logout.gif') }}" width="64" height="14" alt="" /></a>
	<div class="clear">&nbsp;</div>
</div>
<!-- end nav-right -->