<form class="navbar-search pull-left">
    <input type="text" class="search-query" placeholder="Search" onblur="if (this.value=='') { this.value='Search'; }" onfocus="if (this.value=='Search') { this.value=''; }">
    setsdff
</form>