{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab='settings' %}
{% set admin_settingLabel = getClassLabel('admin_setting') %}

{% block content %}
    <div class="span3">
    {% include 'AdminBundle:Widgets:settingsTasks.html.twig'%}
    </div>
    <div id="content" class="span9">
  	 	
  	 	{% embed 'HelperBundle:Widgets:section.html.twig' 
            with { 
                title: admin_settingLabel.plural | title
            }  
        %}
    
    {% block sectionContent %}
            <table>
                <tr>
                    <td style="vertical-align: top;">
                        <!--  start table-content  -->
            			<div id="table-content">
            			    
            			    {% include '::notice.admin.html.twig' %}
            			
            			    <h2>Sub Heading </h2>
                			<h3>Local Heading</h3>
                			
                			Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur 
                			adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur 
                			adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua. 
                			<br />
                			<br />
                			Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur 
                			adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur 
                			adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua. 
                			<br />
                			<br />
                			Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur 
                			adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur 
                			adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua.
                			
            			</div>
                    </td>
               
                </tr>
            
            </table>
			{% endblock %}
            
        {% endembed %}
    </div>
    
{% endblock %}