{% extends 'AdminBundle::layout.html.twig' %}
{% set user_typesLabel = getClassLabel('user_type') %}

{% set selectedTab = 'settings' %}
{% form_theme form '::form.admin.html.twig' %}
{% set selectedSubMenu = 'user_type' %}
{% block content %}
    <div class="span3">
    {% include 'AdminBundle:Widgets:settingsTasks.html.twig'%}
    </div>
    <div id="content" class="span9">
    {% embed 'HelperBundle:Widgets:section.html.twig' with { 
                title: ( form.vars.value.id ? 'Edit ' : 'Add ' ) ~ user_typesLabel.singular | title ,
                actions:[
                		{link: path('admin_userType_index'), label: 'View all '~ user_typesLabel.plural | title, 'icon' : 'icon-list' } ,
               			{link: path('admin_userType_add'), label: 'Add '~ user_typesLabel.plural | title, 'icon' : 'icon-list' },
               			{link: path('admin_userRole_index'), label: 'View all Permissions ', 'icon' : 'icon-list' }]
            }
        %}
	
		{% block sectionContent %}

                {% include '::notice.admin.html.twig' %}
            			
            			    <form novalidate="novalidate" action="{{ userType.id ? path('admin_userType_edit_save', {id: userType.id}) : path('admin_userType_add_save') }}" method="POST" {{ form_enctype(form) }} class="user">
                			    <!-- start id-form -->
                        		<table border="0" cellpadding="0" cellspacing="0"  id="id-form">
                        		    
                        		    {{ form_row(form.name) }}
                                    
                                    <tr>
                                		<th>&nbsp;</th>
                                		<td valign="top">
                                			<input type="submit" name="submit" value="Submit" class="btn btn-large btn-primary" />
                                			<input type="reset" value="Reset" class="btn btn-large"  />
                                		</td>
                                		<td></td>
                                	</tr>
                                    
                                    {{ form_rest(form) }}
                                    
                            	</table>
                            	<!-- end id-form  -->
                        	</form>
           {% endblock %}
        {% endembed %}
    </div>

{% endblock %}
