{% extends '::base.html.twig' %}
{% block body %}
	<div id="content">
       	{% block footer %}
           	Your account is successfully verified!
           	Start creating your account.
       	{% endblock %}
    </div>
    <section id="wrapper">
           	<a href="{{ path('ProviderBundle_create_provider') }}">Proceed..</a></li>
    </section>
{% endblock %}
