{% extends '::base.html.twig' %}
{% block body %}
<form action="{{ path('ProviderBundle_create_token') }}" method="post" {{ form_enctype(form) }} class="user">
	<div class="body">
		{{ form_widget(form) }}  
        	<p><input type="submit" value="Submit"></p>
    </div>
</form>
{% endblock %}