{% extends '::base.frontend.html.twig' %}

{% block title %}{{ parent() }} &raquo; Healthcare Abroad{% endblock %}

{% block body %}
    <div id="fixed_container">

        {% block header %}
            {% include 'FrontendBundle:Widgets:header.html.twig' %}
        {% endblock %}

        {% if (renderFrontendBreadcrumb is defined) and renderFrontendBreadcrumb %}
            {% set breadcrumbParams = {
                institution: institution is defined ? institution : null,
                route: app.request.get('_route'),
                routeParams: app.request.get('_route_params')
            } %}
            {% render 'FrontendBundle:Default:renderBreadcrumb' with breadcrumbParams%}
        {% endif %}

        {% block callout %}{% endblock %}
        
        <div id="content" class="container {{ class is defined ? class : '' }} {{ isHomePage is defined ? '' : 'content' }}">
            {% block content %}{% endblock %}
        </div>

        <div class="border_pattern_footer">&nbsp;</div>

        {% block footer %}
            {% include 'FrontendBundle:Widgets:footer.html.twig' %}
        {% endblock %}

    </div>

    {{ outputInlineJavascript() | raw }}

{% endblock %}


