{% extends '::base.campaignIntro.html.twig' %}

{% block title %}{{ parent() }} &raquo; HealthcareAbroad.com{% endblock %}

{% block body %}

    {% block header %}
        {% include 'FrontendBundle:CampaignIntro/Widgets:header.html.twig' %}
    {% endblock %}
    
    {% block content %}  <div id="wrapper"></div>{% endblock %}
    
    {% block javascripts %}
                  <script type="text/javascript">
                            $(document).ready(function() {
                    $("#menu").sticky({
                        topSpacing: 0
                    });
                });
            </script>
            <script type="text/javascript">
                            $(function() {
                    $('body').popover({
                        selector: '[data-toggle="popover"]',
                        placement: 'top'
                    });
                });
            </script>
    {% endblock %}
    {% block inlineJavascriptCode %}{% endblock %}
{% endblock %}