{% extends '::base.frontend.html.twig' %}

{% block title %}{{ parent() }} &raquo; Healthcare Abroad{% endblock %}

{% block body %}
    <div id="fixed_container">

        {% block header %}
            {% include 'FrontendBundle:Widgets:header.html.twig' %}
        {% endblock %}

        <div id="content_wrapper" class="container">

            {% if app.request.attributes.get('_route') != 'main_homepage' %}        
                {% include 'FrontendBundle:Widgets:breadcrumbs.html.twig' %}
            {% endif %}

            {% block content %}{% endblock %}

        </div>
        <div class="border_pattern_footer">&nbsp;</div>

        {% block footer %}
            {% include 'FrontendBundle:Widgets:footer.html.twig' %}
        {% endblock %}

    </div>

    {{ outputInlineJavascript() | raw }}

{% endblock %}


