{% extends '::base.frontend.html.twig' %}

{% block title %}{{ parent() }} &raquo; Healthcare Abroad{% endblock %}

{% block body %}
    <div id="fixed_container">

        {% block header %}
            {% include 'FrontendBundle:Widgets:header.html.twig' %}
        {% endblock %}
        
        {% if 'main_homepage' != app.request.attributes.get('_route') %}
            {% include 'FrontendBundle:Widgets:breadcrumbs.html.twig' %}
        {% endif %}
        
        {% block callout %}{% endblock %}
        {% set _hasContentClass = _hasContentClass is defined ? _hasContentClass : true %}
        <div id="content" class="container {{ _hasContentClass ? 'content': ''}}">
            {% block content %}{% endblock %}
        </div>
        <div class="border_pattern_footer">&nbsp;</div>

        {% block footer %}
            {% include 'FrontendBundle:Widgets:footer.html.twig' %}
        {% endblock %}

    </div>

    {{ outputInlineJavascript() | raw }}

{% endblock %}


