{% extends '::base.frontend.html.twig' %}

{% block title %}{{ parent() }} &raquo; Healthcare Abroad{% endblock %}

{% block body %}
    <div id="fixed_container">

        {% block header %}
            {% include 'FrontendBundle:Widgets:header.html.twig' %} <!-- Prev Code: {# include 'FrontendBundle:Default:header.html.twig' #} -->
        {% endblock %}

        <div class="border_pattern">&nbsp;</div>    
        <div id="content_wrapper">
            <div class="container">
            
                {% include 'FrontendBundle:Widgets:breadcrumbs.html.twig' %}

                {% block content %}
                    {# include 'FrontendBundle:Default:content.html.twig' #}    
                {% endblock %}
            </div>

        </div>
        <div class="border_pattern_footer">&nbsp;</div>

        {% block footer %}
            {% include 'FrontendBundle:Widgets:footer.html.twig' %}
        {% endblock %}

    </div>

    {{ outputInlineJavascript() | raw }}

{% endblock %}


