services:
    frontend.widgets_twig_extension:
        class: HealthCareAbroad\FrontendBundle\Twig\WidgetsTwigExtension
        public: false
        tags:
            - { name: twig.extension }
        calls:
            - [setFormFactory, [@form.factory]]
            - [setTwig, [@twig]]

    frontend.institution_twig_extension:
        class: HealthCareAbroad\FrontendBundle\Twig\InstitutionTwigExtension
        public: false
        calls:
            - [setInstitutionService, [@services.institution]]
            - [setRouter, [@router]]
        tags:
            - { name: twig.extension }

    frontend.advertisement_twig_extension:
        class: HealthCareAbroad\FrontendBundle\Twig\AdvertisementTwigExtension
        public: false
        tags:
            - { name: twig.extension }

    frontend.page_meta_configuration_twig_extension:
        class: HealthCareAbroad\FrontendBundle\Twig\PageMetaConfigurationTwigExtension
        public: false
        tags:
            - { name: twig.extension }
        calls:
            - [setPageMetaConfigurationService, [@services.helper.page_meta_configuration]]
            - [setSiteName, [%site_name%]]

    frontend.search_twig_extension:
        class: HealthCareAbroad\FrontendBundle\Twig\SearchTwigExtension
        public: false
        tags:
            - { name: twig.extension }
        calls:
            - [setRouter, [@router]]
            - [setInstitutionService, [@services.institution]]