{# This delete modal is used in Complete Profile Step 5 and in Medical Center Specialist Tab #}

<div id="specialistModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {% set _commonDeleteCsrfTokenWidget = _commonDeleteCsrfTokenWidget is defined ? _commonDeleteCsrfTokenWidget : form_widget(commonDeleteForm._token) %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Delete Specialist</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to remove
        	<strong> </strong>
        </p>
    </div>
    <div class="modal-footer">
        <form action="{{ path('institution_medicalCenter_ajaxRemoveSpecialistService', {'imcId': institutionMedicalCenter.id, 'institutionId': institution.id } ) }}">
            {{ _commonDeleteCsrfTokenWidget | raw }}
             <input type="hidden" name="id" class="doctorHiddenId" id="id" value=""/>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    	    <button data-loading-text="Processing..." class="btn btn-danger delete-button" type="button" onclick="InstitutionMedicalCenter.submitRemoveMedicalSpecialistForm(this); return true;">Delete</button>
        </form>
    </div>
</div>