<div id="add-doctor" class="modal hide fade hca-doctors-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <h3 id="myModalLabel modal-label">
            Add Doctor
        </h3>
    </div>
    <div class="modal-body">
        <form action="/" method="post">
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group span6">
                        <label for="institution-name">
                            Family Name
                        </label>
                        <input type="text" name="institution-name" id="institution-name" placeholder=""
                        class="span12" required="">
                    </div>
                    <div class="control-group span6">
                        <label for="website">
                            First Name
                        </label>
                        <input type="text" name="institution-name" id="institution-name" placeholder=""
                        class="span12" required="">
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group span6">
                        <label for="institution-name">
                            Middle Name
                        </label>
                        <input type="text" name="institution-name" id="institution-name" placeholder=""
                        class="span12" required="">
                    </div>
                    <div class="control-group span6">
                        <label for="Suffix Name">
                            Suffix Name
                        </label>
                        <div class="input-append hca-location">
                            <input class="hca-suffix pull-left" id="appendedDropdownButton" type="text">
                        </div>   
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <a href="add-doctors-listing-individual-clinic.html" class="btn pull-right btn-primary btn-large">
                    Save
                </a>
    </div>
</div>
<br>
<br>