	<div id="treatmentModal{{ institutionSpecialization.id }}" class="modal hide fade modal-box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    	{% set _commonDeleteCsrfTokenWidget2 = _commonDeleteCsrfTokenWidget is defined ? _commonDeleteCsrfTokenWidget : form_widget(comdmonDeleteForm._token) %}
    	<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3>Delete Treatment</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete
            	<strong></strong>
            </p>
        </div>
        <div class="modal-footer">
            <form action="{{ path('institution_medicalCenter_ajaxRemoveSpecializationTreatment', {'imcId': institutionMedicalCenter.id, isId: institutionSpecialization.id }) }}" id="treatmentDeleteForm">
                {{ _commonDeleteCsrfTokenWidget2 | raw }}
                <input type="hidden" name="tId" id="tId" value=""/>
                 <button class="btn" aria-hidden="true" data-dismiss="modal" class="btn">Cancel </button>
        	    <button data-loading-text="Processing..." class="btn btn-danger delete-button" type="button" onclick="InstitutionMedicalCenter.submitRemoveSpecializationTeatmentForm(this); return true;">Delete</button>
            </form>
        </div>
	</div>    