<tr class="ancillaryancillaryServices_row">
	<td>{{ ancillaryService.name |title }}</td>
	<td>
	    {% if (_isSelected is defined and _isSelected ) %}
	
	        <div class="post-toolbar treatment_action">
				<i class="icon-minus" title="Delete"></i>
				<a href="{{ path('admin_ajaxRemoveAncillaryService', {'institutionId' : institution.id, 'asId': ancillaryService.id } ) }}" onclick="Institution.removeAncillaryService($(this)); return false;" title="" >
				    Delete Service
			    </a>
			</div>
		{% else %}
		    <div class="post-toolbar treatment_action">
				<i class="icon-plus" title="Add"></i>
				<a href="{{ path('admin_institution_ajaxaddAncilliaryService', {'institutionId' : institution.id, 'asId': ancillaryService.id } ) }}" onclick="Institution.addAncillaryService($(this)); return false;" title="" >
				    Add Service
			    </a>
			</div>
	    {% endif %}
		
	</td>
</tr>