<div id="{{ modal.id }}" class="modal hide fade modal-box {{ modal.customClass is defined ? modal.customClass : '' }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="Closed" data-dismiss="modal" aria-hidden="true">x</button> 
        <h3 id="myModalLabel">{{ modal.title }}</h3> 
    </div>
    
    <div class="modal-content modal-body" style="{{ modal.customBodyStyle is defined ? modal.customBodyStyle : '' }}" >
        {% block modalBody %}{% endblock %}
    </div>
    
    <div class="modal-footer button-wrapper">
        {% block footerBody %}{% endblock %}
    </div>
    <!-- end modal-body -->
</div>