
{% embed 'FrontendBundle:Embed:callout.base.html.twig' %}
    {% block calloutContent %}
        <div class="span9">
            <div class="media">
                <div class="media-body">
                    <h1 class="search-info"> Search Results for <small>{{ searchLabel }}</small></h1>
                </div>
            </div>
        </div>
        <div class="span3">
            <a href="{{ path('frontend_search') }}" class="all-clinic btn green">Back to Search</a>
        </div>
    {% endblock %}
{% endembed %}
