<aside id="aside_content" class="span4">
    <section class="box-in">
        <h5 class="heading"><small> Narrow </small> Search </h5>
        <ul class="related">
            <li class="row">
                <h3>Narrow down search results</h3>
                
                {{ render_narrow_search_widget() | raw }}

            </li>
        </ul>
    </section>
</aside>

