            <header class="search filters">
                <h2>Search Healthcare Abroad</h2>
                <p class="desc">Destinations</p>
                <div class="search-box row-fluid">
                    <div class="span6">
                        <button class="btn span12 text-left default btn-pop" data-toggle="dropdown">
                            <span class="btn-label">Countries</span>
                            <span class="icon-chevron-down pull-right"></span>
                        </button>
                        <div class="input-append dropdown-menu" role="menu">
                            <input class="search-field span12" type="text">
                            <p class="test">Please select a country</p>
                            <ul class="popup-list country">
                                <li><a href="#">Philippines</a></li>
                                <li><a href="#">India</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="span6">
                        <button class="btn span12 text-left default btn-pop disabled" data-toggle="dropdown">
                            <span class="btn-label">Cities</span>
                            <span class="icon-chevron-down pull-right"></span>
                        </button>
                        <div class="input-append dropdown-menu" role="menu">
                            <input class="search-field span12" type="text">
                            <p class="test">Please select a city</p>
                            <ul class="popup-list city">
                                <li><a href="#">Cebu</a></li>
                                <li><a href="#">Makati</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <p class="desc">Procedures</p>
                <div class="search-box row-fluid">
                    <div class="span6">
                        <button class="btn span12 text-left default btn-pop" data-toggle="dropdown">
                            <span class="btn-label">Specializations</span>
                            <span class="icon-chevron-down pull-right"></span>
                        </button>
                        <div class="input-append dropdown-menu" role="menu">
                            <input class="search-field span12" type="text">
                            <p class="test">Please select a specialization</p>
                            <ul class="popup-list specialization">
                                <li><a href="#">Specialization 01</a></li>
                                <li><a href="#">Specialization 02</a>
                                    <ul>
                                        <li><a href="#">Some sub spec</a></li>
                                        <li><a href="#">Another sub</a></li>
                                        <li><a href="#">Super duper sub</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Specialization 03</a></li>
                                <li><a href="#">Specialization 04</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="span6">
                        <button class="btn span12 text-left default btn-pop disabled" data-toggle="dropdown">
                            <span class="btn-label">Treatments</span>
                            <span class="icon-chevron-down pull-right"></span>
                        </button>
                        <div class="input-append dropdown-menu" role="menu">
                            <input class="search-field span12" type="text">
                            <p class="test">Please select a treatment</p>
                            <ul class="popup-list treatment">
                                <li><a href="#">Facelift</a></li>
                                <li><a href="#">Laser Surgery</a></li>
                                <li><a href="#">Knee Surgery</a></li>
                                <li><a href="#">Some Treatment</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <p class="desc"></p>
                <div class="search-box row-fluid">
                    <a href="results-specialization.html" class="btn btn-large orange pull-right"><i class="icon-search icon-white"></i> Search HCA</a>
                </div>
            </header>