<aside id="aside_content" class="span4">
    <section class="box-in">
        <ul class="related">
            <li class="row">
                <h3>Not what your're looking for?</h1>
                <ul>
                    <li>
                        <form>
                            <fieldset>
                                <h4>Search Again</h4>
                                <label>
                                    <b>Specialization or Treatment</b>
                                </label>
                                <input type="text" placeholder="i.e: Facelift">
                                <label>
                                    <b>Destination</b>
                                </label>
                                <input type="text" placeholder="i.e: Thailand, Hawaii">
                                <button type="submit" class="btn orange">
                                    <i class="icon-search icon-white"></i>Search
                                </button>
                            </fieldset>
                        </form>
                        <h4>Or Simply</h4>
                        <div>
                            <a href="#" class="btn green">Go back to search page</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</aside>
<!--End of aside_content-->
