{% set _narrowSearchAutocompleteSource = path('frontend_narrowSearch_autocomplete') %}
{% set _commonAutocompleteOptions = {
    'field': 'input.search-field',
    'selected_value_container': '.autocomplete_selected_value_container',
    'autocomplete_list_container': '.autocomplete_list_container',
    'source': _narrowSearchAutocompleteSource
}%}

{% set narrowSearchWidgets = get_narrow_search_widgets_configuration(includedNarrowSearchWidgets, _commonAutocompleteOptions) %}
{% set groupedWidgets = {
    'treatments': {
        'specialization': narrowSearchWidgets.specialization is defined ? narrowSearchWidgets.specialization : null,
        'sub_specialization':  narrowSearchWidgets.sub_specialization is defined ? narrowSearchWidgets.sub_specialization : null,
        'treatment':  narrowSearchWidgets.treatment is defined ? narrowSearchWidgets.treatment : null,
    },
    'destinations': {
        'country': narrowSearchWidgets.country is defined ? narrowSearchWidgets.country : null,
        'city':  narrowSearchWidgets.city is defined ? narrowSearchWidgets.city : null,
    }
}%}
{% embed 'SearchBundle:Frontend/Widgets:base.narrowDownSearch.html.twig'  %}

    {% block narrowDownSearchWidgets %}

        {% for _treatmentWidget in groupedWidgets.treatments  %}
            {% if _treatmentWidget %}
            <li class="narrow-description">Specific {{ _treatmentWidget.type | title}}</li>
            <li class="row-fluid combo-box narrow_search_widget_{{ _treatmentWidget.type  }}">
                {% include 'SearchBundle:Frontend/Widgets:form.narrowSearchByType.html.twig' with { widget: _treatmentWidget } %}
            </li>
            {% endif %}
        {% endfor %}

        {% for _destinationWidget in groupedWidgets.destinations  %}
            {% if _destinationWidget %}
            <li class="narrow-description">Specific {{ _destinationWidget.type | title}}</li>
            <li class="row-fluid combo-box narrow_search_widget_{{ _destinationWidget.type }}">
                {% include 'SearchBundle:Frontend/Widgets:form.narrowSearchByType.html.twig' with { widget: _destinationWidget } %}
            </li>
            {% endif %}
        {% endfor %}

    {% endblock %}

{% endembed %}