{% block body %}
<div class="body">
	<form action="{{ path('ProviderBundle_create_provider') }}" method="post" {{ form_enctype(form) }}>
			{{ form_widget(form) }}  
				<p>Provider Users:</p>
		   
				<p>Email:<input type="text"></p>
				<p>Name:<input type="text"></p>
				<p>password:<input type="text"></p>
				<p><input type="submit" value="Submit"></p>
			
	</form>
</div>
{% endblock %}


	

