HealthCareAbroad\HelperBundle\Entity\FeedbackMessage:
    properties:
        name:
            - NotBlank: {message: 'Please provide your name.'}
        emailAddress:
            - NotBlank: {message: 'Please provide your email address.'}
            - Email: {message: 'The email address you have provided is not valid.'}   
        message:
            - NotBlank: {message: "You've not written your message."}
        country:
            - NotBlank: {message: 'Please provide your country.' }
            
HealthCareAbroad\HelperBundle\Entity\PageMetaConfiguration:
    constraints:
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity:
            fields: [url]
            message: Meta configuration for URL already exists!
    properties:
        title:
            - NotBlank: ~
        description: 
            - NotBlank: ~