<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% block title %}{{ site_name }} Institution{% endblock %}</title>
               {% javascripts 
			'js/jquery/jquery-1.8.2.js'
			'js/jquery/jquery-ui-1.9.0.custom.min.js'
			'bundles/helper/js/Common.js'
        %}
        
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
		
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	  <script src="{{ asset('bundles/helper/js/google_map.js') }}"></script>
            {% stylesheets 

				'css/bootstrap.min.css'
				'css/bootstrap.css'
				'css/institution/style.css' 	
				output='css/compiled-gmap.css'
				
            %}
                <link href="{{ asset_url }}" rel="stylesheet"/>
            {% endstylesheets %}

    </head>
    {% block body %}{% endblock %}

</html>