<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% block title %}HealthCareAbroad{% endblock %}</title>
        
        {% javascripts 
			'js/jquery/jquery-1.7.2.min.js'
			'js/jquery/jquery-ui-1.8.21.custom/jquery.ui.core.js'
			'js/jquery/jquery-ui-1.8.21.custom/jquery.ui.widget.js'
			'js/jquery/jquery-ui-1.8.21.custom/jquery.ui.position.js'
			'js/jquery/jquery-ui-1.8.21.custom/jquery.ui.autocomplete.js'
			'bundles/helper/js/Common.js'
        %}
        	<script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        
        {% block stylesheets %}
        	<link href="{{ asset('css/jquery-ui/base/jquery.ui.all.css') }}" rel="stylesheet"/>
            <link href="{{ asset('css/admin/screen.css') }}" type="text/css" rel="stylesheet"/>
        {% endblock %}
    </head>
    {% block body %}{% endblock %}
</html>