<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% block title %}HealthCareAbroad Institution{% endblock %}</title>
               {% javascripts 
			'js/jquery/jquery-1.8.2.js'
			'js/jquery/jquery-ui-1.9.0.custom.min.js'
			'bundles/helper/js/Common.js'
        %}
        
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
		
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
		
		<script type="text/javascript">
		  var tableId = 4442675; // imported from 3835940
		  var geocoder = null;
		  var map = null;
		  var layer = null;
		  var marker = null;
		  var address = 'Manila, Philippines';
		  //var address = document.getElementById("ctl00_PlaceHolderMain_txtStreet").value + ", " + document.getElementById("ctl00_PlaceHolderMain_txtCity").value + " " + document.getElementById("ctl00_PlaceHolderMain_txtZip").value;

		 function codeAddress() {
			 var selectedCity = document.getElementById('institutionProfile_city');
			 var selectedCountry = document.getElementById('institutionProfile_country');

		    var address = document.getElementById("institutionProfile_address1").value + "," + selectedCity.options[selectedCity.selectedIndex].innerHTML + "" + document.getElementById("institutionProfile_zipCode").value + "," + selectedCountry.options[selectedCountry.selectedIndex].innerHTML;
		    geocoder.geocode( { 'address': address}, geocoderCallback ); 
		  }
		
		  function initialize() {
		    var myOptions = {
		      zoom: 13,
		      mapTypeId: google.maps.MapTypeId.ROADMAP
		    }
		    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
		    geocoder = new google.maps.Geocoder();
		    geocoder.geocode( { 'address': address}, geocoderCallback);
		  }
		
		function geocoderCallback (results, status) {
		      if (status == google.maps.GeocoderStatus.OK) {
		        map.setCenter(results[0].geometry.location);
		        var lat = results[0].geometry.location.lat();
		        var lng = results[0].geometry.location.lng();		        
		        var point2 = lat + ", " + lng; 
		        
		        document.getElementById("institutionProfile_coordinates").value = point2; 
		        
		        if (marker) marker.setMap(null);
		
		        marker = new google.maps.Marker({
		            map: map, 
		            position: results[0].geometry.location,
		            draggable:true,
	                zoom: 13,
	                animation: google.maps.Animation.DROP
	                   
		        });
		        
		        if (!layer) 
		        {
		            layer = new google.maps.FusionTablesLayer({
		              query: {
		                select: 'geometry',
		                from: tableId,
		                where: 'ST_INTERSECTS(geometry, CIRCLE(LATLNG(' + lat + ', ' + lng + '),1))',
		                limit: 1
		              }
		            });
		            layer.setMap(map);
		        } 
		        else 
		        { 
		           layer.setOptions({
		              query: {
		                select: 'geometry',
		                from: tableId,
		                where: 'ST_INTERSECTS(geometry, CIRCLE(LATLNG(' + lat + ', ' + lng + '),1))',
		                limit: 1
		              }
		            });
		        }
		        google.maps.event.addListener(marker, 'click', toggleBounce);
		      } else {
		        alert("Geocode was not successful for the following reason: " + status);
		      }
		};
		
		  function toggleBounce() {

	          if (marker.getAnimation() != null) {
	            marker.setAnimation(null);
	          } else {
	            marker.setAnimation(google.maps.Animation.BOUNCE);
	          }
	        }
		</script>
            {% stylesheets 

				'css/institution/bootstrap.min.css'
				'css/institution/bootstrap-responsive.min.css'
				'css/institution/style.css' 	
				output='css/compiled-institution.css'
				
            %}
                <link href="{{ asset_url }}" rel="stylesheet"/>
            {% endstylesheets %}

    </head>
    {% block body %}{% endblock %}

</html>