<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />       
        {% block stylesheets %}
            <link href="{{ asset('css/screen.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        <section id="wrapper">
            <header id="header">
                <div class="top">
                    {% block navigation %}
                        <nav>
                            <ul class="navigation">
                                <li></li>
                            </ul>
                        </nav>
                    {% endblock %}
                </div>

            </header>

            <section class="main-col">
                  {% block body %}{% endblock %}
            </section>
    

            <div id="footer">
                {% block footer %}
                    Copyright www.HealthCareAbroad.com
                {% endblock %}
            </div>
        </section>

        {% block javascripts %}{% endblock %}
    </body>
    </body>
</html>
