<!-- start footer -->         
<div id="footer">
	<!--  start footer-left -->
	<div id="footer-left">
	
	&copy; HealthCareAbroad Far East Inc. <span id="spanYear"></span> <a href="http://www.healthcareabroad.com">www.HealthCareAbroad.com</a>. All rights reserved.</div>
	<!--  end footer-left -->
	<div class="clear">&nbsp;</div>
</div>
<!-- end footer -->