<!-- start footer -->         
<div id="footer">
	<!--  start footer-left -->
	<div id="footer-left">
	
	&copy; {{ cfe_company_name }} <span id="spanYear"></span> <a href="{{ cfe_site_url }}" target="_blank">{{ cfe_site_name }}</a>. All rights reserved.</div>
	<!--  end footer-left -->
	<div class="clear">&nbsp;</div>
</div>
<!-- end footer -->