{% for alert, message in app.session.flashes %}
	{% if alert == 'warning' %}
	    {% set class = 'warning' %}
	{% elseif alert == 'error' %}
	    {% set class = 'alert-error' %}
	{% elseif alert == 'success' %}
	    {% set class = 'alert-success' %}
	{% elseif (alert == 'notice') or alert == 'info' %}
	    {% set class = 'alert-info' %}
	{% else %}
	    {% set class = '' %}
	{% endif %}
	
	{% if class != '' %}
    <div class="alert {{ class }}">
        <!-- button type="button" class="close" data-dismiss="alert">x</button>  -->
        <strong>{{ alert | title }}!</strong> {{ message | raw}}
    </div>
    {% endif %}
{% endfor %}
