
<ul class="nav nav-tabs">

    {% for step in steps %}
    
        {% set isSelected = step.selected is defined and step.selected %}
        
         {% if step.path is defined %}
             <li class="{{ isSelected ? 'active': '' }}"><a href="{{ path(step.path) }}"><span>{{ loop.index }}</span> {{step.title}} </a></li>
         {% endif %}
	
    {% endfor %}
</ul>

