{% extends 'InstitutionBundle::layout.html.twig' %}
{% set selectedTab = 'gallery'%}
{#% form_theme form '::form.admin.html.twig' %#}

{% block content %}
<!-- start content -->
<div id="content">
    <!--  start page-heading -->
    <div id="page-heading">
        <h1>Add Media to Gallery</h1>
    </div>
    <!-- end page-heading -->

    {% embed '::contentWrapper.admin.html.twig' %}

        {% block wrappedContent %}
            {# ----- Related tasks ----- #}
            {% include 'MediaBundle:Institution:relatedTasksAddMedia.html.twig' %}
            {# ----- end Related tasks ----- #}

               <!--  start table-content  -->
               <div id="table-content" style="width:75%;">

                <div id="dialog-form" title="Add media">
                    <form>
                        <div id="uploader">
                            <p>You browser doesn't have Flash, Silverlight, Gears, BrowserPlus or HTML5 support.</p>
                        </div>
                    </form>
                </div>

            </div>
        {% endblock %}

    {% endembed %}

</div>
<!--  end content -->
<div class="clear">&nbsp;</div>
{% endblock %}


{% block inlineJavascriptCode %}
<!-- Load Queue widget CSS and jQuery -->
<style type="text/css">@import url({{ asset('bundles/media/js/plupload/js/jquery.ui.plupload/css/jquery.ui.plupload.css') }});</style>

<!-- Third party script for BrowserPlus runtime (Google Gears included in Gears runtime now) -->
<script type="text/javascript" src="http://bp.yahooapis.com/2.4.21/browserplus-min.js"></script>

<!-- Load plupload and all it's runtimes and finally the jQuery UI queue widget -->

<script type="text/javascript" src="{{ asset('bundles/media/js/plupload/js/plupload.full.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/media/js/plupload/js/jquery.ui.plupload/jquery.ui.plupload.js') }}"></script>

<script type="text/javascript">

// Convert divs to queue widgets when the DOM is ready
$(function() {
    $("#uploader").plupload({
        // General settings
        /*runtimes : 'gears,flash,silverlight,browserplus,html5',*/
        runtimes : 'html5',
        url : '{{ path('media_upload') }}',
        max_file_size : '10mb',
        /*chunk_size : '1mb',*/
        unique_names : true,

        // Resize images on clientside if we can
        //resize : {width : 320, height : 240, quality : 90},

        // Specify what files to browse for
        filters : [
            {title : "Image files", extensions : "jpg,gif,png"},
            {title : "Zip files", extensions : "zip"},
            {title : "Pdf files", extensions : "pdf"},
            {title : "Video files", extensions : "avi,mov,flv"}
        ],

        // Flash settings
        flash_swf_url : '/plupload/js/plupload.flash.swf',
        //http://www.youtube.com/watch?v=kPIM6V9eeRE
        // Silverlight settings
        //silverlight_xap_url : '/plupload/js/plupload.silverlight.xap'
    });

    // Client side form validation
    $('form').submit(function(e) {
        var uploader = $('#uploader').plupload('getUploader');

        // Files in queue upload them first
        if (uploader.files.length > 0) {
            // When all files are uploaded submit form
            uploader.bind('StateChanged', function() {
                if (uploader.files.length === (uploader.total.uploaded + uploader.total.failed)) {
                    $('form')[0].submit();
                }
            });

            uploader.start();
        } else
            alert('You must at least upload one file.');

        return false;
    });
});
</script>
{% endblock %}
