<li class="row-fluid combo-box">
    <button class="btn span12 text-left default btn-pop" data-toggle="dropdown">
        <span class="btn-label">Select a {{ searchWidget.label }}</span>
        <span class="icon-chevron-down pull-right" style="vertical-align: middle"></span>
    </button>
    <div class="input-append dropdown-menu" role="menu">
        <input class="search-field" type="text"/>
        <p class="test search-help-text" style="">Please select a {{ searchWidget.label | lower }}</p>
    </div>
</li>