{% set searchWidget = searchWidget| merge({
    value_container_id: '#value_container_'~ searchWidget.type,
    dropdown_id: '#dropdown_'~searchWidget.type
})%}

<li class="row-fluid combo-box">
    <button class="btn span12 text-left default btn-pop autocomplete_dropdown_trigger" data-target="{{ searchWidget.dropdown_id }}" >
        <span class="btn-label">Select a {{ searchWidget.label }}</span>
        <span class="icon-chevron-down pull-right" style="vertical-align: middle"></span>
    </button>
    <div class="input-append dropdown-menu" role="menu">
        <input class="search-field" type="text" data-value-container="{{ searchWidget.value_container_id }}" />
        <p class="test search-help-text" style="">Please select a {{ searchWidget.label | lower }}</p>
    </div>
</li>