/*----------------------------------------
CSS Reset
------------------------------------------*/

a:hover
{
  text-decoration: none;
}


/*----------------------------------------
Body
------------------------------------------*/

body {
    color: #2f2f2f;
    font-family: 'Muli', Arial, Helvetica, sans serif !important;
    font-size: 12px;
    line-height: 20px;
}


h1, h2, h3, h4, h5, h6 {
    font-weight:normal;


}

.hidden {
    display: none;
    visibility: hidden;
}

.invisible {
    visibility: hidden;
}


.clear {
    clear: both;
    padding-top:6px;
}

/*-------------------------
    Nav Bar
 --------------------------*/
 .navbar-search
{
    margin-top: 6px;
    margin-right:15px;
    margin-bottom:5px;
}

/*******************************************************************
 *      Header
 *******************************************************************/
#header {
    background:#f5f5f5;
    padding: 0;
    padding-top:0;
    position:relative;
    clear:both;
}

#header .top_line {
       position:absolute;
       top:1px;
       left:0;
       width:100%;
       height:1px;
       background:#e0e0e0;
}

#header .logo {
    margin-top: 8px;
    float:left;
}

#header p 
{
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 5px;

    
}

#header .links {
    float: right;
    margin-top: 15px;
}

.links img {
    margin-bottom: -1px;
}

.links ul li{
    display: inline;
    padding: 4px;
}

.links ul li a {
    letter-spacing: -1px;
    font-weight: bold;
}


/*******************************************************************
 *      Header2
 *******************************************************************/
#header2 {
    padding:20px 0 0 0;
    position:relative;
    clear:both;
    background-color: #bcd9e4;
}
#header2 a:link, a:visited, a:active, a:focus {
    color: #40454d;
}
#header2 .top_line2 {
       position:absolute;
       top:1px;
       left:0;
       width:100%;
       height:1px;
       background:#e0e0e0;
}

#header2 .logo2 {
    margin-top: 8px;
    float:left;
}

#header2 p 
{
    padding-top: 10px;
    
}





/*-----------------------------
       CONTENT
-------------------------------*/

#content_wrap {
    padding-top: 20px;
    margin-bottom: 50px;
}

.span12 .aside 
{
    padding: 20px 20px 20px 20px;
}
.span12 .aside h4
{
    margin-bottom: 5px;
}
.span12 .welcome h3
{
    margin-bottom: 5px;
}
.bread_crumbs {
    padding-bottom: 20px;
}
.bread_crumbs span
{
    line-height: 20px;
}

.bread_crumbs img {
    margin-top: -6px;
}
.bread_crumbs a:link, a:visited, a:active, a:focus {
    color: #40454d;
}
.maincontent
{
    padding-top: 20px;
}
.maincontent .content
{
    margin-left: -30px;
}

.maincontent h1 {

    font-size: 30px;
    background: #fff url(/images/institution/heading_marking.png) left repeat-x;
}

.maincontent h1 span {
    background: #fff;
    padding-right: 10px;

}
.maincontent h4 {

    background: #fff url(/images/institution/heading_marking.png) left repeat-x;
}

.maincontent h4 span {
    background: #fff;
    padding-right: 10px;

}

.maincontent .heading2 {
    padding-bottom: 20px;
    font-size: 24px;
    background: #fff url(/images/institution/heading_marking.png) left repeat-x;
    margin-bottom: 20px;

}

.maincontent .heading_text2 {
    background: #fff;
    /*padding-left: 25px;*/
    padding-right: 10px;
    float: left;
}



.maincontent_item {
    position: relative;
    margin-left: 25px;
    margin-bottom: 30px;
}
.brief_description .btn
{
    padding: 20px 100px;
    font-size: 30px;
    float: right;

}


.upper_part {
    padding-top: 25px;
    padding-left: 30px !important;
    padding-right: 40px;
    padding-bottom: 20px;
}
    
    

/*-----------------------------
       FORMS
-------------------------------*/
#formwizard
{
    min-height: 500px;
}
.phonenumber input[type="text"]
{
    margin-bottom: 0px;
}
.mapbox
{
    height:300px;
    background-color: #e4e4e4;
    margin-bottom: 10px;
}
.formbox
{
    min-height: 500px;
}
/*-----------------------------
       SIDE ITEMS
-------------------------------*/

.aside_wrap {
   margin-top: 20px;
}

.aside_wrap .heading {
    padding-bottom: 20px;
    font-size: 20px;
    background: #fff url(/images/institution/heading_marking.png) left repeat-x;
    margin-bottom: 20px;
}

.aside_wrap .heading_text {
    background: #fff;
    padding-right: 10px;
    float: left;
}

.aside {
    border: #d0d0d0 solid 1px;
    margin-bottom: 20px;
    padding: 15px 15px 0 15px;
}
.aside .box
{
    padding: 10px 20px 5px 15px;
    border: none;
}


/*-----------------------------
       FOOTER
-------------------------------*/

#footer {
    background: #3e424b;
    color: #FFFFFF;
    padding: 10px 0;
}
#footer .nav li a
{
    color: #FFFFFF;
    padding: 1px 5px;
}
#footer .nav li a:hover
{
    color: #FFFFFF;
    background-color:#3e424b;
}

/*******************************************************************
 * drop down
 *******************************************************************/
 
.nav {
    margin-bottom:0;
}
.nav-tabs
{
    /*border-bottom:none;*/
}
/*******************************************************************
 *form wizard
 *******************************************************************/
 
.step {
    width:100%;
}
.nav-tabs
{
    /*border-bottom:none;*/
}

.table th, .table td
{
    vertical-align: middle;
}
.table th, .table td input[type="radio"], input[type="checkbox"] {
  cursor:pointer;
  line-height:normal;
  margin:-4px 3px 0 0;
}
.table th, .table td h5
{
    margin-bottom: 0;


}

.span3 input[type="radio"], input[type="checkbox"] {
  cursor:pointer;
  line-height:normal;
  margin:-4px 3px 0 0;
}

.qnumber
{
    width: 30px;
}
/* Dashboard  */

ul.dashboard-statistics, ul.dashboard-member-activity {
    margin: 10px 0;
}
ul.dashboard-statistics h4, ul.dashboard-member-activity h4 {
    margin-bottom:0;
}
.box ul.dashboard-statistics li, ul.dashboard-member-activity li {
    list-style: none;
    padding-bottom:10px;
    padding-top:10px;
}
ul.dashboard-statistics li:first-child, ul.dashboard-member-activity li:first-child {
    border-top: none;
    padding-top:0;
}
ul.dashboard-statistics li:last-child, ul.dashboard-member-activity li:last-child {
    border-bottom: none;
    padding-bottom:0;
}
ul.dashboard-statistics li a {

    display: block;
    line-height: 40px;
    text-decoration: none;
}
ul.dashboard-member-activity li a {

    display: inline;
    text-decoration: none;
}
ul.dashboard-statistics li a:hover, ul.dashboard-member-activity li a:hover {

}
ul.dashboard-statistics li a span {
    display: inline-block;
 *display: inline;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    text-align: right;
    width: 70px;
    zoom: 1;
}
ul.dashboard-statistics i[class*=icon] {
    margin-left: 15px;
}


img.dashboard-member-activity-avatar {
    height:30px;
    width:30px;
    padding:1px;
    float:left;
    margin-left:0px;
    margin-right:15px;
}

.box ul.dashboard-statistics li, ul.dashboard-member-activity li {
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #fff;
}
.error {
    color:#B94A48;
}
.red {
    color:#B94A48;
}
.green {
    color:#468847
}
.yellow {
    color:#F89406
}
.blue {
    color:#3A87AD;
}
.stepsdone
{
    text-decoration:line-through;
}


img.dashboard-member-activity-avatar {
    border:1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/*box content*/
.box-content {
    padding:10px;
    background-color: #f5f5f5;
    margin-bottom: 20px;
}
.box-content2 {
    padding:10px;
    background-color: #fdfdfd;
    margin-bottom: 20px;
}
/*accordion*/
.accordion-inner .span12, .span6
{
    margin-bottom: 10px;
    margin-top: 5px;
}
.accordion-inner hr
{
    margin-bottom: 10px;
    margin-top: 5px;
}
.accordion-inner h5, h6
{
    margin-bottom: 0px;
    margin-top: 10px;
}
.accordion-heading
{
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*institutionprofile*/
img.dashboard-institution-activity-avatar {
    height:150px;
    width:150px;
    padding:1px;
    float:left;
    margin-left:0px;
    margin-right:15px;
    border:1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 10px;
}
.marginleft0
{
    margin-left: 0;
}
.dropdown
{
    margin-top:10px;
}
.dropdown a
{
    margin-left:5px;
}
.dropdown-menu
{
    margin-top:10px;
    border-radius:3px;
    padding-left:5px;
    padding-right:10px;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a
{
    background-image:none;
    background-color:#BCD9E4;
}
/*accordion account settings*/
.accountsettings .accordion-heading, .accordion-toggle
{
    padding-top:2px;
    padding-bottom:2px;
    font-size: 14px;
    padding-left: 10px;
}
.accountsettings .pull-left
{
    margin-top: 10px;
}
.accountsettings label
{
    font-size: 12px;
    margin: 0 10px 0 0;
    text-align: right;

}
input:focus:required:invalid:focus, textarea:focus:required:invalid:focus, select:focus:required:invalid:first-child
{
    border-color: #BCD9E4;
    box-shadow:  0 0 6px #BCD9E4;
}
dt
{
    line-height: 30px;
    margin-top: 5px;
}
.accountsettings .accordion-inner
{
    border-top:none;
}
/*change profile photo*/
a.gallerypic{
  width:140px;
  text-decoration:none;
  position:relative;
  display:block;
  border:1px solid #cccccc;
  padding:3px;
  margin-right:5px;
  float:left;
}

a.gallerypic span.image-icon{
  visibility:hidden;
  position:absolute;
  left:40%;
  top:35%;
  filter:alpha(opacity=80);
  -moz-opacity:0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}

a.gallerypic:hover span.image-icon{
  visibility:visible;
}

.profilephoto select, input[type="file"] {
  height:30px;
  line-height:0px;
}
.iconedit
{
    margin-top:15px; 
    margin-left:15px;
}
/*creating an account */
#popupmsg .modal-header
{
    border-bottom: none;
}
#popupmsg .modal-footer
{
    background-color: #FFFFFF;
    border-top: none;
}
#popupmsg .modal-body
{
    text-align: center;
    font-size: 18px;
    padding-bottom: 0;
}
#popupmsg h3
{
    margin-top: 10px;
}
#signupForm .btn-large
{
    padding: 10px 80px;
    font-size: 24px
}
#signupForm input[type="radio"], input[type="checkbox"] 
{
    margin-top: 0;
    margin-right: 5px;
}
.message input[type="radio"], input[type="checkbox"] 
{
     margin-right: 5px;
}
.serviceslist
{
    margin-left: 10px;
}
.serviceslist li
{
    line-height: 20px;
    width: 280px;
    float: left;
}
/*end creating an account */
/*doctors profile institutionprofile*/
.editname
{
    margin-top:8px;
    margin-left:5px;
}