    <div class="boxcontent" style="border: 1px solid #EEEEEE; border-top: none;">
        <table class="table table-striped table-bordered bootstrap-datatable">
            <thead>
                <tr>
    				<th>Service Name</th>
    				<th>Actions</th>
    			</tr>
            </thead>
            <tbody>
                {% for _service in ancillaryServicesData.globalList %}
        			
                	{% include 'AdminBundle:InstitutionTreatments:row.ancillaryService.html.twig' with {'each': _service, '_isSelected': _service.id in ancillaryServicesData.selected ,'properties': ancillaryServicesData.currentAncillaryData} %}
            	
                {% endfor %}
                
            </tbody>
        </table>
    </div>
