@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|Gafata);
body{font-family:"PT Sans",sans-serif;margin:0;padding:0}
h1,h2,h3,h4{color:#468199; text-rendering:optimizelegibility}
h1 b,h1 strong,h1 em,h2 b,h2 strong,h2 em,h3 b,h3 strong,h3 em,h4 b,h4 strong,h4 em{font-weight:700;opacity:0.9;color:#fe6100}
a{text-decoration:none;color:#0084b4}
img{margin-top:10px;text-align:center;max-width:100%}
p {
  font-size:16px;
}
p a:hover {
  color: #ccc !important;
}
a:hover {
  text-decoration: none;
  color: #eee !important;
}
#wrapper{width:100%;height:auto;margin:0 auto}
.container{height:auto;text-align:center;margin:0 auto;padding:0 25px}
.container h1 {
  padding-top: 20px;
}
.container p,li{text-align:justify;color:#656464}
.container h2{text-align:center}
.container h2 small,h1 small{color:#b4b4b4;font-weight:400}
.container .row-fluid {
  margin-top: -10px;
}
.clr{clear:both}
.media {
  clear: both;
}

.media .pull-left{margin-right:15px;width:35px;}
.media i{color:#fe6500;opacity:.75}
.media small{color:#656464;font-weight:400;font-size:16px;}
.media h4{margin-bottom:5px;}
.media .circle{border-radius:200px;width:45px;height:30px;background-color:#7ea840;border:1px solid #ced4cd;color:#FFF;font-size:24px;font-weight:700;padding:15px 0 0 0}
.media-body .media-content {
  display: inline-block;
  width: 85%;
  margin-left: -10px;
}
.media-body .media-image {
  display:inline-block;
    margin-top: -20px;
}
.media-body .media-image img {
  display: inline-block;
  width: 120px;
}
.media-body span a{color:#fe6500;}
.circle_arrows{clear:both;height:auto;margin:-20px auto 0 50%;}
.circle_uparrow{margin-top:-20px}
.circle_downarrow{margin-left:20px;margin-bottom:-20px;}
.circle_uparrow a{width:40px;height:20px;background-color:#656565;-moz-border-radius:50px 50px 0 0;-webkit-border-radius:50px 50px 0 0;border-radius:50px 50px 0 0;behavior:url(pie.htc);position:relative;background-image:url(../../images/frontend/campaign/upp_arrow.png);background-repeat:no-repeat;background-position:center center;float:left}
.circle_downarrow a{width:40px;height:20px;background-color:#656565;-moz-border-radius:0 0 50px 50px;-webkit-border-radius:0 0 50px 50px;border-radius:0 0 50px 50px;behavior:url(pie.htc);position:relative;background-image:url(../../images/frontend/campaign/down_arrow.png);background-repeat:no-repeat;background-position:center center;float:left}
.circle_uparrow:hover,.circle_downarrow:hover{background-color:#fe6100;cursor:pointer;}
#back_to_top,.touch-device #back_to_top:hover{background:url(../../images/frontend/campaign/up_arrow.png) no-repeat center center;background-color:rgba(111,111,111,.7);bottom:20px;color:transparent;display:none;font:0/0 a;height:46px;position:fixed;right:20px;text-shadow:none;-moz-border-radius:50px;-webkit-border-radius:50px;border-radius:50px;behavior:url(pie.htc);-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-ms-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease;width:45px;z-index:9999999;outline:0}
#back_to_top:hover,.touch-device #back_to_top:active{background-color:#fe6100}
#right_nav{list-style:none;position:fixed;right:0;top:200px;z-index:999;background-color:#d4d4d4;padding:20px 25px 30px}
#right_nav li{margin:0 0 5px}
#right_nav li i{margin:0 5px 0 0}
#home_sequence{background:#FFF 50% 0 repeat fixed;overflow:hidden;margin:0 auto;padding:0}
#home_sequence .more_bg img{margin-top:-50px}
#home_superslide{overflow:hidden;background:url(../../images/frontend/campaign/main-bg.jpg);margin:0 auto;padding:0}
#home_superslide .container{height:515px}
#home_superslide .container h1{font-weight:400;text-align:center;text-shadow:-1px 0 0 rgba(0,0,0,0.9),1px 1px 0 rgba(255,255,255,0.8)}
#home_superslide .container h1 span{color:#fe6100}
#home_superslide .container img {padding-top:100px}
#menu{z-index:999999;background-color:rgba(213,229,234,0.95);background-repeat:repeat;background-position:left top;width:100%;height:50px;position:relative;border-bottom:2px solid #ced4cd}
.ie8 #menu{background-color:#FFF}
.menu_right{width:100%;float:right}
.menu_nav{width:100%}
.menu_nav a {
  color: #d4d4d4;
}
.menu_nav a:hover {
  color: #666 !important;
}
ul.arrowunderline{list-style-type:none;margin:0;padding:0}
ul.arrowunderline li{float:left;display:inline;border-right:1px solid #d4d4d4;height:49px;color:#468199;line-height:50px;text-align:center;text-decoration:none;font-size:14px;padding:0 10px}
ul.arrowunderline li:last-child{border-right:none}
ul.arrowunderline li#selected{color:#000;cursor:pointer}
#services{background:#edecec 50% 0 repeat fixed;width:100%;height:auto;overflow:hidden;margin:0 auto;padding:40px 0 80px}
#services .media .pull-left{margin-right:10px;width:35px;height:50px}
#homepage-view .media .pull-left{margin-right:15px;margin-bottom:10px;clear:both}
#results-view{background:#edecec 50% 0 repeat fixed;background-position:left top;width:100%;height:auto;overflow:hidden;margin:-20px auto 0;padding:40px 0 80px}
#results-view .media .pull-left{margin-right:15px;margin-bottom:40px;clear:both}
#news .media .pull-left{margin-right:15px;clear:both}
#media{background:#edecec 50% 0 repeat fixed;background-position:left top;width:100%;height:auto;overflow:hidden;margin:-20px auto 0;padding:40px 0 70px}
#media .media .pull-left{margin-right:15px;margin-bottom:20px;clear:both}
#pricing{background:#FFF 50% 0 repeat fixed;background-position:left top;width:100%;height:auto;overflow:hidden;margin:-20px auto 0;padding:40px 0 0}
#pricing .media .pull-left{margin-right:0;margin-bottom:10px;clear:both}
#portfolio{background:#edecec 50% 0 repeat fixed;width:100%;height:auto;overflow:hidden;margin:0 auto;padding:40px 0 70px}
#contact{background:#FFF 50% 0 repeat fixed;width:100%;height:auto;overflow:hidden;margin:-20px auto 0;padding:40px 0 70px}
.ie8 input[type=text],.ie8 textarea{background-color:#eaeaea}
input[type=text]{height:35px}
textarea{height:100px;overflow:auto}
input[type=submit]{background-color:#fe6100;background-repeat:repeat;background-position:left top;opacity:0.9;cursor:pointer;width:96px;height:96px;border:0;outline:0;font-size:20px;color:#2d2d2d;-moz-border-radius:80px;-webkit-border-radius:80px;border-radius:80px;behavior:url(pie.htc);position:relative;margin:20px 0 0 80px}
#footer{background-color:#5f615f;background-repeat:repeat;width:100%;color:#FFF;line-height:1.5em;padding:20px 0}
.image-map-homepage{margin:0}
.image-map-homepage img{display:block;z-index:2;padding:10px;background-color:#d4d4d4}
.image-map-homepage .circle{cursor: pointer;border-radius:200px;width:45px;height:30px;background-color:#7ea840;border:2px solid #ced4cd;color:#FFF;font-size:24px;font-weight:700;position:absolute;display:block;box-shadow:0 0 0 3px #e4e4e4,0 0 0 13px rgba(173,123,0,0.25);z-index:1000;padding:15px 0 1px 0}
.a-home{margin-top:-2880px;margin-left:750px}
.b-home{margin-top:-2670px;margin-left:370px}
.c-home{margin-top:-2300px;margin-left:280px}
.d-home{margin-top:-2200px;margin-left:720px}
.e-home{margin-top:-2000px;margin-left:300px}
.f-home{margin-top:-1450px;margin-left:720px}
.g-home{margin-top:-960px;margin-left:730px}
.h-home{margin-top:-870px;margin-left:310px}
.i-home{margin-top:-560px;margin-left:730px}
.j-home{margin-top:-360px;margin-left:730px}
.a-results{margin-top:-1710px;margin-left:300px}
.b-results{margin-top:-1550px;margin-left:730px}
.c-results{margin-top:-1450px;margin-left:420px}
.d-results{margin-top:-1200px;margin-left:740px}
.e-results{margin-top:-1190px;margin-left:300px}
.f-results{margin-top:-1000px;margin-left:300px}
.g-results{margin-top:-810px;margin-left:300px}
.a-clinic{margin-top:-2310px;margin-left:120px}
.b-clinic{margin-top:-2160px;margin-left:100px}
.c-clinic{margin-top:-2100px;margin-left:250px}
.d-clinic{margin-top:-2030px;margin-left:750px}
.e-clinic{margin-top:-2010px;margin-left:300px}
.f-clinic{margin-top:-1800px;margin-left:740px}
.g-clinic{margin-top:-1860px;margin-left:280px}
.h-clinic{margin-top:-1530px;margin-left:740px}
.i-clinic{margin-top:-1305px;margin-left:320px}
.j-clinic{margin-top:-1225px;margin-left:720px}
.k-clinic{margin-top:-1010px;margin-left:270px}
.c2-clinic{margin-top:-2310px;margin-left:320px}
.a-hospital{margin-top:-2910px;margin-left:600px}
.b-hospital{margin-top:-2800px;margin-left:80px}
.c-hospital{margin-top:-2730px;margin-left:520px}
.d-hospital{margin-top:-2635px;margin-left:160px}
.e-hospital{margin-top:-2330px;margin-left:280px}
.f-hospital{margin-top:-2500px;margin-left:730px}
.g-hospital{margin-top:-2200px;margin-left:730px}
.h-hospital{margin-top:-1920px;margin-left:730px}
.i-hospital{margin-top:-990px;margin-left:310px}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}
.input-block-level{display:block;width:100%;min-height:28px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
.popover{position:absolute;top:0;left:0;z-index:1010;display:none;padding:5px; background-color:transparent !important; border:0 !important; box-shadow: none !important;}
.popover.top{margin-top:-5px}
.popover.right{margin-left:5px}
.popover.bottom{margin-top:5px}
.popover.left{margin-left:-5px}
.popover.top .arrow{z-index:9999;bottom:-1px;left:50%;margin-left:-10px;border-left:10px solid transparent;border-right:10px solid transparent;border-top:10px solid #2a2a2a}
.popover .arrow, .popover .arrow:after {
  border-style: none;
}

.popover .arrow{z-index:9999;position:absolute;width:0;height:0}
.popover-inner{width:300px;overflow:hidden;background:rgba(0,0,0,0.8);-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);-moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);box-shadow:0 3px 7px rgba(0,0,0,0.3);padding:3px}
.popover-title{
  -webkit-border-radius:3px 3px 0 0;
  -moz-border-radius:3px 3px 0 0;
  border-radius:3px 3px 0 0}
.popover-content{
  z-index:999;
  background-color:#2a2a2a;
  border:2px solid #FFF;-webkit-border-radius:5px;-moz-border-radius:5px;
  border-radius:5px;-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box;color:#FFF;width:320px;text-align:left;line-height:1.5em;
  font-size:14px;padding:20px 20px 50px 20px;
  box-shadow: 2px 2px 10px -3px rgba(0,0,0,1);
  text-shadow:none;
}
.popover-content .btn {
  display: block;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 0px;
  line-height: 1.25em;
  text-transform: uppercase;
  font-weight: bold;
}
.popover-content .btn:hover {
  color: #f2f2f2;
}
.popover-content p,.popover-content ul,.popover-content ol{margin-bottom:0; font-size: 18px;}
.popover-content p{background-color:#000;line-height:0;position:0;margin:0 0 20px 0}
.popover-content h2 {
  color: #9bdbf6;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1.25em;
}
.popover-content h2 i {
  padding-right: 10px;
}
.popover-title {
  line-height:0;
  position:absolute;
  display: block;
  bottom:20px;
  width: 300px;
}
.container p span,.media-body span{display:inline-block; background-color:#e4e4e4;color:#fe6100;opacity:.75;padding:0 5px}
.container h1,h3,h4,h5,h6,#pricing h2{text-align:left}
#right_nav li a:link,#right_nav li a:visited,#right_nav li a:active,ul.arrowunderline li a:link,ul.arrowunderline li a:visited,ul.arrowunderline li a:active{color:#7f7f7f;text-decoration:none}
#right_nav li a:hover,ul.arrowunderline li a:hover{color:#fe6100;text-decoration:none}
#homepage-view,#news{background:#FFF 50% 0 repeat fixed;background-position:left top;width:100%;height:auto;overflow:hidden;margin:-20px auto 0;padding:40px 0 80px}
#homepage-view .container h3,#news .container h3,#media .container h3,#pricing .container h3,#portfolio .container h3,#contact .container h3{color:#468199}
#homepage-view .media .media-body,#results-view .media .media-body,#news .media .media-body{display:block;margin-left:60px}

.guarantee {
  margin-top: 20px;
}
.guarantee img {
  padding-top: 30px;
}
.guarantee h1 {
  text-transform: uppercase;
}
.guarantee p {
  color: #656464;
  margin: 70px 0;
  padding-top: 20px;
  text-align: left;
}

/* --- Pricing box --- */
.pricing-terms h3 {
  text-align: center;
}
.pricing-title{
  background:#fff;
  text-align:center;
  padding:10px 0 10px 0;
}

.pricing-title h3{
  font-weight:600;
  margin-bottom:0;
}

.pricing-offer{
  background: #fcfcfc;
  text-align: center;
  padding:40px 0 40px 0;
  font-size:18px;
  border-top:1px solid #e6e6e6;
  border-bottom:1px solid #e6e6e6;
}

.pricing-box.special .pricing-offer{
  color:#fff;
}

.pricing-offer strong{
  font-size:78px;
  line-height:89px;
}

.pricing-offer sup{
  font-size:28px;
}

.pricing-content{
  background: #fff;
  text-align:center;
  font-size:14px;
}

.pricing-content strong{
color:#353535;
}

.pricing-content ul{
  list-style:none;
  padding:0;
  margin:0;
}

.pricing-content ul li{
  border-bottom:1px solid #e9e9e9;
  list-style:none;
  padding:10px;
  margin:0 0 0 0;
  text-align: left;
}
.pricing-content i{
  padding-bottom: 20px;
}
.pricing-content .icon-ok {
  color: #468199;
}

.pricing-action{
  margin:0;
  background: #fcfcfc;
  text-align:center;
  padding:20px 0 30px 0;
}

.pricing-wrapp{
  margin:0 auto;
  width:100%;
  background:#fd0000;
}
.pricing-heading h4{
  text-align: center !important;
  padding: 10px 15px;
}
.pricing-terms h4 {
  text-align: center;
  font-size: 16px;
}
/* --- pricing box alt 1 --- */
.pricing-box-alt {
border: 1px solid #e6e6e6;
  position:relative;
  padding:0;
  -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.03);
  -moz-box-shadow: 0 2px 0 rgba(0,0,0,0.03);
  box-shadow: 0 2px 0 rgba(0,0,0,0.03);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pricing-box-alt .features{
  margin-bottom:0;
  display: block;
}
.pricing-box-alt .alert {
  padding: 0;
  margin: 0;
}

.pricing-box-alt.special .pricing-heading {
  text-align: center;
  padding:40px 0 1px 0;
  border-bottom:none;
  display:block;
  color:#fff;
}
.pricing-box-alt.special .pricing-heading h3 {
  color:#fff;
}

.pricing-box-alt .pricing-heading h3 strong {
  font-size:30px;
  font-weight:700;
  letter-spacing:-1px;
}
.pricing-box-alt .pricing-heading h3 {
  color:#555;
  text-align: center;
}
.pricing-box-alt .pricing-heading h3 small {
  color:#aaa;
  text-align: center;
  font-weight: bold;
}

.pricing-box-alt .pricing-terms {
  text-align: center !important;
  background:#ccc;
  display:block;
  overflow:hidden;
  border-top:3px solid #EDECEC;  
  border-bottom:3px solid #EDECEC;
}
.pricing-box-alt .icon .price-circled {
    margin: 10px 10px 10px 0;
    display: inline-block !important;
    text-align: center !important;
    color: #fff;
    width: 68px;
    height: 68px;
  padding:12px;
    font-size: 16px;
  font-weight:700;
    line-height: 68px;
    text-shadow:none;
    cursor: pointer;
    background-color: #888;
    border-radius: 64px;
    -moz-border-radius: 64px;
    -webkit-border-radius: 64px;
}

.pricing-box-alt  .pricing-action{
  margin:0;
  text-align:center;
  padding:30px 0 30px 0;
}
.btn-hca-inquire {
  background-color: hsl(195, 75%, 49%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#74cdeb", endColorstr="#1fabda");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#74cdeb), to(#1fabda));
  background-image: -moz-linear-gradient(top, #74cdeb, #1fabda);
  background-image: -ms-linear-gradient(top, #74cdeb, #1fabda);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #74cdeb), color-stop(100%, #1fabda));
  background-image: -webkit-linear-gradient(top, #74cdeb, #1fabda);
  background-image: -o-linear-gradient(top, #74cdeb, #1fabda);
  background-image: linear-gradient(#74cdeb, #1fabda);
  border-color: #1fabda #1fabda hsl(195, 75%, 44%);
  -webkit-font-smoothing: antialiased;
  color: #FFF !important;
  font-weight: bold;
   text-shadow:none;
}
.btn-inquire {
  padding: 20px 50px;
  font-size: 24px;
  margin: 50px 0 10px 0;
  text-transform: uppercase; 
}
.btn-inquire2 {
  padding: 10px 10px;
  font-size: 16px;
  margin: 15px 0 10px 0;
  display: block;
  text-transform: uppercase; 
}
.btn-theme {
 background-color: hsl(110, 64%, 63%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c1efb7", endColorstr="#78dd64");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#c1efb7), to(#78dd64));
  background-image: -moz-linear-gradient(top, #c1efb7, #78dd64);
  background-image: -ms-linear-gradient(top, #c1efb7, #78dd64);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c1efb7), color-stop(100%, #78dd64));
  background-image: -webkit-linear-gradient(top, #c1efb7, #78dd64);
  background-image: -o-linear-gradient(top, #c1efb7, #78dd64);
  background-image: linear-gradient(#c1efb7, #78dd64);
  border-color: #78dd64 #78dd64 hsl(110, 64%, 58%);
  color: #fff !important;
  -webkit-font-smoothing: antialiased;
  text-shadow:none;
  font-weight: bold;
}
.seal {
  background:url(../../images/frontend/campaign/seal-guarantee-small.png) no-repeat center center;
  height: 80px;
  width: 80px;
  padding: 10px;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  float: right;
}
.comparison p {
  display: block;
  margin-top: -30px;
  position: absolute;
}