parameters:
    database_driver:   pdo_mysql
    database_host:     @DATABASE_HOST@
    database_port:     ~
    database_name:     @DATABASE_NAME@
    database_user:     @DATABASE_USER@
    database_password: @DATABASE_PASSWORD@

    couchDbBaseUrl: @COUCHDB_URL@
    couchDbAlert: @COUCHDB_DOCUMENT@

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~
    mailer_port:       465

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    application_id:    1
    application_secret: 620de3ad308942cb43181ed4369e8d5e0c6147907b9c670c0e132988dcccc8f1

    chromedia_accounts_uri: http://accounts.dev.chromedia.com/app_dev.php
    chromedia_api_uri: http://accounts.dev.chromedia.com/app_dev.php/api
    
    memcached.servers:
        - { host: 127.0.0.1, port: 11211 }