{% extends 'InstitutionBundle::layout.html.twig' %}
{% set mainNavigation = {selected: 'Inquiries'} %}
{% set _unread_inquiries = render_institution_unread_inquiries(institution) %}
{% block content %}
    {% embed 'InstitutionBundle:Embed:contentWrapper.authenticated.html.twig' %}
        {% block wrappedContent %}
            {#% include 'InstitutionBundle:Widgets:institution_banner.html.twig' %#}
            <div id="mainInquiryDiv" class="span12">
                {% include 'InstitutionBundle:Inquiry:inquiries_section.html.twig' %}
            </div>
            <!--End of one columns data-->
                    
        {% endblock %}
        
    {% endembed %}
{% endblock %}
{% block inlineJavascriptCode %}
    <script src="{{ asset('bundles/institution/js/institutionInquiry.js') }}"></script>
    <script type="text/javascript">
    $(function() {
    	var _inquiries = $.parseJSON('{{ inquiries | raw}}');
    	var _prototype = '{{ getTemplateContents("InstitutionBundle:Inquiry/Widgets:listItem.inquiry.html.twig") | raw }}';
    	
    	InstitutionInquiry._tab = '{{ tabName }}';
    	InstitutionInquiry._divId = '#inquiryList';
    	
    	InstitutionInquiry._inquiryBannerCntrId = '#inquiry_banner_cntr';
    	InstitutionInquiry.setInquiryData(_inquiries);
    	InstitutionInquiry.setTemplatePrototype(_prototype);
    	InstitutionInquiry._loadContent();

    	$('.inquiry_showMore').click(function() {
    	    _cntr = parseInt(_cntr) + parseInt(_cntr);
    	    $('#inquiryCntr').val(_cntr);
    	    InstitutionInquiry._loadContent();

    	    return false;
        });
    	    	
    });
    </script>
{% endblock %}

