<section class="section clinic-schedule">
    <form action="{{ path('admin_institution_medicalCenter_ajaxAddBusinessHours', { 'institutionId': institution.id,'imcId':institutionMedicalCenter.id}) }}" method="POST" id="fancy_businessHours_form" >

        {% include 'AdminBundle:Widgets/MedicalCenter:section.imc_businesshours.html.twig' %}
       <div class="modal-footer">
            <a href="{{ path('admin_institution_medicalCenter_ajaxAddBusinessHours', {institutionId : institution.id, imcId: institutionMedicalCenter.id } ) }}" data-formId="#fancy_businessHours_form" data-loader-text="Processing..." onclick="InstitutionMedicalCenter.submitFancyBusinessHoursForm($(this)); return false;" id="save_fancyBusinessHours" class="btn btn-primary submit-button">Submit</a>
       </div>
       <div>
            {{ institutionMedicalCenter_token |raw }}
        </div>
    </form>
</section>