<div id="businessHours" class="treatmentbox">
    <h5 style="padding: 10px; border: 1px solid #EEEEEE">
        Business Hours
    </h5>

    <form class="basic-form">
        <div id="clinicHours" class="boxcontent" style="border: 1px solid #EEEEEE; border-top: none; ">
            <label>
            {% if not institutionMedicalCenter.businessHours %}
                <input type="checkbox" name="businessHourCheckBox" checked="checked" id="businessHourCheckBox" >
            {% else %}
            <input type="checkbox" name="businessHourCheckBox" id="businessHourCheckBox" >
            {% endif %}
            I have no business hours
            </label>
                {% include 'AdminBundle:Widgets:businessHours.html.twig' %}
        </div>

    </form>
</div>