{% set ancilliaryServiceLabel = getClassLabel('ancilliary_service') %}
<div id="ancilliaryServices" class="treatmentbox" >
    <h5 style="padding: 10px; border: 1px solid #EEEEEE" id="services">{{ ancilliaryServiceLabel.plural | title }}
        <a href="{{ path('admin_institution_medicalCenter_showAncillaryServiceForm', { institutionId: institution.id, imcId: institutionMedicalCenter.id } ) }}" data-modalBtnId="_btnInstitutionAncillaryServices" data-tableId="#ancillaryServiceTable" data-modalId="#institution_ancillaryServices_modal_form" onclick="InstitutionMedicalCenter.showInstitutionAncillaryServicesForm(this); return false;" id="port_services_btn" class="port_services btn btn-mini pull-right">
            <i class="icon-plus"></i>Port Institution Ancillary Services
        </a>
    </h5>
    
    <div class="boxcontent" style="border: 1px solid #EEEEEE; border-top: none;">
        <table class="table table-striped table-bordered bootstrap-datatable">
            <thead>
                <tr>
    				<th>Service Name</th>
    				<th>Actions</th>
    			</tr>
            </thead>
            <tbody>
                {% for _service in ancillaryServicesData.globalList %}
        			
                	{% include 'AdminBundle:InstitutionMedicalCenterProperties/Partials:row.ancillaryService.html.twig' with {'each': _service, '_isSelected': _service.id in ancillaryServicesData.selected ,'properties': ancillaryServicesData.currentAncillaryData} %}
            	
                {% endfor %}
                
            </tbody>
            
            
        </table>
    </div>
    
</div>