<div id="awards" class="treatmentbox">
    <h5 style="padding: 10px; border: 1px solid #EEEEEE">
      GlobalAwards / Certifications
        <a href="{{ path('admin_institution_medicalCenter_showGlobalAwardsForm', { institutionId: institution.id, imcId: institutionMedicalCenter.id } ) }}" data-modalBtnId="#_btnInstitutionAwards" data-tableId="#_awardsTable" data-modalId="#_institutionAwardsModalForm" onclick="InstitutionMedicalCenter.showInstitutionAwardsForm(this); return false;" class="_portAwards btn btn-mini pull-right">
            <i class="icon-plus"></i> Port Institution GlobalAwards
        </a>
    </h5>
    <div class="boxcontent" style="border: 1px solid #EEEEEE; border-top: none;">
    <form action="#" method="POST" id="modal_award_form" >
       {% set _awardsByType = {
                'awards': {
                    'fieldId': 'awards_field',
                    'containerId': 'awards',
                    'header': 'Awards',
                    'tableId': 'awards_table',
                    'selectorFieldLabel': form_label(form.awards_selector),
                    'selectorFieldWidget': form_widget(form.awards_selector, {attr: {class:'global_award_autocomplete', 'data-globalAwardType': 'award', 'data-globalAwardContainer': 'table.awards_table tbody', 'data-fieldId' : '.awards_field'} }),
                    'list': currentGlobalAwards.award
                },
                'certifications': {
                    'fieldId': 'certifications_field',
                    'containerId': 'certifications',
                    'header': 'Certifications',
                    'tableId': 'certificates_table',
                    'selectorFieldLabel': form_label(form.certifications_selector),
                    'selectorFieldWidget': form_widget(form.certifications_selector, {attr: {class:'global_award_autocomplete','data-globalAwardType': 'certificate', 'data-globalAwardContainer': 'table.certificates_table tbody', 'data-fieldId' : '.certifications_field'} }),
                    'list': currentGlobalAwards.certificate
                },
                'affiliations': {
                    'fieldId': 'affiliations_field',
                    'containerId': 'affiliations',
                    'header': 'Affilliations',
                    'tableId': 'affiliations_table',
                    'selectorFieldLabel': form_label(form.affiliations_selector),
                    'selectorFieldWidget': form_widget(form.affiliations_selector, {attr: {class:'global_award_autocomplete','data-globalAwardType': 'affiliation', 'data-globalAwardContainer': 'table.affiliations_table tbody', 'data-fieldId' : '.affiliations_field'} }),
                    'list': currentGlobalAwards.affiliation
                },
                'accreditations': {
                    'fieldId': 'accreditations_field',
                    'containerId': 'accreditations',
                    'header': 'Accreditations',
                    'tableId': 'accreditation_table',
                    'selectorFieldLabel': form_label(form.accreditations_selector),
                    'selectorFieldWidget': form_widget(form.accreditations_selector, {attr: {class:'global_award_autocomplete','data-globalAwardType': 'accreditation', 'data-globalAwardContainer': 'table.accreditation_table tbody', 'data-fieldId' : '.accreditations_field'} }),
                    'list': currentGlobalAwards.accreditation
                }
            }
        %}
        
        {% for _awardsListData in _awardsByType %}
            {% include 'AdminBundle:InstitutionMedicalCenterProperties/Partials:awardsList.base.html.twig' with { 'awardsList': _awardsListData } %}
        {% endfor %}
        
        {{ form_widget(form._token) }}
        
    </form>
	<div id="globalAwardModal" class="modal hide fade modal-box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    	<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3>Delete Award</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to remove
            	<strong></strong>
            </p>
        </div>
        <div class="modal-footer">
        {% set _commonDeleteCsrfTokenAwards = form_widget(commonDeleteForm._token) %}
           <form action="{{ path('admin_institution_medicalCenter_ajaxRemoveGlobalAward', {'imcId':institutionMedicalCenter.id, 'institutionId' : institution.id} ) }}">
                 {{ _commonDeleteCsrfTokenAwards | raw }}
                <input type="hidden" name="id" id="id" value=""/>
                <button class="btn" aria-hidden="true" data-dismiss="modal" class="btn">Cancel </button>
        	    <button data-loading-text="Processing..." id="globalAward" class="btn btn-danger delete-button" type="button" onclick="$.GlobalAutocompleteAction.removeGlobalAward(this); return true;">Delete</button>
            </form>
        </div>
	</div>
    </div>
    	{% include 'AdminBundle:InstitutionGlobalAwards/Modals:edit.html.twig' %}
    
</div>
