<div id="medicalCenterDetailsAccordion" class="treatmentbox">
    <h5 style="padding: 10px; border: 1px solid #EEEEEE">
        Business Hours
    </h5>

    <form id="business" class="basic-form">
        <div id="clinicHours" class="boxcontent" style="border: 1px solid #EEEEEE; border-top: none;">
            {% if not institutionMedicalCenter.businessHours %}
                <input type="checkbox" name="businessHourCheckBox" checked="checked" id="businessHourCheckBox" >
            {% else %}
            <input type="checkbox" name="businessHourCheckBox" id="businessHourCheckBox" >
            {% endif %}
            <span>I have no business hours</span> 
             <div id="ajax_loader" style="display:none;"><span>Loading...</span></div>
            {% include 'InstitutionBundle:Widgets:businessHours.html.twig' %}
        </div>

    </form>
</div>