<div id="businessHours" class="treatmentbox">
    <h5 style="padding: 10px; border: 1px solid #EEEEEE">
        Business Hours
    </h5>

    <form id="businessHours-form" class="basic-form" action="{{ path('admin_institution_medicalCenter_ajaxUpdateBusinessHours', { 'institutionId':institution.id, 'imcId': institutionMedicalCenter.id }) }}">
        <div id="clinicHours" class="boxcontent" style="border: 1px solid #EEEEEE; border-top: none; ">
            <label>
            
            <input class="alwaysOpenToggle" type="checkbox">Our clinic is <b>open 24/7</b>    
            </label>
                {% include 'AdminBundle:Widgets:businessHours.html.twig' %}
                <input type="submit" id="saveBusinessHours" name="submit" value="Submit" class="btn btn-large btn-primary" />
        </div>
    </form>
</div>