{% extends 'AdminBundle::layout.institution.html.twig' %}
{% set selectedTab = 'institutions'%}

{% block content %}

    <div class="span9 title">
        {% embed 'HelperBundle:Widgets:section.html.twig' with {
            title: 'Media Gallery',
            actions: [{link: path('admin_institution_gallery_add', {'institutionId': institution.id}), label: 'Add media', 'icon' : 'icon-edit' }]
       }%}

            {% block sectionContent %}

                <div id="table-content">
                    {% include '::notice.admin.html.twig' %}

                    <div id="filter-wrapper" style="width: 100%;">
                        <span class="caption">Search</span>
                        <div style="float: left">
                            <input type="text" value="" style="margin-left: 10px; margin-top: 2px;" size="30"/>
                        </div>
                        <div>
                            <label>Media type: </label>
                            <select class="styledselect_form_1">
                                <option value="1">All</option>
                                <option value="2">Images</option>
                                <option value="3">Videos</option>
                                <option value="4">Pdfs</option>
                            </select>
                        </div>
                        <a href="#" class="button-type">GO</a>
                    </div>

                    {% include 'MediaBundle:Default:mediaTableView.html.twig' with {media: institutionMedia} %}
                </div>

            {% endblock %}

        {% endembed %}
    </div>

{% endblock %}