<section class="box-in">
    {% if title is defined and title|length %}
	    <h5 class="heading {{ headingClass is defined ? headingClass : ''}}">{{ title }}</h5>
	{% endif %}
	{% block asideContent %}{% endblock %}
</section>