<div id="callout" class="container">
    <div class="callout-inner">
        <div class="content">
            {% block calloutContent %}{% endblock %}
        </div>
        <div class="triangle-border"></div>
    </div>
</div>