<div class="{{ class is defined ? class : '' }} content" style="{{ _inlineStyle is defined ? _inlineStyle : '' }}">
	<h5 class="{{ headingClass is defined ? headingClass : '' }}">{{ title }}</h5>
    {% block sectionContent %}{% endblock %}
</div>