<form class="span12 search_box  form-inline" name="search_box" action="post">
    <label>
        Search
    </label>
    <input type="text" name="procedure" placeholder="Specialization or Treatment">
    <label>
        Near
    </label>
    <input type="text" name="location" placeholder="City, Country or Zip">
    <button onclick="return false" class="btn">
        Let's Go
    </button>
    
    <div class="helper-link">
        <a class="helper treatment-link" href="treatments.html"> View all specializations</a>
        <a class="helper white tiny destination-link" href="destinations.html"> View all destinations</a>
        <div class="popup treatments row-fluid">
            <button data-toggle="dropdown" class="btn text-left small default btn-pop">
                <span class="icon-chevron-down pull-right">
                </span>
            </button>
            <div role="menu" class="popup-box dropdown-menu">
                <input type="text" class="search-field span12">
                <p class="test">
                    Select a treatment
                </p>
                <ul class="popup-list treatment">
                    <li>
                        <a href="#">A very long treatment name</a>
                    </li>
                    <li>
                        <a href="#">Some treatment</a>
                    </li>
                    <li>
                        <a href="#">Facelift</a>
                    </li>
                    <li>
                        <a href="#">Lorem ipsum</a>
                    </li>
                    <li>
                        <a href="#">Plastic Surgery</a>
                    </li>
                    <li>
                        <a href="#">Immortality</a>
                    </li>
                    <li>
                        <a href="#">A very long treatment name</a>
                    </li>
                    <li>
                        <a href="#">Some treatment</a>
                    </li>
                    <li>
                        <a href="#">Facelift</a>
                    </li>
                    <li>
                        <a href="#">Lorem ipsum</a>
                    </li>
                    <li>
                        <a href="#">Plastic Surgery</a>
                    </li>
                    <li>
                        <a href="#">Immortality</a>
                    </li>
                    <li>
                        <a href="#">A very long treatment name</a>
                    </li>
                    <li>
                        <a href="#">Some treatment</a>
                    </li>
                    <li>
                        <a href="#">Facelift</a>
                    </li>
                    <li>
                        <a href="#">Lorem ipsum</a>
                    </li>
                    <li>
                        <a href="#">Plastic Surgery</a>
                    </li>
                    <li>
                        <a href="#">Immortality</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="popup destinations row-fluid">
            <button data-toggle="dropdown" class="btn text-left small default btn-pop">
                <span class="icon-chevron-down pull-right">
                </span>
            </button>
            <div role="menu" class="popup-box dropdown-menu">
                <input type="text" class="search-field span12">
                <p class="test">
                    Select a destination
                </p>
                <ul class="popup-list country">
                    <li>
                        <a href="#">A very long treatment name</a>
                    </li>
                    <li>
                        <a href="#">Some treatment</a>
                    </li>
                    <li>
                        <a href="#">Facelift</a>
                    </li>
                    <li>
                        <a href="#">Lorem ipsum</a>
                    </li>
                    <li>
                        <a href="#">Plastic Surgery</a>
                    </li>
                    <li>
                        <a href="#">Immortality</a>
                    </li>
                    <li>
                        <a href="#">A very long treatment name</a>
                    </li>
                    <li>
                        <a href="#">Some treatment</a>
                    </li>
                    <li>
                        <a href="#">Facelift</a>
                    </li>
                    <li>
                        <a href="#">Lorem ipsum</a>
                    </li>
                    <li>
                        <a href="#">Plastic Surgery</a>
                    </li>
                    <li>
                        <a href="#">Immortality</a>
                    </li>
                    <li>
                        <a href="#">A very long treatment name</a>
                    </li>
                    <li>
                        <a href="#">Some treatment</a>
                    </li>
                    <li>
                        <a href="#">Facelift</a>
                    </li>
                    <li>
                        <a href="#">Lorem ipsum</a>
                    </li>
                    <li>
                        <a href="#">Plastic Surgery</a>
                    </li>
                    <li>
                        <a href="#">Immortality</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</form>