<form id="narrow_search_form" action="{{ path('frontend_search_process') }}" method="post">
    <ul>
        {#-- Render treatment widgets --#}
        {% if treatmentWidgets is not empty %}
            <li class="narrow-description">Specific Treatment</li>
            {% for _widget in treatmentWidgets %}
                {% include 'SearchBundle:SearchForms/Partials:autocomplete.narrowsearch.html.twig' with {'searchWidget': _widget} %}
            {% endfor %}
        {% endif %}
        
        {#-- Render destination widgets --#}
        {% if destinationWidgets is not empty %}
            <li class="narrow-description">Specific Location</li>
            {% for _widget in destinationWidgets %}
                {% include 'SearchBundle:SearchForms/Partials:autocomplete.narrowsearch.html.twig' with {'searchWidget': _widget} %}
            {% endfor %}
        {% endif %}
    
        <li class="row-fluid combo-box">
            <button class="btn span8 offset4 orange " type="submit">
                <i class="icon-refresh icon-white"></i>
                Filter Results
            </button>
        </li>
    </ul>
    <input type="hidden" name="filter" />
    <input type="hidden" name="term" />
</form>


<script type="text/javascript">
<!--
(function($){
    $(function(){
        
    });
})(jQuery);
//-->
</script>
