{% embed 'InstitutionBundle:Embed:modalBox.base.html.twig' with {'modal': {'id' : modalId, 'title': modalTitle }} %}
    {% block modalBody %}
		 <form id="doctorsFullName" novalidate="novalidate" action="{{ path('doctor_update_byField', {'idId': doctor.id , 'imcId' :institutionMedicalCenter.id}) }}" method="POST" {{ form_enctype(form) }} class="basic-form">
			<label for="doctorName">First Name:</label>
			<input type="text" name="firstName" value="{{doctor.firstName}}">
			<label for="doctorName">Last Name:</label>
			<input type="text" name="lastName" value="{{doctor.lastName}}">
		</form>
        <div class="clearfix"></div>
       <div class="modal-footer button-wrapper">
        		<button aria-hidden="true" data-dismiss="modal" class="btn">Cancel</button>
        		<button class="btn btn-primary submit-button" onclick="return InstitutionDoctor.submitInstitutionSidebarForms(this);">Submit</button>
        </div>
  
    {% endblock %}
{% endembed %} 