<div class="row-fluid">
    <ul class="thumbnails doctors">
        <li class="thumbnail-doctors">
            <img class="pull-left img-polaroid" src="images/institution/default-doctor-icon.png" alt="">
            <span class="medicalcenter-name">Dr. Firstname Lastname</span>
            <p>
                <i class="icon-medkit"></i> Specialization1, Specialization2
            </p>
            <ul class="actions">
                <li class="view">
                    <div class="btn-group">
                        <button class="btn btn-misc">
                            <a href="#edit-doctor" data-toggle="modal"><i class="icon-edit"></i></a>
                        </button>
                        <button class="btn btn-misc">
                            <a href="#"><i class="icon-trash"></i></a>
                        </button>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>