{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'advertisements' %}
{% set selectedSubTab = '' %}
{% set selectedStep = selectedStep is defined ? selectedStep : 'step1' %}
{% set nextButtonLabel = nextButtonLabel is defined ? nextButtonLabel: 'Next' %}
{% set formAction = formAction is defined ? formAction : path('admin_advertisement_addBasicDetail') %}
{% set advertisementsLabel = getClassLabel('advertisement') %}

{% block content %}

	<div id="main-content">

	{% embed 'HelperBundle:Widgets:section.html.twig' with { 
                title: ( 'Add ' ) ~ advertisementsLabel.singular | title ,
                actions: [{link: path('admin_advertisement_index'), label: 'View all '~ advertisementsLabel.plural | title, 'icon' : 'icon-list' }]
            }
        %}

	{% block sectionContent %}

                {% include '::notice.admin.html.twig' %}
			
			    <!--  start table-content  -->
                <div id="table-content" style="width:70%">
                    {% include '::notice.admin.html.twig' %}

    				<!-- start form -->
    				<form action="{{ formAction }}" enctype="multipart/form-data" method="post" {{ form_enctype(form) }} class="basic-form">
    
    					{{ form_rest(form) }}
    					
    				    <input type="submit" value="{{ nextButtonLabel }}" class="btn btn-large btn-primary" name="submit"/>
    				</form>
                </div>
				
          {% endblock %}
        {% endembed %}
    </div>

{% endblock %}