

{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'advertisements' %}
{% set selectedSubTab = '' %}
{% set advertisementsLabel = getClassLabel('advertisement') %}

{% block content %}

	<div id="content">
	
		{% embed 'HelperBundle:Widgets:section.html.twig' with { 
                title: ( 'Preview Page - Add ' ) ~ advertisementsLabel.singular | title ,
                actions: [{link: path('admin_advertisement_index'), label: 'Click here to go back to '~ advertisementsLabel.plural | title, 'icon' : 'icon-list' }]
            }
        %}
	
			{% block sectionContent %}

                {% include '::notice.admin.html.twig' %}
			
			    <!--  start table-content  -->
                <div id="table-content" style="width:70%">
                    
                    {% include '::notice.admin.html.twig' %}
				
    				{% include '::stepHolder.base.admin.html.twig' with {
    				    steps: [
                            {title: 'Basic Detail'},
                            {title: 'Specific Detail'},
                            {title: 'Generate Invoice'},
                            {title: 'Preview', 'selected': true},
                        ]}
                    %}
                    
    				<!-- start form -->
    				<form action="#" method="post"  class="basic-form">
    				    
    				    <div>
    				        <label>Institution</label>
                            <span class="fixed-value"> {{ advertisement.institution.name }}</span>
                        </div>
                        
                        <div>
    				        <label>Title</label>
                            <span class="fixed-value"> {{ advertisement.title }}</span>
                        </div>
                        
                        <div>
    				        <label>Description</label>
                            <span class="fixed-value"> {{ advertisement.description }}</span>
                        </div>
    				    
    				</form>
                </div>
				
			{% endblock %}
		{% endembed %}
	</div>

{% endblock %}