

{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'advertisements' %}
{% set selectedSubTab = '' %}

{% block content %}

	<div id="content">
	
		<div id="page-heading"><h2>Create new advertisement - Preview Page</h2></div>

		{% embed '::contentWrapper.admin.html.twig' %}
			{% block wrappedContent %}

			    {% set contents = [{
                        'title': 'Back to Advertisement Management', 
                        'description': 'Go back to advertisement page',
                        'href': path('admin_advertisement_index'), 
                        'links': [{'title': 'Click here to go back', 'href': path('admin_advertisement_index')}]
                    }]
                %}

                {% include '::relatedTasks.base.admin.html.twig' with {contents: contents} %}
			
			    <!--  start table-content  -->
                <div id="table-content" style="width:70%">
                    
                    {% include '::notice.admin.html.twig' %}
				
    				{% include '::stepHolder.base.admin.html.twig' with {
    				    steps: [
                            {title: 'Basic Detail'},
                            {title: 'Specific Detail'},
                            {title: 'Generate Invoice'},
                            {title: 'Preview', 'selected': true},
                        ]}
                    %}
                    
    				<!-- start form -->
    				<form action="#" method="post"  class="basic-form">
    				    
    				    <div>
    				        <label>Institution</label>
                            <span class="fixed-value"> {{ advertisement.institution.name }}</span>
                        </div>
                        
                        <div>
    				        <label>Title</label>
                            <span class="fixed-value"> {{ advertisement.title }}</span>
                        </div>
                        
                        <div>
    				        <label>Description</label>
                            <span class="fixed-value"> {{ advertisement.description }}</span>
                        </div>
    				    
    				</form>
                </div>
				
			{% endblock %}
		{% endembed %}
	</div>

{% endblock %}