<aside class="span4">
    <section class="aside-box default dashboard-side">
        <h2>
            Privacy: Its in your hands! </h2>
           <p><b>HEALTHCARE ABROAD</b> gives you complete control over your data. You decide what information you would like to show to other people especially to your prospective patients.</p>
    </section>
</aside>