<aside class="span4">
    <section class="aside-box default dashboard-side">
        <h2>
            Privacy: Its in your hands! </h2>
           <p><b>HEALTHCARE ABROAD</b> gives you complete control over your data. You decide what information you would like to show to other people especially to your prospective patients.</p>
    </section>
    <section class="aside-box info dashboard-side">
       <p> <span><i class="icon-lock icon-4x pull-left"></i></span><b>
            How to select a secure PASSWORD?
        </b><br><br>Avoid using personal information (name, address, birthday, hobby etc.)</p>
        <p>Use at least 10 characters including small and upper case letters, numbers and special characters.</p>
        <p>Avoid using passwords that you use for other accounts or websites.</p>
    </section>
</aside>