Howdy {{ providerUserInvitation.firstName }}!
You have been invited by {{ provider.name }}

Message:
	<strong></strong>

<br>
<p>
Please got to the link provided below to activate your account. <br>
<a href="{{ path('HealthCareAbroadProviderBundle_Accounts_Accept_Invitation', { 'id': providerUserInvitation.id, 'token': token.token }) }}">Click to Activate</a>

</p>

Thank you, <br>
Health Care Abroad