Howdy {{ providerUserInvitation.firstName }}!
You have been invited by {{ provider.name }}
<br />

Message:

<strong>{{ providerUserInvitation.message }}</strong>

<br>
<p>

<a href="{{ path('provider_accept_user_invitation', { 'id': providerUserInvitation.id, 'token': token.token }) }}">Click to Activate</a>
</p>

Thank you, <br>
Health Care Abroad