<div class="one_fourth">
                   <div class="widget">
	                    <h3 class="widget_title">Directories</h3>
	
	                    <ul class="cat_w_list">	
	                        <li><a href="#">Japan</a></li>	
	                        <li><a href="#">Thailand</a></li>	
	                        <li><a href="#">Brazil</a></li>	
	                        <li><a href="#">Malaysia</a></li>	
	                        <li> <a href="#">Australia</a></li>
		                    <li><a href="#">Canada</a></li>
	                        <li><a href="#">Philippines</a></li>	
	                        <li><a href="#">Singapore</a></li>	
	                        <li><a title="#">Dubai</a></li>	
	                    </ul>
	                 </div> <!--Widget-->
                </div><!--One Fourth-->
