     <div class="one_fourth">
                    <div class="widget">
                        <h3 class="widget_title">Health Care Centers</h3>
                            <ul>
                                <li><a href="#">Visayan Community Hospital</a></li>
                                <li><a href="#">Makati Health Care Clinic</a></li>
                                <li><a href="#">Thailand Medical Institute</a></li>
                                <li><a href="#">ChongHua Skin Care Clinic</a></li>
                                <li><a href="#">Japan Eye Center</a></li>
                            </ul>
			  		  </div> <!--Widget-->
                </div> <!--One Fourth-->