<div class="one_fourth last">

	<div class="widget">
		<h3 class="widget_title">Another WIDGET</h3>
			<div class="custom_textwidget">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</div>
	</div>
</div><!--One Fourth-->