<div class="aside_scrollbar">
	<div class="viewport">
		<div class="overview">
		    {% for each in news %}
			<div class="media">
				<div class="image_preview">
					<a class="pull-left" href="#">
					    {% if each.media %}
					        {{ media(each.media, each, 'default', {class: 'media-object img-circle'}) | raw }}
					    {% else %}
					        <img class="media-object img-circle"/>
					    {% endif %}
					</a>
				</div>
				<div class="media-body">
					<a href="#"><h4 class="media-heading">{{ each.title }}</h4></a>
					<p>{{ each.description }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div> <!--End of aside_scrollbar-->