<div class="featured_wrapper">
	<div class="heading">
		<h3>Featured Clinics</h3>
	</div>
	<div id="featured_content">

		<div class="featured_item">
			<div class="general row">
				<div class="clinic-box span2">
					<a href="#"><img class="clinic-logo" src="/images/frontend/clinic2.png" alt="clinic logo"/></a>
				    <div class="rating">
				    	<p>USER RATINGS</p>
				    	<ul>
				    		<li><img src="/images/frontend/staricon_orange.png" alt="star"/></li>
				    		<li><img src="/images/frontend/staricon_orange.png" alt="star"/></li>
				    		<li><img src="/images/frontend/staricon_orange.png" alt="star"/></li>
				    		<li><img src="/images/frontend/staricon_grey.png" alt="star"/></li>
				    		<li><img src="/images/frontend/staricon_grey.png" alt="star"/></li>
				    	</ul>
				    </div>
				</div>
				<div class="description-box span4">
					<a href="#"><h3>Mayo Clinic</h3></a>
					<h5>Cebu, Philippines</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p><p>Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
				</div>
				<div class="thumb-box span2">
					<div class="img-background">
						<img class="img-polaroid" src="/images/frontend/featured1.png" alt="featured_pic" />
					</div>
					<button class="btn">Learn More</button>
				</div>
			</div>
			<div class="details row">
				<div class="span4">
					<div class="media">
						<div class="image_preview">
							<a class="pull-left" href="#"><img class="media-object img-circle" src="/images/frontend/about_icon_green.png" alt="clinic logo"/></a>
						</div>
						<div class="media-body">
							<a href="#"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor in. And another group of text to make it longer.</p></a>
						</div>
					</div>
				</div>
				<div class="span4">
					<div class="media">
						<div class="image_preview">
							<a href="#" class="pull-left"><img class="media-object img-circle" src="/images/frontend/featured_doctor1.png" alt="clinic logo"/></a>
						</div>
						<div class="media-body">
							<a href="#"><h5 class="media-heading">Dr. John Doe</h5></a>
							<p>Some awesome specialties of Dr. John Doe</p>
						</div>
					</div>
				</div>
			</div>
		</div><!--End of featured_item 1-->

	</div><!--End of featured_content-->
</div><!--End of featured_wrapper-->