<div class="span2">
	<a href=""><img src="/images/frontend/clinic-logo6.png" alt=""></a>
	<div class="rating">
		<p>USER RATINGS</p>
			<ul>
			   	<li><img src="/images/frontend/staricon_orange.png" alt="star"/></li>
			    <li><img src="/images/frontend/staricon_orange.png" alt="star"/></li>
			    <li><img src="/images/frontend/staricon_orange.png" alt="star"/></li>
			    <li><img src="/images/frontend/staricon_grey.png" alt="star"/></li>
			    <li><img src="/images/frontend/staricon_grey.png" alt="star"/></li>
			</ul>
	</div>
</div>
<div class="span5 address-box">
	<h1>Family Name Clinic</h1>
	<div class="media">
		<div class="pull-left">
			<img src="/images/frontend/address_icon2.png" class="media-object">
		</div>
		<div class="media-body">
			<h6>Gleneagles Hospital Sdn. Bhd. 282 Jalan Ampang 50450</h6>
			<h4>Kuala Lumpur, Malaysia</h4>
			
		</div>
	</div>
	<div class="contact_clinic span6">
		<a href="#" class="call btn green">Call Us</a>
		<a href="#" class="email btn green">Email</a>
		<a href="#" class="website btn green">Visit Website</a>
	</div>
</div>