{% if institutionMedicalCenter.isAlwaysOpen or institutionMedicalCenter.businessHours|length %}

    {% embed 'FrontendBundle:Embed:asideBox.html.twig' with {title: 'Schedule'} %}    
        {% block asideContent %}
    		<table class="schedule-wrapper">
        		{% if institutionMedicalCenter.isAlwaysOpen %}
                    <tr><td class="open247">Open 24/7</td></tr>
        		{% else %}
        		    {% for each in institutionMedicalCenter.businessHours %}
            		    <tr>
                            <td>{{ business_hours_bit_value_label(each.weekdayBitValue) | upper }}</td>
                            <td>{{ each.opening.format('h:i A') }}</td><td>-</td><td>{{ each.closing.format('h:i A') }}</td>
                        </tr>
        			{% endfor %}
        		{% endif %}
    		</table>

    	{% endblock %}
    {% endembed %}

{% endif %}