{% set businessHours = json_decode(businessHours) %}

{% if businessHours %}

    {% embed 'FrontendBundle:Embed:asideBox.html.twig' with {title: 'Schedule'} %}    
        {% block asideContent %}
        
    
    		<table>
    		    {% for day, time in businessHours %}
    			<tr>
    				<td>{{ day }}</td>
    				<td>{{ time.from }}</td>
    				<td>-</td>
    				<td>{{ time.to }}</td>
    			</tr>
    			{% endfor %}
    		</table>
    	{% endblock %}
    {% endembed %}

{% endif %}