{% if institutionMedicalCenter.isAlwaysOpen or institutionMedicalCenter.businessHours|length %}

    {% embed 'FrontendBundle:Embed:asideBox.html.twig' with {title: 'Schedule'} %}    
        {% block asideContent %}
    		<table class="schedule-wrapper">
        		{% if institutionMedicalCenter.isAlwaysOpen %}
                    <tr><td class="open247">Open 24/7</td></tr>
        		{% else %}
        		    {% for each in institutionMedicalCenter.businessHours %}
            		    <tr>
            		        {% set _bhData =  business_hours_to_view_data(each) %}
                            <td>{{ _bhData.daysLabel | upper }}</td>
                            <td>{{ _bhData.startTime }}</td><td>-</td><td>{{ _bhData.endTime }}</td>
                        </tr>
        			{% endfor %}
        		{% endif %}
    		</table>

    	{% endblock %}
    {% endembed %}

{% endif %}