{% embed 'FrontendBundle:Embed:asideBox.html.twig' with {title: 'Schedule'} %}

    {% block asideContent %}
		<table>
			<tr>
				<td>MONDAY</td>
				<td>9:00AM</td>
				<td>-</td>
				<td>7:00PM</td>
			</tr>
			<tr>
				<td>TUESDAY</td>
				<td>9:00AM</td>
				<td>-</td>
				<td>7:00PM</td>
			</tr>
			<tr>
				<td>WEDNESDAY</td>
				<td>9:00AM</td>
				<td>-</td>
				<td>7:00PM</td>
			</tr>
			<tr>
				<td>THURSDAY</td>
				<td>9:00AM</td>
				<td>-</td>
				<td>7:00PM</td>
			</tr>
			<tr>
				<td>FRIDAY</td>
				<td>9:00AM</td>
				<td>-</td>
				<td>7:00PM</td>
			</tr>
			<tr>
				<td>SATURDAY</td>
				<td>9:00AM</td>
				<td>-</td>
				<td>7:00PM</td>
			</tr>
			<tr>
				<td>SUNDAY</td>
				<td></td>
				<td>-</td>
				<td class="close">closed</td>
			</tr>
		</table>
	{% endblock %}
	
{% endembed %}