{% if specializations | length %}

    {% embed 'FrontendBundle:Embed:profileSection.html.twig' with {title: 'Specializations', class: 'specializations'} %}
        {% block sectionContent %}
        {% for each in specializations %}
            <div class="media">
                 <div class="thumbnail-wrapper img-polaroid pull-left">
                     <span class="hca-sprite clinic-default-logo mini"></span>
                 </div>
                 <div class="media-body">
                     <h4>{{ each.specialization.name }}</h4>
                    {% set _groupedTreatments = group_treatments_by_subspecialization(each.treatments) %}

                    {% for _subName, _groupedData in _groupedTreatments %}
                        {% if _groupedData.treatments | length %}
                        <div class="media">
                            {% if _groupedData.subSpecialization is defined and _groupedData.subSpecialization | length%}
                            <h5>{{ _groupedData.subSpecialization.name }}</h5>
                            {% else %}
                            <h5>Other Treatments</h5>
                            {% endif %}
                            <span><i class="icon-medkit pull-left"></i></span>
                            <div class="media-body">
                                <p>
                                    {% for treatment in _groupedData.treatments %}
                                        {{ treatment.name }},&nbsp;
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                 </div>
            </div>
    	{% endfor %}
        {% endblock %}
    {% endembed %}

{% endif %}