<div class="profile-widget-wrapper specializations">
    <h5>Specializations</h5>
    <div class="specializations-list-wrapper">
        <ul>
            {% for each in institutionSpecializations %}
                {% set specialization = each.specialization %}
                <li class="specialization">
                
                    <span class="thumbnail-wrapper ph-cardiology default img-polaroid pull-left"></span>
                    
                    <a>{{ specialization.name }}</a>
                    
                    {% set _groupedTreatments = group_treatments_by_subspecialization(each.treatments) %}

                    {% for _subName, _groupedData in _groupedTreatments %}
                        {% if _groupedData.treatments | length %}
                            <ul class="sub-specialization">
                                <li>
                                    {% if _groupedData.subSpecialization is defined and _groupedData.subSpecialization | length%}
                                    <a>{{ _groupedData.subSpecialization.name }}</a>
                                    {% else %}
                                    <a>Other Treatments</a>
                                    {% endif %}
                                    <ul class="treatment">
                                        {% for treatment in _groupedData.treatments %}
                                        <li>
                                            <a>{{ treatment.name }}</a>
                                        </li>
                                        {% endfor %}
                                    </ul><!-- .treatment -->
                                </li>
                            </ul><!-- .sub-specialization -->
                            <span><i class="icon-medkit pull-left"></i></span>
                            {% endif %}
                    {% endfor %}
                    
                </li><!-- .specialization -->
            {% endfor %}
        </ul>
    </div><!-- .specializations-list-wrapper -->
</div><!-- .profile-widget-wrapper -->