{% if specializations | length %}

    {% embed 'FrontendBundle:Embed:profileSection.html.twig' with {title: 'Specializations', class: 'specializations'} %}
        {% block sectionContent %}
    	<div class="specializationsbox">

        {% for each in specializations %}
    		<ul class="specializations-list">
    			<li class="first"><a href="#">{{ each.specialization.name }}</a></li>

                {% set _notFoundSubYet = true %}
    			{% for treatment in each.treatments %}
    			 	<li class="second">
    					<ul>
    					    {% for sub in treatment.subSpecializations if _notFoundSubYet %}
    					        {% if (sub.specialization.id == each.specialization.id)  %}
                                     {% set _notFoundSubYet = false %}
                                    <li><a href="#">{{ sub.name }}</a></li>
    	                	    {% endif %}
    	                	{% endfor %}

    						<li class="third">
    							<ul>
        							<li><a href="#">{{ treatment.name }}</a></li>
    							</ul>
    						</li>
    					</ul>
    				</li>
    			{% endfor %}
    		</ul>
    	{% endfor %}
    	</div>
        {% endblock %}
    {% endembed %}

{% endif %}