{% extends 'FrontendBundle::layout.html.twig' %}

{% block content %}
    <div id="details" class="row">
        <div id="main_content" class="span11">
            <header class="filters">
                <h2 class="header-label">History</h2>
            </header>
           <div class="span10 row-fluid one-col-context">
                 <p class="history"><b class="pull-left">{{ site_name }}</b> was conceptualized when co-founder Jason was busy building new iterations of his site GoAbroad.com while living and working in Asia for a decade. </p>
                
                <p>During that time he personally experienced the high quality of care while 3 daughters were born at BNH Hospital in Bangkok and had multiple surgeries performed in clinics and hospitals throughout Asia and Europe (Thailand, Philippines, United Kingdom and Spain). </p>
                
                <p>Concurrently, Greg's wife was working at a general practice clinic south of London, where she gave birth to their son and Richard's family had just returned from a successful procedure in Russia. </p>
                
                <p>Driven by our positive personal healthcare experiences and our frustrations in searching for information on the internet we asked "why can't we take the experience learned at GoAbroad.com and apply it towards Global Healthcare?". It seemed impossible that in the early 2010's all the existing sources on the internet were referral and commission based businesses or paid only directories that were incomplete and inaccurate. Given the seismic political changes to healthcare in the west, the business trends towards globalization and the growing numbers of prospective patients who are looking abroad it seemed obvious and logical that a quality internet portal was needed.</p>
                
                <p>For over 14 years, the team behind {{ site_name }} has been creating successful international directories. We have developed advanced, modern technologies to build a comprehensive directory of unbiased healthcare providers worldwide. Research and planning began in 2011. Design and production continued through 2012. The site was BETA launched in the first quarter of 2013.</p>
                
                <b>Who is behind {{ site_name }}?</b>
                <p>{{ site_name }}. is an American corporation based in Colorado and a wholly owned subsidiary of Chromedia Inc. Visit http://www.chromedia.com/#who to learn about our great team.</p>
                
                <b>Contact us:</b>
                <p>7050 West Custer Avenue<br/>
                Lakewood, Colorado 80226 U.S.A.</p>
                <p>US Office: 720.257.5277<br/>US Fax: 720.230.5431</p>
            </div>
        </div>
        <!--End of main_content-->
    </div>
{% endblock %}