{% extends 'FrontendBundle::layout.html.twig' %}

{% block content %}
    <h2 class="page-header">
        Privacy Policy
    </h2>

    <div class="page-content-wrapper">
        <strong>Important:</strong>
        <p>Your use of the Site constitutes your acknowledgement that you have read, that you understand, and that you accept the following Terms of Use. If you do not agree to be bound by these Terms of Use then you should stop accessing and using the Site.</p>
        <b> Do we disclose any information to outside parties? </b>
        <p>We do not sell, trade, share nor otherwise transfer to outside parties your personally identifiable information for marketing purposes without your full consent. If you are a prospective patient seeking consultation with a healthcare provider then you acknowledge that our website will share your personal information DIRECTLY with that healthcare provider and ONLY with that healthcare provider. The hospitals, clinics and doctors that partner with {{ site_name }} have agreed to follow the same Terms of Service in caring for your personal information but their compliance can not be guaranteed by {{ site_name }}. You understand that the transfer and disclosure of this personal information may be sent to countries where protection of personal data may be less than that of your home country. Your risk is small, about the same as sending an email but we hate SPAM as much as you do. Therefore we employ practices to insure all email addresses, phone numbers, names and associated details will be kept secure and confidential.</p> 
        
        <b>We may be forced to release your personal information for the following reasons:</b>
        <p>(1) to conform to legal requirements or to respond to a subpoena, search warrant or other legal process, whether or not a response is required by applicable law; (2) to enforce our Terms of Service or to protect our rights; or (3) to protect the safety of others.</p>
        
        <b>What information do we collect? </b>
        <p>(1) Statistical and other analytical information collected on an aggregate and non-individual specific basis of all browsers who visit our site. Through the use of Cookies, small data files that a website can use in order to recognise visitors and repeat visits, we manage, monitor and track usage and improve website services.</p>
        
        <p>(2) We collect information when you complete an online form. When contacting a healthcare provider or registering on our site you may be asked to enter your: name, e-mail address, mailing address, phone number and/or country of residence, as appropriate. You may, however, visit our site anonymously.</p>
        
        <b>What do we use your information for? </b>
        <p>Any of the information we collect from you may be used in one of the following ways: </p>
        
        <p>(1) To personalize your experience. (2) To improve our website.  (3) To improve customer service.  (4) To pass your personal information, with your consent, to healthcare providers whom you wish to contact  (5) To send you our newsletter, if you have double opted in.</p>
        
        <b>How do we protect your information? </b>
        <p>We implement a variety of security measures to maintain the safety of your personal information when you enter, submit, or access your personal information. </p>
        
        <p>Critical login, password or sensitive information is transmitted via Secure Socket Layer (SSL) technology and then encrypted into our Database to be only accessed by those authorized with special access rights.</p>
        
        <b>Third party links </b>
        <p>Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</p>
        
        <b>Strict adherence to CAN-SPAM Act</b>
        <p>We NEVER send spam. Our emailing practices strictly conforms to the CAN-SPAM Act of 2003.</p>
        
        <b>Double Opt-in Newsletter Subscriptions</b>
        <p>Subscription is optional and needs to be confirmed by following the instructions included in a confirmation email sent to your email address. Only after you have confirmed will you receive our newsletter. To Opt-out or unsubscribe we are committed to making the process as easy as possible. Subscribers may Opt-out with a single click from the newsletter itself or enter in their email address on our unsubscribe form that can be found in the footer of every page on our web site.</p>
        
        <b> Childrens Online Privacy Protection Act Compliance </b>
        <p>We are in compliance with the requirements of COPPA (Childrens Online Privacy Protection Act), we do not collect any information from anyone under 13 years of age. Our website, products and services are all directed to people who are at least 18 years old or older.</p>
        
        <b>Terms of Use</b>  
        <p>Please also visit our Terms of Use section establishing the use, disclaimers, and limitations of liability governing the use of our website at <a href="{{ path('frontend_page_terms_of_use') }}">Terms of Use</a>.</p>
        
        <b> Your Consent </b>
        <p>By using our site, you consent to our online privacy policy.</p>
        
        <b>Changes to our Privacy Policy </b> 
        <p>If we decide to change our privacy policy, we will post those changes on this page, and/or update the Privacy Policy modification date below. </p>
        
        <p>This policy was last modified on February 12, 2013</p>
        <!--End of main_content-->
    </div>
    <!--End of content-->
{% endblock %}
