<div class="span3">
{% include 'HelperBundle:Widgets:subMenu.html.twig' 
    with { 
        links: [
            {name: 'results_page_meta',url: path('admin_homepage'), label: 'Results Pages Meta Configuration', icon: 'icon-list'}
        ] 
    }  
%} 
</div>