<div id="confirmMap" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body">
        <h3>
            Confirm location on the map<br>
            <small>Drag and drop the pin to the actual location of your Clinic.</small>
        </h3>
        <div class="control-group">
            <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=+&amp;q=Gleneagles+Clinic+(Kuala+Lumpur)+Sdn.Bhd.+282+JalanAmpang+50450+Kuala+Lumpur+Malaysia&amp;ie=UTF8&amp;hq=Gleneagles+Clinic+(Kuala+Lumpur)+Sdn.Bhd.+282+JalanAmpang&amp;hnear=Kuala+Lumpur,+Federal+Territory+of+Kuala+Lumpur,+Malaysia&amp;ll=3.157092,101.727192&amp;spn=0.010963,0.038621&amp;t=m&amp;output=embed"></iframe><br>
            <small>
                <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=+&amp;q=Gleneagles+Clinic+(Kuala+Lumpur)+Sdn.Bhd.+282+JalanAmpang+50450+Kuala+Lumpur+Malaysia&amp;ie=UTF8&amp;hq=Gleneagles+Clinic+(Kuala+Lumpur)+Sdn.Bhd.+282+JalanAmpang&amp;hnear=Kuala+Lumpur,+Federal+Territory+of+Kuala+Lumpur,+Malaysia&amp;ll=3.157092,101.727192&amp;spn=0.010963,0.038621&amp;t=m" style="color:#000;text-align:left">
                    View Larger Map
                </a>
            </small>
            <p>Avenida Albert Einstein, 627/701 - Morumbi 05651-901, São Paulo, Brazil</p>
        </div>
    </div>

    <div class="modal-footer">
        <a id="submitInstitutionProfileForm" class="btn pull-right btn-primary btn-large">Confirm</a>
    </div>
</div>

<script type="text/javascript">
$("#submitInstitutionProfileForm").click(function() {
    var link = $(this);

    //Make link "unresponsive" to clicks
    if (link.data('clicked')) {
        return false;
    }
    link.data('clicked', 1);
    link.html('Saving institution profile...');

    $("form[name='institutionProfileForm']").submit();

    return false;
});
</script>