<div id="confirmMap" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body">
        <h3>
            Confirm location on the map<br>
            <small>Drag and drop the pin to the actual location of your Clinic.</small>
        </h3>
            <div id="map_canvas" style="width: 530px; height: 300px"></div> 
    </div>

    <div class="modal-footer">
        <input type="submit" class="btn pull-right btn-primary btn-large" value="Confirm">
    </div>
</div>