{% set selected = get_selected_AnciliaryServices(institution) %}
{% set _isSelected = _service.id in selected.data %}
{% if (_isSelected is defined and _isSelected ) %}
<tr class="ancillaryancillaryServices_row">
{% for property in selected.currentAncillaryData %}
    {% if property.value == _service.id  %}
          <td>{{ _service.name |title }}</td>
	 {% endif %}
 {% endfor %}  
</tr>
{% endif %}