<section class="section institution-info">
    <h2>Services<br> <small>Please check the ones that apply to your {{ label }}.</small></h2>
    <div class="row-fluid terms">
        <div class="span12">
        <div class="control-group row-field {{ (form.services.vars.valid ? '' : 'error') }}">
                {{ form_widget(form.services) }}
            </div>
        </div>
    </div>
</section>