<section class="section media-upload">
    <h2>
        Logo and Banner
        <small>
            (Optional)
        </small>
    </h2>
    <p>
        Adding your logo and banner is important, but you can do this later when
        you have the images.
    </p>
    <div class="row-fluid">
        <div class="span6">
            <div class="media">
                <img src="http://placehold.it/96x96" class="pull-left">
                <div class="media-body">
                    <p>
                        Logo should have at least 256 x 256 dimension.
                    </p>
                    <button class="btn btn-default">
                        Upload Logo
                    </button>
                </div>
            </div>
        </div>
        <div class="span6 divider">
            <div class="media">
                <img src="http://placehold.it/96x96" class="pull-left">
                <div class="media-body">
                    <p>
                        Banner should have at least 950 x 420 dimension.
                    </p>
                    <button class="btn btn-default">
                        Upload Banner
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>