<section class="section media-upload">
    <h2>
        Logo and Banner
        <small>
            (Optional)
        </small>
    </h2>
    <p>
        Having a logo and banner is important, but don't worry if you don't have the images now, you can always add them later.
    </p>
    <div class="row-fluid">
        {% set imageSize = constant('HealthCareAbroad\\MediaBundle\\Services\\ImageSizes::SMALL') %}
        <div class="span6">
            <div class="media">
                {% set logoImage = form.vars.value.logo ? institution_media_src(form.vars.value.logo, imageSize) : 'http://placehold.it/96x96' %}  
                <img src="{{ logoImage }}" class="pull-left">
                
                <div class="media-body">
                    <p>Your logo should be no smaller than 256 x 256 pixels.</p>
                    <button type="button" class="btn btn-default file-browse-btn" onclick="$(this).next().click()">Upload Logo</button>
                    {{ form_widget(form.logo) }}
                    
                </div>
            </div>
        </div>
        <div class="span6 divider">
            <div class="media">
                {% set featuredImage = form.vars.value.featuredMedia ? institution_media_src(form.vars.value.featuredMedia, imageSize) : 'http://placehold.it/96x96' %}  
                <img src="{{ featuredImage }}" class="pull-left">

                <div class="media-body">
                    <p>Your banner should be no smaller than 950 pixels wide x 420 pixels high.</p>
                    <button type="button" class="btn btn-default file-browse-btn" onclick="$(this).next().click()">Upload Banner</button>
                    {{ form_widget(form.featuredMedia) }}
                </div>
            </div>
        </div>
    </div>
</section>