<section class="section institution-info">
    <div class="row-fluid terms tooltip-wrap">
        <div class="span12">
            <div class="tooltip-content">
                <i class="icon-asterisk icon-2x pull-left"></i>Awards, certifications and affiliations are indicators that assure patients
                and their family that your facility is reliable, reputable and meets acceptable,
                if not superior, standards.
            </div>
            <div class="control-group {{ (form.awards.vars.valid ? '' : 'error') }}">
                    {{ form_widget(form.awards) }}
            </div>
        </div>
    </div>
</section>