<section class="section media-upload">
    <h2>
        Logo and Banner
        <small>
            (Optional)
        </small>
    </h2>
    <p>
        Having a logo and banner is important, but don't worry if you don't have the images now, you can always add them later.
    </p>
    <div class="row-fluid">
        <div class="span6">
            <div class="media">
                <img src="http://placehold.it/96x96" class="pull-left">
                <div class="media-body">
                    <p>
                        Your logo should be no smaller than 256 x 256 pixels.
                    </p>
                    <button class="btn btn-default">
                        Upload Logo
                    </button>
                </div>
            </div>
        </div>
        <div class="span6 divider">
            <div class="media">
                <img src="http://placehold.it/96x96" class="pull-left">
                <div class="media-body">
                    <p>
                        Your banner should be no smaller than 950 pixels wide x 420 pixels high.
                    </p>
                    <button class="btn btn-default">
                        Upload Banner
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>