<section class="section institution-info">
    <h2>
        Certifications, Affilations, Awards & Accreditations<br>
        <small>Please check the ones that apply to your {{ label }}.</small>
    </h2>
    <div class="row-fluid terms">
        <div class="span12">
            <div class="control-group row-field {{ (form.awards.vars.valid ? '' : 'error') }}">
                <div class="awards-listing">
                    {{ form_widget(form.awards) }}
                </div>
            </div>
        </div>
    </div>
</section>