<ul class="unstyled">
    {% for each in specializations %}
        <li style="background:#fff;padding:10px;margin-bottom:10px;">
            <h4>
                {{ each.specialization.name }} 
                <a href="{{ path('admin_institution_medicalCenter_editSpecialization', {institutionId: 16, isId: each.id}) }}" class="pull-right" style="font-size:13px;font-weight:normal"><i class="icon-edit"></i> edit</a>
                </h4>
            <div style="border-bottom: 1px solid #efefef;margin-bottom: 20px; padding-bottom:15px">{{ each.specialization.description | raw }}</div>

            <ul class="unstyled" style="margin-left: 10px;">
                {% for treatment in each.treatments %}
                    <li><label>{{treatment.name}} <i class="icon-remove"></i></label></li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>