{% extends 'AdminBundle::layout.institution.html.twig' %}

{% set centerLabel = getClassLabel('institution_medical_center').singular | title %}
{% block content %}
    <div class="span9">
        {% embed 'HelperBundle:Widgets:section.html.twig' 
            with {title: institutionMedicalCenter.name,
                  actions: [{link: path('admin_institution_medicalCenter_view', {'institutionId' : institution.id,'imcId': institutionMedicalCenter.id}), label: 'View '~ institutionMedicalCenter.name | title, 'icon' : 'icon-ok' }]  
                 } %}
            {% block sectionContent %} 
                <div id="scroll-pane" data-spy="scroll" data-offset-top="0" data-target="#navbar-side">
                    <form novalidate="novalidate" action="{{ path('admin_institution_medicalCenter_edit', { 'institutionId':institution.id, 'imcId': institutionMedicalCenter.id }) }}" method="POST" class="basic-form" >
                        {{ form_errors(form) }}
                        {{ form_row(form.status) }}
                        {{ form_rest(form) }}
                            <div class="clearfix"></div>
                            <input type="submit" name="submit" value="Submit" class="button-next btn-medium btn btn-info" />
                    </form>
                </div>
            {% endblock %}
        {% endembed %}
    </div>
    
{% endblock %}
        