
<div class="box_outer">

        <div class="lates_feat_news">

            <h3 class="widget_title">Featured Clinics</h3>

                <div class="latest_vids_wrap">

                    <div class="scrollable" id="scrolling_vids">   

                 <!-- root element for the items -->

                <div class="scroll_items">

                    

                    <div class="lates_feat_item">

                        <a href="#">

                        </a>

                        <p>

                            <a href="#">Lorem ipsum dolor sit, consectetur adipisicing eiusmod tempor incididunt ut labore et dolore magna aliqua.</a>

                        </p>
                        
                        <div style="float:right; margin: 12px -12px 0 0;"> <img src="images/demo/ph.png" alt="put here" /> </div>

                    </div><!--lates_feat_item-->

                   
                    <div class="lates_feat_item">

                        <a href="#">

                            <img src="images/demo/img.png" alt="put here" />

                            

                        </a>

                        <p>

                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</a>

                        </p>

                    </div><!--lates_feat_item-->


                    <div class="lates_feat_item">

                        <a href="#">

                          
                        </a>

                        <p>

                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</a>

                        </p>

                    </div><!--lates_feat_item-->


                    <div class="lates_feat_item">

                        <a href="#">

                            <img src="images/demo/img.png" alt="put here" />

                            

                        </a>

                        <p>

                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</a>

                        </p>

                    </div><!--lates_feat_item-->
                    

                    <div class="lates_feat_item">

                        <a href="#">

                            <img src="images/demo/img.png" alt="put here" />

                            

                        </a>

                        <p>

                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</a>

                        </p>

                    </div><!--lates_feat_item-->
                    

                    <div class="lates_feat_item">

                        <a href="#">                         

                        </a>

                        <p>

                            <a href="#">Lorem ipsum dolor sit amet</a>

                        </p>
                        
                        
                        <div style="float:right; margin: 12px -12px 0 0;"> <img src="images/demo/awards.png" alt="put here" /> </div>
                        

                    </div><!--lates_feat_item-->
                                      
                    
                    <div class="lates_feat_item">

                        <a href="#">

                            <img src="images/demo/img.png" alt="put here" />

                            

                        </a>

                        <p>

                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</a>

                        </p>

                    </div><!--lates_feat_item-->
                    
                    
                    <div class="lates_feat_item">

                        <a href="#">

                            <img src="images/demo/img.png" alt="put here" />

                            

                        </a>

                        <p>

                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</a>

                        </p>

                    </div><!--lates_feat_item-->                    
                    
                                        
                    
              </div> <!--End Items-->

           </div> <!--End scrollable-->

            </div> <!--Latest Vids Wrap-->

            <div class="navi"><div class="navi_links"></div></div>

        </div><!--Latest Video News-->

</div> <!--Box Outer-->


<!--News Box-->

   <div class="box_outer">

   <div class="news_box">

            <div class="news_box_heading">

                <div class="nb_dots">

                    <h2><a href="#">First Listing</a></h2>
                    <div style="float:right;background-color:#40454d; padding: 1px 10px; color:#fff">View All</div>
                </div>

            </div> <!--End nb Heading-->

        

            <div class="news_box_left">

                <div class="recent_news_item">

                <h4 class="recent_news_title"><a href="#">Lorem Ipsum Dolor</a></h4>

	    <div class="recent_news_img">

	    <a href="#">

                <img src="images/demo/box_thumb.png" alt="" title="" />

                <span class='nb_slide_icon'></span>

	    </a>

	    </div>

                <div class="recent_news_content">

                <p class="recent_news_excpert">

    Fusce sed augue ut augue mollis accumsan. Quisque urna dolor, sollicitudin id pharetra a, ultricies sed urna. Quisque quis turpis nibh. Cras eleifend vulputate congue. In semper ultrices sagittis. Duis ut nisi sit amet lorem consectetur dapibus vitae quis leo. Phasellus in tellus sem, quis ornare arcu... 

                </p>

		<div class="nb_meta">

                <span class="news_date">December 11, 2011</span>

		<span class="news_comments_count"><a href="#"><img src="images/demo/partner.jpg" alt="" title="" /></a></span>

		</div> <!--End NB META-->

                </div> <!--recent news Content-->

                </div> <!--recent News Item-->

            </div> <!--End News Box Left-->

            <div class="news_box_right">

		<div class="more_news_wrap">

		<div style="float:right;">            
                    <img src="images/more.jpg" alt="" title="" />
		</div> <!--more_news_wrap-->

		</div>

            </div> <!--End News Box Right-->

        </div> <!--News Box-->

    </div> <!--Box Outer-->

<!--End News Box-->

<!--News Box-->

   <div class="box_outer">

   <div class="news_box">

            <div class="news_box_heading">

                <div class="nb_dots">

                    <h2><a href="#">First Listing Two</a></h2>
                    <div style="float:right;background-color:#40454d; padding: 1px 10px; color:#fff">View All</div>
                </div>

            </div> <!--End nb Heading-->

        

            <div class="news_box_left">

                <div class="recent_news_item">

                <h4 class="recent_news_title"><a href="#">Lorem Ipsum Dolor</a></h4>

	    <div class="recent_news_img">

	    <a href="#">

                <img src="images/demo/box_thumb.png" alt="" title="" />

                <span class='nb_slide_icon'></span>

	    </a>

	    </div>

                <div class="recent_news_content">

                <p class="recent_news_excpert">

    Fusce sed augue ut augue mollis accumsan. Quisque urna dolor, sollicitudin id pharetra a, ultricies sed urna. Quisque quis turpis nibh. Cras eleifend vulputate congue. In semper ultrices sagittis. Duis ut nisi sit amet lorem consectetur dapibus vitae quis leo. Phasellus in tellus sem, quis ornare arcu... 

                </p>

		<div class="nb_meta">

                <span class="news_date">December 11, 2011</span>

		<span class="news_comments_count"><a href="#"><img src="images/demo/partner.jpg" alt="" title="" /></a></span>

		</div> <!--End NB META-->

                </div> <!--recent news Content-->

                </div> <!--recent News Item-->

            </div> <!--End News Box Left-->

            <div class="news_box_right">

		<div class="more_news_wrap">

		<div style="float:right;">            
                    <img src="images/more.jpg" alt="" title="" />
		</div> <!--more_news_wrap-->

		</div>

            </div> <!--End News Box Right-->

        </div> <!--News Box-->

    </div> <!--Box Outer-->

<!--End News Box-->


<!--News Box-->

   <div class="box_outer">

   <div class="news_box">

            <div class="news_box_heading">

                <div class="nb_dots">

                    <h2><a href="#">First Listing Three</a></h2>
                    <div style="float:right;background-color:#40454d; padding: 1px 10px; color:#fff">View All</div>
                </div>

            </div> <!--End nb Heading-->

        

            <div class="news_box_left">

                <div class="recent_news_item">

                <h4 class="recent_news_title"><a href="#">Lorem Ipsum Dolor</a></h4>

	    <div class="recent_news_img">

	    <a href="#">

                <img src="images/demo/box_thumb.png" alt="" title="" />

                <span class='nb_slide_icon'></span>

	    </a>

	    </div>

                <div class="recent_news_content">

                <p class="recent_news_excpert">

    Fusce sed augue ut augue mollis accumsan. Quisque urna dolor, sollicitudin id pharetra a, ultricies sed urna. Quisque quis turpis nibh. Cras eleifend vulputate congue. In semper ultrices sagittis. Duis ut nisi sit amet lorem consectetur dapibus vitae quis leo. Phasellus in tellus sem, quis ornare arcu... 

                </p>

		<div class="nb_meta">

                <span class="news_date">December 11, 2011</span>

		<span class="news_comments_count"><a href="#"><img src="images/demo/partner.jpg" alt="" title="" /></a></span>

		</div> <!--End NB META-->

                </div> <!--recent news Content-->

                </div> <!--recent News Item-->

            </div> <!--End News Box Left-->

            <div class="news_box_right">

		<div class="more_news_wrap">

		<div style="float:right;">            
                    <img src="images/more.jpg" alt="" title="" />
		</div> <!--more_news_wrap-->

		</div>

            </div> <!--End News Box Right-->

        </div> <!--News Box-->

    </div> <!--Box Outer-->

<!--End News Box-->


<!--News Box-->

   <div class="box_outer">

   <div class="news_box">

            <div class="news_box_heading">

                <div class="nb_dots">

                    <h2><a href="#">First Listing Four</a></h2>
                    <div style="float:right;background-color:#40454d; padding: 1px 10px; color:#fff">View All</div>
                </div>

            </div> <!--End nb Heading-->

        

            <div class="news_box_left">

                <div class="recent_news_item">

                <h4 class="recent_news_title"><a href="#">Lorem Ipsum Dolor</a></h4>

	    <div class="recent_news_img">

	    <a href="#">

                <img src="images/demo/box_thumb.png" alt="" title="" />

                <span class='nb_slide_icon'></span>

	    </a>

	    </div>

                <div class="recent_news_content">

                <p class="recent_news_excpert">

    Fusce sed augue ut augue mollis accumsan. Quisque urna dolor, sollicitudin id pharetra a, ultricies sed urna. Quisque quis turpis nibh. Cras eleifend vulputate congue. In semper ultrices sagittis. Duis ut nisi sit amet lorem consectetur dapibus vitae quis leo. Phasellus in tellus sem, quis ornare arcu... 

                </p>

		<div class="nb_meta">

                <span class="news_date">December 11, 2011</span>

		<span class="news_comments_count"><a href="#"><img src="images/demo/partner.jpg" alt="" title="" /></a></span>

		</div> <!--End NB META-->

                </div> <!--recent news Content-->

                </div> <!--recent News Item-->

            </div> <!--End News Box Left-->

            <div class="news_box_right">

		<div class="more_news_wrap">

		<div style="float:right;">            
                    <img src="images/more.jpg" alt="" title="" />
		</div> <!--more_news_wrap-->

		</div>

            </div> <!--End News Box Right-->

        </div> <!--News Box-->

    </div> <!--Box Outer-->
    
    
<!--End News Box-->

    
		<div style="overflow:hidden; border:1px solid #e0e0e0; border-bottom:2px solid #d8d8d8; padding:4px; width:148px; margin-bottom:14px; background:#fff;">
            <div class="pagination">
            <img src="images/pagil.png">
                <span class="current">1</span>
                <a class="inactive" href="#">2</a>
                <a class="inactive" href="#">3</a>
                <a class="inactive" href="#">4</a>
                <a class="inactive" href="#">5</a>
            <img alt="rss" src="images/pagir.png">    
            </div>
        </div>
    