	<div class="newsletter">
	     subscribe to our rss feeds<br />
	     <img alt="rss" src="{{ asset('images/rss.png') }}" class="rs_icon" style="width:28px; height:28px;">
	
	      <form action="#">
			<input type="text" onblur="if(this.value=='')this.value='Your Email';" onfocus="if(this.value=='Your Email')this.value='';" value="Your Email" name="email" class="nsf">
			<input type="hidden" value="en_US" name="loc">
			<input type="submit" value="Subscribe" class="nsb">
		 </form>
	
	</div> <!--End newsletter--> 