
<div class="tabbed_content" style="display: none;">

	<div class="tagcloud tabbed_tag">

				<a href="#">aids</a>
                <a href="#">Barcelona</a>
                <a href="#">body</a>
                <a href="#">bugs</a>
                <a href="#">bunny</a>
                <a href="#">business</a>
                <a href="#">drugs</a>
                <a href="#">fake</a>
                <a href="#">GOP</a>
                <a href="#">human</a>
                <a href="#">men</a>
                <a href="#">obama</a>
                <a href="#">Real Madrid</a>
                <a href="#">time</a>
                <a href="#">usa</a>
                <a href="#">weight</a>
                <a href="#">world</a>
                <a href="#">yuk</a>

	</div> <!--Tag Cloud-->

</div> <!--Tabbed Content-->