{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'staff'%}

{% block content %}
<!-- start content -->
<div id="content">
    <!--  start page-heading -->
    <div id="page-heading">
        <h1>Edit {{ app.session.get('accountId') == user.getAccountId() ? 'my account' : user.getFullName() }}</h1>
    </div>
    <!-- end page-heading -->
    
    {% embed '::contentWrapper.admin.html.twig' %}
        
        {% block wrappedContent %}
            <!--  start table-content  -->
            <div id="table-content">
            
                {% include '::notice.admin.html.twig' %}
                {% include 'AdminBundle:AdminUser:form.html.twig' with {'form_url': path('admin_edit_account') } %}
                
            </div>
            <!--  end table-content  -->
        {% endblock %}
        
    {% endembed %}
    
</div>
<!--  end content -->
<div class="clear">&nbsp;</div>
{% endblock %}
