HealthCareAbroad\HelperBundle\Entity\Country:
    type: entity
    table: countries
    repositoryClass: HealthCareAbroad\HelperBundle\Repository\CountryRepository
    fields:
        id:
            id: true
            type: integer
            unsigned: false
            nullable: false
            generator:
                strategy: NONE
        name:
            type: string
            length: 250
            fixed: false
            nullable: false
            
        abbr:
            type: string
            length: 10
            fixed: false
            nullable: false
            
        code:
            type: string
            length: 11
            fixed: false
            nullable: false
            
        slug:
            type: string
            length: 100
            fixed: true
            nullable: false
            gedmo:
              slug:
                separator: -
                fields:
                  - name
        status:
            type: smallint
            nullable: false

    oneToMany:
        cities:
            targetEntity: HealthCareAbroad\HelperBundle\Entity\City
            mappedBy: country

    lifecycleCallbacks: {  }
