HealthCareAbroad\HelperBundle\Entity\State:
    type: entity
    table: states
    repositoryClass: HealthCareAbroad\HelperBundle\Repository\StateRepository
    fields:
        id:
            id: true
            type: integer
            unsigned: false
            nullable: false
            generator:
                strategy: NONE
        name:
            type: string
            length: 255
            fixed: false
            nullable: false     
        administrativeCode:
            type: string
            length: 3
            fixed: false
            nullable: true
            column: administrative_code
        institutionId:
            type: integer
            unsigned: true
            nullable: false
            default: 0
            column: institution_id
        status:
            type: smallint
            nullable: false
    manyToOne:
        country:
            targetEntity: HealthCareAbroad\HelperBundle\Entity\Country
            cascade: {  }
            joinColumns:
                country_id:
                    referencedColumnName: id
            orphanRemoval: false
    lifecycleCallbacks: {  }