{% extends 'AdminBundle::layout.institution.html.twig' %}
{% set selectedTab = 'institutions'%} 

{% block content %}

    <div class="span9">
        {% embed 'HelperBundle:Widgets:section.html.twig' with {
            title: 'Media Gallery',
            actions: [{link: path('admin_institution_gallery_add', {'institutionId': institution.id}), label: 'Add media', 'icon' : 'icon-edit' }]
        } %}

            {% block sectionContent %}

                {% include 'MediaBundle:Widgets:gallery.html.twig' with { media: institutionMedia, mediaContext: media_context.institution} %}
            {% endblock %}

        {% endembed %}
    </div>

{% endblock %}