<div class="span3">
    <div class="sidebar-nav">
        <ul class="nav nav-tabs nav-stacked">
            <li class="active">
                <a href="main.php"><i class="icon-home"></i> Dashboard</a>
            </li>
            <li>
                <a href="medcenterlisting.php"><i class="icon-star"></i> Medical Center</a>
            </li>
            <li>
                <a href="specialistlisting.php"><i class="icon-user"></i>Doctors Listing</a>
            </li>
            <li>
                <a href="staff.html"><i class="icon-user"></i>Staff Listing</a>
            </li>
            <li>
                <a href="affiliations.php"><i class="icon-certificate"></i>Affiliations / Certifications</a>
            </li>
            <li><a href="{{ path('admin_institution_gallery', {institutionId: institution.id}) }}"><i class="icon-picture"></i>Media Gallery</a></li>
        </ul>
    </div>
</div>