{% extends 'AdminBundle::layout.institution.html.twig' %}
{% set selectedTab = 'institutions'%}

{% block content %}
<div class="span9 title">
    {# recently added medical centers box #}
    {% include 'AdminBundle:Institution:recentMedicalCenters.html.twig' with {'medicalCenters': recentMedicalCenters } %}
    
</div>
{% endblock %}