<section class="section socialmedia-info">
    <h2> Social Media
        <small> (Optional) </small>
    </h2>
    <div class="row-fluid">
        <div class="span12">
            {{ form_widget(form.socialMediaSites) }}
        </div>
    </div>
</section>