<!--  do not remove this is the one being used in signup - register.html  -->
<section class="aside-box get-started">
    <h2>
        Let's Get Started
    </h2>
    <div class="steps">
        <div class="media active">
            <span class="numbercircle pull-left">
                1
            </span>
            <div class="media-body">
                <span class="main-step">
                    Create your personal account
                </span>
            </div>
        </div>
        <div class="media">
            <span class="numbercircle pull-left">
                2
            </span>
            <div class="media-body">
                <span class="main-step">
                    Set-up profile for your Hospital or Clinic
                </span>
            </div>
        </div>
    </div>
</section>
<section class="alert alert-info dashboard-side">
    <p><span><i class="icon-user icon-4x pull-left"></i></span>
    As the <b>ACCOUNT CREATOR</b>, you will have full administrative access. Any or all of these responsibilities and permissions can be reassigned to other users later in the registration process.</p>
</section>
<section class="alert alert-info dashboard-side">
    <p><span><i class="icon-envelope icon-4x pull-left"></i></span>
    This is the email address you use to login to the <b>{{ site_name }} system</b>. It is also the email address we send all internal account communications from the {{ site_name }} admin team to your organization.</p>
</section>
