services:
    services.log:
        class: HealthCareAbroad\LogBundle\Services\LogService
        arguments: [@service_container]

    services.log.entity_version:
        class: HealthCareAbroad\LogBundle\Services\EntityVersionService
        arguments: [@doctrine]

    services.log.error_log:
        class: HealthCareAbroad\LogBundle\Services\ErrorLogService
        arguments: [@doctrine]

    listener.log.kernelException:
        class: HealthCareAbroad\LogBundle\Listener\Error\KernelExceptionListener
        arguments: [@doctrine]
        tags:
            - { name: kernel.event_listener, event: kernel.exception, method: onKernelException, priority: 1024 }