{% extends 'InstitutionBundle::unauthenticated.layout.html.twig' %}

{% block title %}Client Login{% endblock %}

{% block content %}
    {% embed 'InstitutionBundle:Widgets:contentWrapper.html.twig' 
        with {'pageTitle': 'Sign In', contentSpanClass: 'span7'} 
    %}
        {% block wrappedContent %}
            <form action="{{ path('institution_login_check') }}" id="signinForm" method="POST" class="form">
                <fieldset>
                    
                    {% if error %}
                        <div class="alert alert-error">
                            {{ error.message }}
                        </div>
                    {% endif %}
                
                    <div>
                        <label for="username">Email</label>
                        <input name="_username" type="text" id="username" value="{{ last_username }}" class="span8" required="required"  />
                        
                        {#
                        <ul>
                            <li>Please enter a valid email address.</li>
                        </ul>
                        #}
                    </div>
                    
                    <div>
                        <label for="password">Password</label>
                        <input name="_password" type="password" id="password" value="" class="span8" required="required"  />
                    </div>
                    
                    <label><a href="#">Forogt Password</a>.</label>
                    <input type="submit" name="Submit" value="SIGN-IN" class="span6 btn-large btn-primary" />
                </fieldset>
            </form>
        {% endblock %}
        
        {% block sideBox %}
            <div class="span5">
                <div class="aside">
                    <div class="aside box">
                        <h4>Some Text here that urge medical institution to sign up for Health Care Abroad Medical Listing!</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                        <a href="register.html"><input type="submit" name="Submit" value="JOIN NOW!" class="span3 btn-large btn-primary" /></a>
                    </div>
                </div>
                <!-- End of aside-->
            </div>
            <!--End of span5-->
        {% endblock %}
        
    {% endembed %}
{% endblock %}

