{% extends 'InstitutionBundle::unauthenticated.layout.html.twig' %}
{% block title %} Reset Password {% endblock %}

{% block content %}
    {% embed 'InstitutionBundle:Embed:contentWrapper.unauthenticated.html.twig' 
        with {'pageTitle': 'Reset Password', 'contentSpanClass': 'span8 marginleft0'} 
    %}
        
    {% block wrappedContent %}
        <div id="content" class="container">
            <div class="row">
                <div class="span6 offset3">
                    <form action="{{ path('institution_reset_password') }}" method="post">
                        <section class="section account-info">
                            <h2>
                                Reset Password
                            </h2>
                            <div class="row-fluid">
                                <div class="span12 control-group">
                                    <div class="control-group">
                                        <label for="email">
                                            Enter your email address and we'll email you password reset instructions.
                                        </label>
                                        <input type="text" id="email" name="email" placeholder="" class="span12"
                                        required="">
                                    </div>
                                    <input type="submit" value="Reset Password"
                                    class="btn btn-primary btn-large" />
                                    <a href="{{ path('institution_login') }}" class="btn btn-link btn-large">Cancel</a>
                                </div>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </div>
             
        {% endblock %}
        
    {% endembed %}
    
{% endblock %}
