{% extends 'InstitutionBundle::unauthenticated.layout.html.twig' %}
{% block title %} Reset Password {% endblock %}

{% block content %}
    {% embed 'InstitutionBundle:Embed:contentWrapper.unauthenticated.html.twig' 
        with {'pageTitle': 'Reset Password', 'contentSpanClass': 'span8 marginleft0'} 
    %}
        
    {% block wrappedContent %}
        <div id="content" class="container">
            <div class="row">
                <div class="span6 offset3">
                    <form action="{{path('institution_set_new_password', {token: token}) }}" method="post">
                        <section class="section account-info">
                            <h2>
                                Create New Password
                            </h2>
                            <div class="row-fluid">
                                <div class="span12 control-group">
                                    <div class="control-group">        
                                        {{ form_row( form.new_password ) }}  
                                        {{ form_row( form.confirm_password ) }}
                                        {{ form_rest(form) }}
                                    </div>
                                    <input type="submit" value="Reset Password" class="btn btn-primary btn-large" />
                                </div>
                            </div>
                			
                        </section>
                    </form>
                </div>
            </div>
        </div>
             
        {% endblock %}
        
    {% endembed %}
    
{% endblock %}
