{% extends 'InstitutionBundle::layout.html.twig' %}
{% block title %}{{ parent() }} Medical Procedure Types {% endblock %}
{% set selectedTab = 'medical_centers'%}

{% block content %}
<!-- start content -->
<div id="content">
    <!--  start page-heading -->
    <div id="page-heading">
    	<h1>{{ app.session.get('institutionName') }} Medical Procedure Types</h1>
    </div>

    <!-- end page-heading -->
    
    {% embed '::contentWrapper.admin.html.twig' %}
        
        {% block wrappedContent %}
            
            {# ----- Related tasks ----- #}
            {% include 'InstitutionBundle:MedicalProcedureType:relatedTasks.html.twig' with {hideMedicalProcedureTypeManagement: true} %}
            {# ----- end Related tasks ----- #}
            
			<!--  start table-content  -->
			<div id="table-content">
			    {% include '::notice.admin.html.twig' %}
			    
			    <div id="institution-medical-procedure-types" style="width:75%">
			        {% include 'InstitutionBundle:MedicalProcedureType:medicalProcedureTypes.html.twig' with {'institutionMedicalProcedureTypes': institutionMedicalProcedureTypes} %}
			    </div>
                <!-- end institution-medical-procedure-types  -->            			    
				
			</div>
			<!--  end table-content  -->
        {% endblock %}
        
    {% endembed %}

</div>
<!--  end content -->
<div class="clear">&nbsp;</div>
{% endblock %}

{% block inlineJavascriptCode %}
	<script src="{{ asset('bundles/institution/js/InstitutionMedicalProcedure.js') }}"></script>
	<script type="text/javascript">
		$(function(){

			$("#dialog-container").dialog({
				autoOpen: false,
				height: 580,
				width: 700,
				modal: true,
				resizable: false,
				//buttons: {"Save": function() {var bValid = true;}, Cancel: function() {$( this ).dialog( "close" );} },
				close: function() {}
			});

			$("a.add-procedure").click(function() {
				var elem = $(this);
				var addProcedureUrl = elem.attr('href');

				$("#dialog-container").empty();
				$("#dialog-container").dialog({
					open: function() {
						$.ajax(addProcedureUrl)
							.done(function (data) {
								elem.attr('href', addProcedureUrl);
								$('#dialog-container').html(data);
							});
					},
				});
				$("#dialog-container").dialog("open");
				return false;
			});

			{% if institutionMedicalProcedureTypes is not empty %} 
		    $("#institution-medical-procedure-types").accordion();
		    {% endif %}			
		});
	</script>
{% endblock %}
