{% for procedureType in institutionMedicalProcedureTypes %}	 
	<h3><a href="#">{{ procedureType.medicalProcedureType.name }}</a></h3>
	
	<div class="procedures">
	    
	    <span class="description" style="color:#aaa">
    	    {{ procedureType.description }}
    	</span>
	    
	    <a style="margin-left:5px;" class="button-type" href="{{ path('institution_medicalCenter_editProcedureType', {'imcId': app.request.get('imcId'), 'imptId': procedureType.id } ) }}">Edit</a>
		<a class="add-procedure button-type" href="{{ path('institution_medicalProcedureType_addMedicalProcedure', {'id': procedureType.id}) }}">Add Procedure</a>
		{% include 'InstitutionBundle:MedicalProcedureType:medicalProcedures.html.twig' with {'procedures' : procedureType.institutionMedicalProcedures } %}
	</div>
{% else  %}
	<div class="empty-list">No records yet!</div>
{% endfor %}