<div>Select a file to upload:</div>

<form action="{{ path('media_upload') }}" enctype="multipart/form-data" style="margin-bottom: 200px" method="POST">
    <input type="file" name="file" />

    <input type="submit" value="Upload"/>
</form>

<div>
    Switch to the <a href="{{ path('admin_institution_gallery_add', { 'institutionId': app.session.get('institutionId')}) }}">multi-file uploader</a>.
</div>