admin_specialization_index:
    pattern:  /admin/specializations
    defaults: { _controller: AdminBundle:Specialization:index }
    requirements:
        _method:  GET

admin_specialization_add:
    pattern:  /admin/specializations/add
    defaults: { _controller: AdminBundle:Specialization:add }
    requirements:    
        _method:  GET
        
admin_specialization_create:
    pattern:  /admin/specializations/add
    defaults: { _controller: AdminBundle:Specialization:save }
    requirements:
         _method: POST
         
admin_specialization_manage:
    pattern:  /admin/specializations/{id}/manage
    defaults: { _controller: AdminBundle:Specialization:manage }
    requirements:
        id: \d+
        _method:  GET

admin_specialization_edit:
    pattern:  /admin/specializations/{id}/edit
    defaults: { _controller: AdminBundle:Specialization:edit, id: ~ }
    requirements:
        id: \d+
        _method:  GET
        
admin_specialization_update:
    pattern:  /admin/specializations/{id}/edit
    defaults: { _controller: AdminBundle:Specialization:save}
    requirements:
         id: \d+
         _method: POST

admin_specialization_updateStatus:
    pattern:  /admin/specializations/{id}/update-status
    defaults: { _controller: AdminBundle:Specialization:updateStatus, id: ~ }
    requirements:
        id: \d+
        
admin_specialization_loadAvailableSubSpecializations:
    pattern:  /ns-admin/specialization/load-available-sub-specializations/{id}
    defaults: { _controller: AdminBundle:Specialization:loadAvailableSubSpecializations, id: ~ }
    requirements:
        id: \d+        