admin_page_metas_index:
    pattern:  /admin/page_metas/results-page
    defaults: { _controller: AdminBundle:PageMetaConfiguration:pageMetaConfiguration }

admin_page_metas_process_search_parameters:
    pattern:  /admin/page_metas/ajax-process-search-paramters
    defaults: { _controller: AdminBundle:PageMetaConfiguration:ajaxProcessSearchParameters }
    
admin_page_metas_institution:
    pattern: /admin/page_metas/hospital-and-clinic-pages
    defaults: { _controller: AdminBundle:PageMetaConfiguration:institutionPageMetaConfiguration }
    
admin_page_metas_process_institution_parameters:
    pattern:  /admin/page_metas/ajax-process-institution-paramters
    defaults: { _controller: AdminBundle:PageMetaConfiguration:ajaxProcessInstitutionParameters }
    requirements:
         _method: POST|GET
    
admin_page_metas_save:
    pattern:  /admin/page_metas/save/{id}
    defaults: { _controller: AdminBundle:PageMetaConfiguration:save, id: 0 }
    requirements:
         _method: POST
         
admin_homepage_metas_index:
    pattern:  /admin/page_metas/homepage
    defaults: { _controller: AdminBundle:PageMetaConfiguration:index }