{# --
    Element prototype for selected business hours
    NOTE: Don't touch class names that starts with fbh
#}
<div class="fbh_selected_item hca-workingday-details">
    <a class="fbh_remove_selected_item_link" href="#" data-elementId="">
        <i class="icon-remove-sign pull-right"></i>
    </a>
    <a class="fbh_edit_selected_item_link" href="#" data-elementId="">
        <i class="icon-edit pull-right"></i>
    </a>
    <span class="fbh_selected_days_label"></span>
    <b class="fbh_selected_time_label"></b>
    <p class="fbh_selected_item_notes"></p>
</div>