<h2 class="acc_title current">Doctors and Staffs</h2>
<div style="display: block;" class="acc_content">
    <div class="one_half">
        <h4>Our Top Doctors</h4>
        <ul class="list">
            <li class="doc"><img class="arrow"><a href="#"><strong>Dr. Wong Fi Long</strong> - Gastrologist</a></li>
            <li class="doc"><img class="arrow"><a href="#"><strong>Dr. Alfred Ceno</strong> - Cosmetics</a></li>
            <li class="doc"><img class="arrow"><a href="#"><strong>Dr. GM De Gusman</strong> - General Surgeon</a></li>
            <li class="doc"><img class="arrow"><a href="#"><strong>Dr. Manny Calayan</strong> - Internal Medicine</a></li>
            <li class="doc"><img class="arrow"><a href="#"><strong>Dr. Vicky Belo</strong> - Physical Theraphist</a></li>
            <li class="doc"><img class="arrow"><a href="#"><strong>Dr. Bruce Likong</strong> - Osteologist</a></li>
            <li class="doc"><img class="arrow"><a href="#"><strong>Dr. Jacky Lee Chan</strong> - Eye Specialist</a></li>
            <li class="doc"><img class="arrow"><a href="#"><strong>Dr. Nichole Fe Sarabia</strong> - Gastrologist</a></li>                   
        </ul>
    </div>
    <div class="one_half last">
        <h4>&nbsp;</h4>
        <ul class="list">
            <li class="doc"><img class="arrow"><a href="#"><strong>Dr. Short Long</strong> - Chemist</a></li>
            <li class="doc"><img class="arrow"><a href="#"><strong>Dr. Tony Wicks</strong> - Tissue Engineer</a></li>
            <li class="doc"><img class="arrow"><a href="#"><strong>Dr. Sebastian Smith</strong> - Biologist</a></li>
            <li class="doc"><img class="arrow"><a href="#"><strong>Dr. Wong Fi Long</strong> - Dermatologist</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>