{% set streetAddress = institution_address_to_string(institution, ['address1'], ', ', {wrapWithMicrodata: true}) %}
{% set mainAddress = institution_address_to_string(institution, ['city', 'state', 'country', 'zipCode'], ', ', {wrapWithMicrodata: true}) %}

{% include 'FrontendBundle:Institution/Widgets:commonHeading.html.twig' with {viewData: {
        headerText: institution.name,
        featuredMediaSource: institution.featuredMedia and institution.featuredMedia.src 
            ? institution.featuredMedia.src 
            : imageplaceholder.institutionFeaturedImage,
        logoSource: institution.logo and institution.logo.src
            ? institution.logo.src
            : null,
        defaultLogoClass: 'hospital-default-logo',
        contactNumber: institution.mainContactNumber,
        streetAddress: streetAddress,
        mainAddress: mainAddress,
        institutionInquiryLink: '#form',
        social: institution.socialMediaSites,
        contactEmail:institution.contactEmail,
        website: institution.websites
    }}
%}

<div class="profile-wrapper tab-content span8">
	<ul class="nav nav-tabs" id="institutionTab">
	  	<li class="active"><a href="#overview">OVERVIEW</a></li>
	  	{% if institutionDoctors|length %}
	  	    <li><a href="#doctors">DOCTORS</a></li>
        {% endif %}
	</ul> <!--Twitter bootstrap Tabs-->

	<!-- Tabs Content -->
	<div id="overview" class="tab-pane active">
        {% include 'FrontendBundle:Institution/Widgets:overview.html.twig' %}
    </div>

    {% if institutionDoctors|length %}
        <div id="doctors" class="tab-pane">
            {% include 'FrontendBundle:Widgets:profileDoctorsList.html.twig' with {doctors: institutionDoctors} %}
        </div>
    {% endif %}
    <!-- End of Tabs Content -->
    
    {#
    <!--
    FIXME: streetAddress and mainAddress are of different format from above since the one above has microdata format 
     -->
     #}
    {% include 'FrontendBundle:Institution/Widgets:commonContactAndAddress.html.twig' 
            with { 
                streetAddress: institution_address_to_string(institution, ['address1']), 
                mainAddress: institution_address_to_string(institution, ['city', 'state', 'country', 'zipCode']),
                social: institution.socialMediaSites,
                contactEmail: institution.contactEmail,
                contactNumber: institution.mainContactNumber,
                website: institution.websites, 
            } 
        %}
</div>

<aside class="span4 aside-wrapper">
    {% include 'FrontendBundle:Widgets:profileLocationAside.html.twig' %}

    {% include 'FrontendBundle:Widgets:profileMediaAside.html.twig' with { photos: photos } %}

    {% include 'FrontendBundle:Institution/Widgets:inquiryFormAside.html.twig' with {title: 'Email this Institution', form: form} %}
</aside> <!--End of aside_content-->

<div class="span12">
    <p>Copyright 2013, <b>{{ institution.name }}</b> </p>
</div>


{% block inlineJavascriptCode %}
<script type="text/javascript" src="{{asset('bundles/frontend/js/institution.js')}}"></script>
<script type="text/javascript">
<!--
(function($){
    $(function(){
        $('#hospital-contact[rel="tooltip"]').tooltip({
            title: function(){

                var _titleContainer = $('<h5></h5>');
                var _contactDetails = window.JSON.parse($(this).attr('data-contact-number')); 
                $.each(_contactDetails, function(_key, _item){
                    _titleContainer.append('<small>'+_item.type.toUpperCase()+': </small>'+_item.number);
                });
                return _titleContainer;
            },
            html: true,
            delay: 0,
            trigger: 'click',
            animation: false,
            placement: 'top'
        }).click(function(){
            return false;
        });

        $('[rel=popover]').popover({
            placement: 'top',
            html: true,
            trigger: 'click',
            content: function() {
                return $('#_call-content-wrapper').html();
            }
        }).click(function(e) {
            e.preventDefault();
        });
		
        $('#institutionTab a').click(function (e) {
      	  e.preventDefault();
      	  $(this).tab('show');
      	});

        $('#inquiry_submitButton').institutionInquiryModalForm({
            submitButton: $('#inquiry_submitButton'),
            form: $('form#inquiryForm') ,
            path: "{{ path('frontend_multiple_center_ajaxSaveInstitutionInquiry', {institutionId : institution.id}) }}"
        });
    });
})(jQuery);
//-->
</script>
{% endblock %}

