{% include 'FrontendBundle:Institution/Widgets:heading.html.twig' %}

<div id="details" class="row">
	<div class="tab-content span8">
		<ul class="nav nav-tabs" id="clinicTab">
		  	<li class="active"><a href="#main_content">OVERVIEW</a></li>
		  	<li><a href="#clinics">CLINIC LIST</a></li>
		</ul> <!--Twitter bootstrap Tabs-->

        {% include 'FrontendBundle:Institution/Widgets:overview.html.twig' %}
        
        {% include 'FrontendBundle:Institution/Widgets:clinicList.html.twig' %}
	</div>

	<aside id="aside_content" class="span4">

	    {# include 'FrontendBundle:Widgets:profileLocationAside.html.twig' #}

	    {% include 'FrontendBundle:Institution/Widgets:infoAside.html.twig' %}

	    {# include 'FrontendBundle:Institution/Widgets:branchesAside.html.twig' #}

	    {% include 'FrontendBundle:Widgets:profileMediaAside.html.twig' with { media: institution.gallery ? institution.gallery.media : [], logo: institution.logo } %}

	    {% include 'FrontendBundle:Widgets:profileSocialAside.html.twig' with { urls: json_decode(institution.websites) } %}

	</aside> <!--End of aside_content-->
</div>

{% block inlineJavascriptCode %}
<script type="text/javascript" src="{{asset('bundles/frontend/js/institution.js')}}"></script>
<script type="text/javascript">
<!--
(function($){
    $(function(){

        $('#modal_multiple_institution_inquiry_form').institutionInquiryModalForm({
            submitButton: $('#modal_institution_inquiry_submitButton'),
            form: $('form#{{ formId }}') 
        });
        
        $('a.call[rel="tooltip"]').tooltip({
            title: function(){
                return '<h5><small>Landline: </small>'+$(this).attr('data-contact-number')+'</h5>';
            },
            html: true,
            delay: 0,
            trigger: 'click',
            animation: false,
            placement: 'top'
        }).click(function(){
            return false;
        });
		
        $('#clinicTab a').click(function (e) {
      	  e.preventDefault();
      	  $(this).tab('show');
      	});
    });
})(jQuery);
//-->
</script>
{% endblock %}

