{% include 'FrontendBundle:Institution/Widgets:heading.html.twig' %}

<div id="details" class="row">
	<div class="tab-content span8">
		<ul class="nav nav-tabs" id="clinicTab">
		  	<li class="active"><a href="#main_content">OVERVIEW</a></li>
		  	<li><a href="#clinics">CLINIC LIST</a></li>
		</ul> <!--Twitter bootstrap Tabs-->

        {% include 'FrontendBundle:Institution/Widgets:overview.html.twig' %}
        
        {% include 'FrontendBundle:Institution/Widgets:clinicList.html.twig' %}
	</div>

	<aside id="aside_content" class="span4">

	    {% include 'FrontendBundle:Widgets:profileLocationAside.html.twig' with {coordinates: institution.coordinates} %}

	    {% include 'FrontendBundle:Institution/Widgets:infoAside.html.twig' %}

	    {# include 'FrontendBundle:Institution/Widgets:branchesAside.html.twig' #}

	    {% include 'FrontendBundle:Widgets:profileMediaAside.html.twig' with { media: institution.gallery ? institution.gallery.media : [] } %}

	    {% include 'FrontendBundle:Widgets:profileSocialAside.html.twig' with { urls: json_decode(institution.websites) } %}

	</aside> <!--End of aside_content-->
</div>

<!--Twitter bootstrap Tab JS -->
<script type="text/javascript">
	$('#clinicTab a').click(function (e) {
	  e.preventDefault();
	  $(this).tab('show');
	})
</script>