{% extends 'FrontendBundle::layout.html.twig' %}

{% block content %}

    <div id="content" class="container content">

        {% if isSingleCenterInstitution %}

            {% include 'FrontendBundle:Institution:singleCenterProfile.html.twig' 
                with { institutionMedicalCenter: institution.institutionMedicalCenters.first } 
            %}

        {% else %}

            {% include 'FrontendBundle:Institution:multipleCenterProfile.html.twig' %}        
            
        {% endif %}

    </div> <!--End of content-->

    {{ addInlineJavascript(getTemplateContents('FrontendBundle:Default:indexInline.js.twig')) }}     

{% endblock %}
