<div>
    <h4>Our Facilitites</h4>
    <div class="imgsc_left" style="text-align:left;"><a target="_blank" class="image_sc lightbox_img" href="/images/frontend/demo/facility01.png" title="" rel="group"><img class="light" style="opacity: 1;" src="/images/frontend/demo/facility01.png" alt=""></a></div>                            
    <div class="imgsc_left" style="text-align:left;"><a target="_blank" class="image_sc lightbox_img" href="/images/frontend/demo/facility01.png" title="" rel="group"><img class="light" style="opacity: 1;" src="/images/frontend/demo/facility02.png" alt=""></a></div>
    <div class="imgsc_left" style="text-align:left;"><a target="_blank" class="image_sc lightbox_img" href="/images/frontend/demo/facility01.png" title="" rel="group"><img class="light" style="opacity: 1;" src="/images/frontend/demo/facility03.png" alt=""></a></div>
    <div class="imgsc_left" style="text-align:left;"><a target="_blank" class="image_sc lightbox_img" href="/images/frontend/demo/facility01.png" title="" rel="group"><img class="light" style="opacity: 1;" src="/images/frontend/demo/facility04.png" alt=""></a></div>
    <div class="imgsc_left" style="text-align:left;"><a target="_blank" class="image_sc lightbox_img" href="/images/frontend/demo/facility01.png" title="" rel="group"><img class="light" style="" src="/images/frontend/demo/facility05.png" alt=""></a></div>
    <div class="imgsc_left" style="text-align:left;"><a target="_blank" class="image_sc lightbox_img" href="/images/frontend/demo/facility01.png" title="" rel="group"><img class="light" style="opacity: 1;" src="/images/frontend/demo/facility06.png" alt=""></a></div>
    <div class="imgsc_left" style="text-align:left;"><a target="_blank" class="image_sc lightbox_img" href="/images/frontend/demo/facility01.png" title="" rel="group"><img class="light" style="opacity: 1;" src="/images/frontend/demo/facility07.png" alt=""></a></div>
    <div class="imgsc_left" style="text-align:left;"><a target="_blank" class="image_sc lightbox_img" href="/images/frontend/demo/facility01.png" title="" rel="group"><img class="light" style="opacity: 1;" src="/images/frontend/demo/facility08.png" alt=""></a></div>
</div>
