{% set email = institution.contactEmail %}
{% set number = institution.contactNumber  %}
{% set number = json_decode(number) | join %}
{% set websites = institution.websites %}
{% set websites = json_decode(websites) %}
{% set mainWebsites = (websites.main is defined) and websites.main ? websites.main : false %}

    <div class="profile-wrapper span8">
		<div class="clinic-header-wrapper">
            {% include 'FrontendBundle:Institution/Widgets:headingSingleCenter.html.twig' %}
            <p>{{ institution.description | raw }}</p>
		</div>

        {% include 'FrontendBundle:InstitutionMedicalCenter/Widgets:specializations.html.twig' 
            with { specializations: institutionMedicalCenter ? institutionMedicalCenter.institutionSpecializations : [] } %}

    	{% include 'FrontendBundle:Widgets:profileAwardsAndServicesSection.html.twig' 
    	    with { awards: institutionAwards, services: institutionServices} %}


        {% if institutionDoctors|length %}
            {% embed 'FrontendBundle:Embed:profileSection.html.twig' 
                with {title: 'DOCTORS', class: 'doctors' } %}
                {% block sectionContent %}
                    {% include 'FrontendBundle:Widgets:profileDoctorsList.html.twig' with { doctors: institutionDoctors } %}
                {% endblock %}
            {% endembed %}
        {% endif %}

	</div>

	<aside class="aside-wrapper span4">

	    {% include 'FrontendBundle:Widgets:profileLocationAside.html.twig' %}

	    {% include 'FrontendBundle:InstitutionMedicalCenter/Widgets:scheduleAside.html.twig' 
	        with { businessHours: institutionMedicalCenter ? institutionMedicalCenter.businessHours : '' } %}

	    {% include 'FrontendBundle:Widgets:profileMediaAside.html.twig' with { media: institution.gallery ? institution.gallery.media : [], logo: institution.logo } %}

	    {% include 'FrontendBundle:Widgets:profileSocialAside.html.twig' with { urls: websites } %}

	</aside> <!--End of aside_content-->

