<!--<ul id="right_nav">
    <li>
        <h3>
            <i class="icon-list">
            </i>
            Table of Contents
        </h3>
    </li>
    <li>
        <a href="#home_superslide" class="west" title="Home">Title</a>
    </li>
    <li>
        <a href="#services" class="west" title="Services">Introduction</a>
    </li>
    <li>
        <a href="#about" class="west" title="About">Homepage</a>
    </li>
    <li>
        <a href="#team" class="west" title="Team">Results Page</a>
    </li>
    <li>
        <a href="#news" class="west" title="News">Clinic Page</a>
    </li>
    <li>
        <a href="#media" class="west" title="Media">Hospital Page</a>
    </li>
    <li>
        <a href="#pricing" class="west" title="pricing">Who is HealthCareAbroad?</a>
    </li>
</ul>-->