<!-- Rightside bullet navigation start -->
<ul id="right_nav">
    <li>
        <h3>
            <i class="icon-list"> </i>
            Table of Contents
        </h3>
    </li>
    <li>
        <a href="#home_superslide" class="west" title="Home">Title</a>
    </li>
    <li>
        <a href="#services" class="west" title="Services">Introduction</a>
    </li>
    <li>
        <a href="#about" class="west" title="About">Homepage</a>
    </li>
    <li>
        <a href="#team" class="west" title="Team">Results Page</a>
    </li>
    <li>
        <a href="#news" class="west" title="News">Clinic Page</a>
    </li>
    <li>
        <a href="#media" class="west" title="Media">Hospital Page</a>
    </li>
    <li>
        <a href="#pricing" class="west" title="pricing">Who is HealthCareAbroad?</a>
    </li>
</ul>
<!-- // Rightside bullet navigation -->
<!-- Wrapper starts -->
<div id="wrapper">
    <!-- Home starts -->
    <div id="home_superslide" style="background-position: 50% 0px;">
        <!-- Container starts -->
        <div class="container">
            <img src="{{ asset('images/frontend/campaign/healthcareabroad-logo-big.png') }}" alt="client_1" />
            <h1>
                the resource for global <span> healthcare </span> <br> a comprehensive, <span> unbiased </span>  directory
            </h1>
        </div>
        <!-- // Container -->
        <div class="clr"> </div>
    </div>
    <!-- Home end -->
    <!-- Menu starts -->
    <div id="menu" class="row-fluid">
        <!-- Content wrapper starts -->
        <div class="container">
            <!-- Logo starts -->
            <div class="span3 pull-left">
                <a href="#home_superslide"><img src="{{ asset('images/frontend/campaign/healthcareabroad-logo.png') }}" alt="client_1" /></a>
            </div>
            <div class="span9 pull-right">
                <div class="menu_nav">
                    <div id="nav_wrap">
                        <ul class="arrowunderline" id="nav">
                            <li class="services">
                                <a href="#services">Introduction</a>
                            </li>
                            <li class="aboutus">
                                <a href="#about">Homepage</a>
                            </li>
                            <li class="team">
                                <a href="#team">Results Page</a>
                            </li>
                            <li>
                                <a href="#news">Clinic Page</a>
                            </li>
                            <li class="media">
                                <a href="#media">Hospital Page</a>
                            </li>
                            <li class="pricing">
                                <a href="#pricing">Who is HealthCareAbroad?</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Content wrapper -->
    </div>
</div>