{% extends '::base.html.twig' %}
{% block body %}
    
            Your account is successfully verified!
            Start creating your account.
        
    <section id="wrapper">
            <a href="{{ path('InstitutionBundle_create_institution') }}">Proceed..</a></li>
    </section>
{% endblock %}
