<style type="text/css">
	label {width:100px;display:inline-block; margin-bottom: 5px;}
</style>

<div class="create-listing-form" style="margin: 20px;">

<h3>Create Listing</h3>

<form action="{{ path('ListingBundle_add') }}" method="post" {{ form_enctype(form) }}>
	{% block field_row %}
	    <div class="form_row">
	        {{ form_errors(form) }}
	        {{ form_widget(form) }}
	    </div>
	{% endblock field_row %}
    <input type="submit" />
</form>

</div>