
{% extends '::base.html.twig' %}

{% block body %}
	<div id="content-wrapper">

		<h3>Listings</h3>
		{{ app.session.flash('notice') }}
		
		<div id="listings-wrapper" style="border: 1px solid #ddd; width: 50%">
		{% for listing in listings %}
			<div class="listings" style="border-bottom: 1px solid #efefef; margin: 10px;">
				{{ listing.title }}
				<a href="{{ path('listing_edit', {id:listing.id}) }}">edit</a>
			</div>
		{% endfor %}
		</div>

	</div>
	
{% endblock %}