	<div class="newsletter">
	     subscribe to our rss feeds<br />
	     <img alt="rss" src="{{ asset('images/frontend/rss.png') }}" class="rs_icon" style="width:28px; height:28px;">
	
	      <form action="#">
			<input type="text" onblur="if(this.value=='')this.value='Your Email';" onfocus="if(this.value=='Your Email')this.value='';" value="Your Email" name="email" class="nsf">
			<input type="hidden" value="en_US" name="loc">
			<input type="submit" value="Subscribe" class="nsb">
		 </form>
	
	</div> <!--End newsletter--> 
	
	 <div class="social_mob">
        
            <!--<div class="fb"></div>
            <div class="linkedin"></div>
            <div class="youtube"></div>
            <div class="twitter"></div>
            <div class="google"></div>
            <div class="rss"></div>-->
       
        <ul class="social2">
                <li class="fb2"><a href="#">facebook</a></li>
                <li class="linkedin2"><a href="#">linkedin</a></li>
                <li class="twitter2"><a href="#">twitter</a></li>
                <li class="youtube2"><a href="#">youtube</a></li>
                <li class="google2"><a href="#">google</a></li>
                <li class="rss2"><a href="#">rss</a></li>
        </ul>   
        
    </div>