{% extends 'UserBundle::layout.html.twig' %}
{% block body %}
 <header>
        <h1>Welcome to HealthCare Abroad</h1>
</header>
{% if app.session.hasFlash('blogger-notice') %}
        <div class="blogger-notice">
            {{ app.session.flash('blogger-notice') }}
        </div>
    {% endif %}

  Hello
{% endblock %}