{% extends 'InstitutionBundle::layout.html.twig' %}
{% set disableMainNavigation = true %}
{% block content %}

    {% embed 'InstitutionBundle:Embed:contentWrapper.authenticated.html.twig' 
        with {'contentSpanClass' : 'span12' } %}
        {% block wrappedContent %}
            
            <div class="aside">
                <h4>Welcome, {{ app.user.username }}</h4>
                <p>
                    You're 1 step away to appear in our medical listing. Please tell us more about your Medical Institution.
                </p>
            </div>
            
            <h2>Create New Medical Listing</h2>
            <br />
            
            <form id="formwizard" class="span12">
                <fieldset title="1">
                    <legend>Clinic Details</legend>
                    <div class="span9 marginleft0" style="min-height:500px">
                        <div>
                            <label for="clinic_name">Clinic Name</label> 
                            <input name="clinic_name" type="text" id="clinic_name" value="" class="span7" required>
                        </div>
                        <div>
                            <label for="Clinic_Description">Short Description about the Clinic</label>
                            <textarea name="Clinic_Description" class="span8" rows="5" cols="60" required></textarea>
                            <small class="pull-left" style="line-height:0px">Having difficulties in writing your Clinic Description. <a href="#">CLICK HERE</a> for some sample to look at.</small>
                        </div>
                        <div class="clearfix"></div></br>
                        <div>
                            <label for="username">Email</label>
                            <input name="email" type="email" id="email" value="" class="span6" required>
                        </div>
                        <div>
                            <label for="institution_website">Institution Phone Number</label>
                            <div class="phonenumber" required="">
                                <span class="span1 marginleft0">
                                    <small>Country Code</small> 
                                    <input name="institution_countrycode" type="text" id="institution_countrycode" value="+63" class="institution_website span1">
                                </span> 
                                <span class="span1">
                                    <small>Area Code</small> 
                                    <input name="institution_areacode" type="text" id="institution_areacode" value="" class="institution_website span1">
                                </span> 
                                <span class="span2">
                                    <small>Phone Number</small>
                                    <input name="institution_phonenumber" type="text" id="institution_phonenumber" value="" class="institution_website span2">
                                </span> 
                            </div>
                        </div>
                        <div class="clearfix"><br></div>
                        <div>
                            <label for="facebook_account">FACEBOOK Account</label> 
                            <input name="facebook" type="text" id="facebook_account" value="" class="span4">
                        </div>
                        <div>
                            <label for="twitter_account">Twitter Account</label> <input name="twitter" type="text" id="twitter_account" value="" class="span4">
                        </div>
                        <div class="clearfix"></div>
                        <div>
                            <label for="Country">Country</label>   
                            <input name="twitter" type="text" id="twitter_account" value="Philippines" class="span4">
                        </div>
                        <div>
                            <label for="State">State / Province</label> 
                            <input name="twitter" type="text" id="twitter_account" value="Cebu" class="span4">
                        </div>
                        <div>
                            <div class="addresscity">
                                <span class="span3 marginleft0">
                                    <label>City</label> 
                                    <input name="institution_cityaddress" type="text" id="institution_cityaddress" value="Cebu" class="institution_cityaddress span3">
                                </span> 
                                <span class="span3">
                                    <label>Zip/Mail Code</label> 
                                    <input name="institution_mailcode" type="text" id="institution_mailcode" value="6000" class="institution_mailcode span3">
                                </span>
                            </div>
                            <div class="clearfix"></div>
                            <div class="addressdetails">
                                <span class="span3 marginleft0">
                                    <label>Unit or Room #</label> 
                                    <input name="institution_roomnumber" type="text" id="institution_roomnumber" value="" class="institution_roomnumber span3">
                                </span> 
                                <span class="span3">
                                    <label>Building</label> 
                                    <input name="institution_building" type="text" id="institution_building" value="" class="institution_building span3">
                                </span>
                            </div>
                            <div class="clearfix"></div> 
                            <div class="Streetdetails">
                                <span class="span6 marginleft0">
                                    <label>Street</label> 
                                    <input name="institution_streetaddress" type="text" id="institution_streetaddress" value="" class="institution_streetaddress span6">
                                </span>
                            </div>
                            <div class="clearfix"></div>
                            <div>
                                <label for="Timezone">Timezone</label> <select name="Timezone" class="span4">
                                    <option value="">
                                        Select your Timezone
                                    </option>
                                </select>
                            </div>
                            <br>
                            <div>
                                <label for="Timezone">Clinic Hours</label>
                                {# include 'InstitutionBundle:Widgets:businessHours.html.twig' #}
                            </div>
                            <div class="clearfix"><br></div>
                        </div>
                    </div>
                    
                </fieldset>
            </form>
            
        
        {% endblock %}
        
        {% block sidebar %}
            <div class="span3">
                {% include 'InstitutionBundle:Widgets:sidebar.benefitsShowcase.html.twig' %}
            </div>
        {% endblock %}
        
    {% endembed %}

{% endblock %}