<div class="span8 tab-content">
   <div class="tabbable">
        <div class="tab-content" id="tabbed_content">
            <div id="profile_tab" class="tab-pane active">
              {% include 'InstitutionBundle:Institution/Widgets:profile.details.html.twig' %}
           </div>
        </div><!-- /.tab-content -->
    </div>
</div>
{% block inlineJavascriptCode %}
    <script type="text/javascript" src="{{ asset('bundles/institution/js/properties.js') }}" ></script>
{% endblock %}