{% extends 'InstitutionBundle::layout.html.twig' %}
{% set mainNavigation = {selected: 'profile'} %}
{% block content %}
    {% embed 'InstitutionBundle:Embed:contentWrapper.authenticated.html.twig' %}
        {% block wrappedContent %}
           <section id="content">
            	<div class="container">
            		<div class="row">
            			<div class="span9">
            				 {% include 'InstitutionBundle:Widgets:medicalCenter.profileHeader.html.twig' %}
                            
                            <div class="tabbable">
                                {% include '::stepHolderClient.base.admin.html.twig' with {
                                    steps: [
                                        {title: 'Specializations', 'selected': false, path: 'institution_account_profile'},
                                        {title: 'Services', 'selected': true, path: 'institution_account_profile_service'},
                                        {title: 'Awards','selected': false, path: 'institution_account_profile_awards'},
                                        {title: 'Medical Specialist', 'selected': false, path: 'institution_account_profile_specialist'},
                                    ] }
                                %}
                               <div id="pane2" class="tab-pane">
									<table class="table table-striped table-bordered bootstrap-datatable">
										<thead>
											<tr>
												<th>Services</th>
												<th>Actions</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													<strong>Service name 1</strong>
												</td>
												<td>
													<i class="icon-trash" title="Delete"></i>
													<a href="#deleteservices" title="" role="button" data-toggle="modal">Delete</a>
												</td>
											</tr>
										</tbody>
									</table>
									<div class="pull-right">
										<a href="#addservices" title="" role="button" data-toggle="modal" class="btn btn-success btn-medium">Add Another Service</a>
									</div>
								</div>
                            </div>
                        </div>
                        <div class="span3">
						    <div class="sidebar">
                                    {% include 'InstitutionBundle:Widgets:sidebar.benefitsShowcase.html.twig' %}
                                 {% include 'InstitutionBundle:Widgets:sidebar.mediaGallery.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}
    {% endembed %}

{% endblock %}
