<div class=" span8 tab-content">
   <div class="tabbable">
        <div class="tab-content" id="tabbed_content">
            <div class="progress progress-striped active" style="display:none;">
                    <div class="bar" style="width: 40%;"></div>
            </div>
            <div id="profile_tab" class="tab-pane active">
              {% include 'InstitutionBundle:Institution/Widgets:profileTabForm.html.twig' %}
           </div>   
            <div id="medical_centers" class="tab-pane"><img id="loader_ajax" src="{{ asset('images/institution/loading.gif') }}" /></div>
        </div><!-- /.tab-content -->
    </div>
</div>
{% block inlineJavascriptCode %}
<script type="text/javascript" src="{{ asset('bundles/institution/js/institutionProfile.js') }}" ></script>
<script type="text/javascript" src="{{ asset('bundles/institution/js/common.js') }}" ></script>
<script type="text/javascript" src="{{ asset('bundles/institution/js/properties.js') }}" ></script>
<script type="text/javascript">
    $(window).load(function() {
        $('#confirm-message').modal('show');
    });
    (function($){
        $(function(){

            $('#institutionDescriptionText').truncateByHeight({'visibleRows': 5});
            
        });
    })(jQuery);
</script>
{% endblock %}
