{% extends 'InstitutionBundle::layout.html.twig' %}
{% set mainNavigation = {selected: 'dashboard'} %}
{% block content %}
    {% embed 'InstitutionBundle:Embed:contentWrapper.authenticated.html.twig' %}
        {% block wrappedContent %}
			<div class="maincontent">
			
				<div class="span9">
					<h1>
						<span>Getting Started with HEALTH CARE ABROAD</span>
					</h1>
					
					{% include 'InstitutionBundle:Widgets:dashboard.completedSteps.html.twig' with {
					dashboardCompletedSteps: [
					    {label: 'Add Your Contact Information', description: 'Please provide the correct phone numbers and email addresses to make sure you don\'t miss any inquiries.', image: asset('images/institution/phone_ph.png'), done: true },
					    {label: 'Add Your Location', description: 'A complete address helps us push you to the right searches, and helps patients plan their travel better.', image: asset('images/institution/location_ph.png'), done: true },
					    {label: 'Add Your Logo', description: 'This helps with branding and enhances your listing. Users are more likely to click on a complete profile.', image: asset('images/institution/logo_ph.png') },
					    {href: path('institution_account_profile') ,label: 'Manage Institution Awards and Certifications', description: 'List your credentials here to show you are a reputable institution.', image: asset('images/institution/awards_ph.png') },
					    {href: path('institution_account_profile'), label: 'Manage your Clinic Profile', description: 'Highlight your clinic or hospitals best points and why patients should choose you.', image: asset('images/institution/institution_ph.png') },
					    {href: path('institution_medicalCenter_add'),label: 'Add Clinic', description: 'Give patients more information about the highlights and services of each of your departments.', image: asset('images/institution/clinic_ph.png') }
					]} %}
					
				</div>
				<!--End of span9-->
			    
			    {% include 'InstitutionBundle:Widgets:dashboard.sidebarLabel.html.twig' %}
				<!--End of span3-->
			</div>
			<!--End of addnewclinic-->
        {% endblock %}
        
    {% endembed %}
{% endblock %}


