{% extends 'InstitutionBundle::layout.html.twig' %}
{% set mainNavigation = {selected: 'dashboard'} %}
{% block content %}

    {% embed 'InstitutionBundle:Embed:contentWrapper.authenticated.html.twig' %}
        {% block wrappedContent %}
			<div class="row">
			{% include '::notice.admin.html.twig' %}
                <div class="span8">
                    <section class="section account-info">
                    <h2> Latest Activity </h2>
                        <div class="row-fluid">
                            <div class="span12 activity-feeds">
                				{% include 'InstitutionBundle:Widgets:dashboard.completedSteps.html.twig' with {
                				dashboardCompletedSteps: [
                				    {label: 'Your', description: 'has been updated.', image: asset('images/institution/default_clinic.png'), link: 'Profile', time: '10' },
                				    {label: '', description: 'has been approved.', image: asset('images/institution/default_clinic.png'), link: 'Listing#1', time: '10'},
                				    {label: 'You received', description: 'from someone@gmail.com.', image: asset('images/institution/default_clinic.png'), link: 'Listing#2', time: '10' },
                				    {label: 'You received', description: 'from someone@gmail.com.', image: asset('images/institution/default_clinic.png'), link: 'inquiry#1', time: '10'  },
                				    {label: 'New account created. See', description: 'for instructions on how to complete your profile.', image: asset('images/institution/default_clinic.png'), link: 'Notifications', time: '10'  }
                				]} %}
                		        </div>
                		    </div>
                	</section>
                </div>
				<!--End of span9-->
			    
			    {% include 'InstitutionBundle:Widgets:dashboard.sidebarLabel.html.twig' %}
				<!--End of span3-->
			</div>
			<!--End of addnewclinic-->
        
        {% endblock %}
        
    {% endembed %}

{% endblock %}