{% extends 'InstitutionBundle::layout.html.twig' %}
{% set mainNavigation = {selected: 'dashboard'} %}
{% block content %}
    {% embed 'InstitutionBundle:Embed:contentWrapper.authenticated.html.twig' %}
        {% block wrappedContent %}
{% include 'InstitutionBundle:Widgets:institution_banner.html.twig' %}
<div class="span12">
    <section class="alert alert-info">
        <h2>Welcome to HealthcareAbroad.com!</h2>
        <div class="hca-sub-label">
            Now that patients can find your Medical Institution on HealthcareAbroad, make sure that they find complete and relevant information about everything that you have to offer. <br><br>However it seems there are couple of things need to be done. Just a few more things in order to make your Medical Institution Profile more comprehensive and recognizable to your prospective patients. To finish up, just complete the items listed below:
        </div>
    </section>
    <section class="section row-fluid">
        <h2> Suggestion for your Hospital </h2>
        {% set _suggestions = render_institution_suggestions(institution) %}
        <ul class="thumbnails hca-alert-inquiry">
            {% if _suggestions is not null %}
                {% for suggestion in _suggestions %}
                    <li class="thumbnail hca-alert-inquiry">
                        <span class="span1 hca-icon pull-left"><i class="icon-warning-sign icon-2x hca-yellow">
                        </i></span>
                        <span>
                            {{ suggestion.description }}
                        </span>
                    </li>
                {% endfor %}
                <a class="btn btn-link" href="">Click Here to update</a>
            {% endif %}  
        </ul>
       
    </section>
    <section class="section row-fluid">
        <h2>
            List of Incomplete Clinic Profile
        </h2>
         <ul class="thumbnails hca-alert-inquiry">
             {% set _centers = render_incomplete_clinic_profile(institution) %}
             {% if _centers is not null %}
                {% for center in _centers %}
                    <li class="thumbnail hca-alert-inquiry">
                        <span class="hca-icon pull-left"><i class="icon-picture icon-4x hca-earth">
                        </i></span>
                        <span class="details-inline">
                            <b>{{ center.name }}</b>
                            This clinic doesn't have a 
                            {{ center.fields | join(',') }}.
                        </span>
                        <a class="btn btn-link pull-right" href="#">Click Here to update</a>
                    </li>
                {% endfor %}
            {% endif %} 
        </ul>
        
    </section>
    <section class="section row-fluid">
        <h2>
            Latest Inquiries
        </h2>
        <table class="table table-hover hca-inquiry">
            <tr>
                <td>
                    <i class="icon-envelope icon-2x hca-earth">
                    </i>
                </td>
                <td>
                    John Doe
                </td>
                <td>
                    Your Hospital Profile is almost complete
                </td>
                <td>
                    10/11/2013
                </td>
            </tr>
            <tr>
                <td>
                    <i class="icon-envelope icon-2x hca-earth">
                    </i>
                </td>
                <td>
                    John Doe
                </td>
                <td>
                    Your Hospital Profile is almost complete
                </td>
                <td>
                    10/11/2013
                </td>
            </tr>
            <tr>
                <td>
                    <i class="icon-envelope icon-2x hca-earth">
                    </i>
                </td>
                <td>
                    John Doe
                </td>
                <td>
                    Your Hospital Profile is almost complete
                </td>
                <td>
                    10/11/2013
                </td>
            </tr>
        </table>
    </section>
</div>
                    
        {% endblock %}
        
    {% endembed %}
{% endblock %}

