{% extends 'InstitutionBundle::layout.html.twig' %}
{% set mainNavigation = {selected: 'dashboard'} %}
{% block content %}
    {% embed 'InstitutionBundle:Embed:contentWrapper.authenticated.html.twig' %}
        {% block wrappedContent %}
{% include 'InstitutionBundle:Widgets:institution_banner.html.twig' %}
<div class="span12">
    <section class="alert alert-info">
        <h2>Welcome to HealthcareAbroad.com!</h2>
        <div class="hca-sub-label">
            Now that patients can find your Medical Institution on HealthcareAbroad, make sure that they find complete and relevant information about everything that you have to offer. <br><br>However it seems there are couple of things need to be done. Just a few more things in order to make your Medical Institution Profile more comprehensive and recognizable to your prospective patients. To finish up, just complete the items listed below:
        </div>
    </section>
    <section class="section row-fluid">
        <h2> Suggestion for your Hospital </h2>
       <ul class="thumbnails hca-alert-inquiry">
            <li class="thumbnail hca-alert-inquiry">
                <span class="span1 hca-icon pull-left"><i class="icon-warning-sign icon-2x hca-yellow">
                </i></span>
                <span>
                    You currently have no logo for your Hospital yet. <a class="btn btn-link" href="#">Click Here</a> to upload logo.
                </span>
            </li>
            <li class="thumbnail hca-alert-inquiry">
                <span class="span1 hca-icon pull-left"><i class="icon-warning-sign icon-2x hca-yellow">
                </i></span>
                <span>
                    You currently have no logo for your Hospital yet. <a class="btn btn-link" href="#">Click Here</a> to upload logo.
                </span>
            </li>
            <li class="thumbnail hca-alert-inquiry">
                <span class="span1 hca-icon pull-left"><i class="icon-warning-sign icon-2x hca-yellow">
                </i></span>
                <span>
                    You currently have no logo for your Hospital yet. <a class="btn btn-link" href="#">Click Here</a> to upload logo.
                </span>
            </li>
        </ul>
       
    </section>
    <section class="section row-fluid">
        <h2>
            List of Incomplete Clinic Profile
        </h2>
         <ul class="thumbnails hca-alert-inquiry">
                <li class="thumbnail hca-alert-inquiry">
                    <span class="hca-icon pull-left"><i class="icon-picture icon-4x hca-earth">
                    </i></span>
                    <span>
                        <b>Clinic's Name</b>
                        This clinic doesn't have a logo yet you can <a class="btn btn-link" href="#">Click Here</a> to upload logo.
                    </span>
                </li>

                <li class="thumbnail hca-alert-inquiry">
                    <span class="hca-icon pull-left"><i class="icon-picture icon-4x hca-earth">
                    </i></span>
                    <span>
                        <b>Clinic's Name</b>
                        This clinic doesn't have a logo yet you can <a class="btn btn-link" href="#">Click Here</a> to upload logo.
                    </span>
                </li>

                <li class="thumbnail hca-alert-inquiry">
                    <span class="hca-icon pull-left"><i class="icon-picture icon-4x hca-earth">
                    </i></span>
                    <span>
                        <b>Clinic's Name</b>
                        This clinic doesn't have a logo yet you can <a class="btn btn-link" href="#">Click Here</a> to upload logo.
                    </span>
                </li>
            </ul>
        
    </section>
    <section class="section row-fluid">
        <h2>
            Latest Inquiries
        </h2>
        <table class="table table-hover hca-inquiry">
            <tr>
                <td>
                    <i class="icon-envelope icon-2x hca-earth">
                    </i>
                </td>
                <td>
                    John Doe
                </td>
                <td>
                    Your Hospital Profile is almost complete
                </td>
                <td>
                    10/11/2013
                </td>
            </tr>
            <tr>
                <td>
                    <i class="icon-envelope icon-2x hca-earth">
                    </i>
                </td>
                <td>
                    John Doe
                </td>
                <td>
                    Your Hospital Profile is almost complete
                </td>
                <td>
                    10/11/2013
                </td>
            </tr>
            <tr>
                <td>
                    <i class="icon-envelope icon-2x hca-earth">
                    </i>
                </td>
                <td>
                    John Doe
                </td>
                <td>
                    Your Hospital Profile is almost complete
                </td>
                <td>
                    10/11/2013
                </td>
            </tr>
        </table>
    </section>
</div>
                    
        {% endblock %}
        
    {% endembed %}
{% endblock %}

