{% extends 'InstitutionBundle::layout.html.twig' %}
{% set selectedTab = 'dashboard'%}
{% block content %}
     {% include 'InstitutionBundle:Widgets:stepsContainer.html.twig' %}
<div class="container">
	<div class="maincontent">
	 	<div class="span3">
			{% include 'InstitutionBundle:Widgets:sidebar.latestMessages.html.twig' %}
			{% include 'InstitutionBundle:Widgets:sidebar.latestHcaCommunity.html.twig' %}
			{% include 'InstitutionBundle:Widgets:sidebar.ads.html.twig' %}
		</div>
		<div class="span9 title">
		 	{% include 'InstitutionBundle:Main:content.html.twig' %}
		 </div>
	</div>
</div>

{% endblock %}