{% extends 'InstitutionBundle::layout.html.twig' %}
{% set selectedTab = 'dashboard'%}
{% block content %}
     
<div id="content">
	<div class="container">
		<div class="row">
			<div class="maincontent">
                   {% include 'InstitutionBundle:Widgets:dashboard.statistics.html.twig' %}
                   {% include 'InstitutionBundle:Widgets:dashboard.recentComments.html.twig' %}
                <!-- dashboard sidebar -->
                    {% include 'InstitutionBundle:Widgets:dashboard.sidebarLabel.html.twig' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}