{% extends 'InstitutionBundle::layout.html.twig' %}

{% block content %}

	<div class="container">
	<div class="span3">
		<div class="sidebar-nav">
		
			<ul class="nav nav-tabs nav-stacked">
		    	<li class="nav-header" style="padding: 8px 0;">Latest System Messages</li>        
		    	<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum, est at congue gravida...</a></li>
				<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum, est at congue gravida...</a></li>
				<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum, est at congue gravida...</a></li>
			    
		    </ul> 

	 	</div>
	 </div>
		 {% include 'InstitutionBundle:Main:content.html.twig' %}
	

</div>

{% endblock %}