{% extends 'InstitutionBundle::layout.html.twig' %}
{% set selectedTab = 'dashboard'%}
{% block content %}
     
<div class="span12 marginleft0">
    {% include 'InstitutionBundle:Widgets:dashboard.welcome.html.twig' %}
    
    <div class="span9 marginleft0">
       {% include 'InstitutionBundle:Widgets:dashboard.statistics.html.twig' %}
       {% include 'InstitutionBundle:Widgets:dashboard.recentComments.html.twig' %}
    </div>
    <!-- dashboard sidebar -->
    <div class="span3">
        {% include 'InstitutionBundle:Widgets:dashboard.sidebarLabel.html.twig' %}
    </div>
</div>

{% endblock %}