<div class="sidebar-nav">
			    
		<ul class="nav nav-tabs nav-stacked"> 
			<li class="nav-header">Main</li>        
			<li><a href="index.html"><i class="icon-home"></i> Dashboard</a></li>
			<li><a href="specializationlisting.html"><i class="icon-star"></i> Institution Profile</a></li>
			<li><a href="specializationlisting.html"><i class="icon-star"></i> Medical Center</a></li>
			<li><a href="specialist.html"><i class="icon-user"></i>Doctors Listing</a></li>
			<li><a href="staff.html"><i class="icon-user"></i>Staff Listing</a></li>
			<li><a href="calendar.html"><i class="icon-certificate"></i>Affiliations / Certifications</a></li>
			<li><a href="gallery.html"><i class="icon-picture"></i>Media Gallery</a></li>
			<li><a href="calendar.html"><i class="icon-thumbs-up"></i> Buy Ads</a></li>
			<li><a href="help.html"><i class="icon-info-sign"></i>Help</a></li>
			<li><a href="login.html"><i class="icon-off"></i> Logout</a></li>
		</ul>
			  
</div>
				