<!-- start nav-right -->
<div id="nav-right">
    <div class="nav-divider">&nbsp;</div>
    <div class="showhide-account">
        <img src="{{ asset('images/admin/shared/nav/nav_myaccount.gif') }}" width="93" height="14" alt="" />
    </div>
    <div class="nav-divider">&nbsp;</div>
    <a href="{{ path('institution_logout') }}" id="logout"><img src="{{ asset('images/admin/shared/nav/nav_logout.gif') }}" width="64" height="14" alt="" /></a>
    <div class="clear">&nbsp;</div>
    
    <!--  start account-content --> 
    <div class="account-content">
    <div class="account-drop-inner">
        <a href="" id="acc-settings">Edit account</a>
        <div class="clear">&nbsp;</div>
        <div class="acc-line">&nbsp;</div>
        <a href="" id="acc-details">View details</a>
        <div class="clear">&nbsp;</div>
        <div class="acc-line">&nbsp;</div>
        <a href="" id="acc-settings">Change password</a> 
    </div>
    </div>
    <!--  end account-content -->
</div>
<!-- end nav-right -->


<script type="text/javascript">
$(function(){
    $('.showhide-account').click(function(){
         $(".account-content").slideToggle("fast");
         $(this).toggleClass("active");
         return false;
    });

    $(document).bind("click", function (e) {
        if (e.target.id != $(".showhide-account").attr("class")) $(".account-content").slideUp();
    });  
});
</script>