
<div class="pull-right">
    <form class="navbar-search pull-left">
      <input type="text" class="search-query" placeholder="Search">
    </form>
    <div class="pull-left">
      <div class="dropdown"> <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html"> Help <b class="caret"></b> </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><a href="feedback.html">Feedback</a></li>
          <li><a href="faq.html">FAQ</a></li>
        </ul>
      </div>
    
    </div>
    <span class="pull-left">
    <p style="margin-left:10px;">you are logged in as</p>
    </span>
    <div class="pull-right">
      <div class="dropdown"> <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html"> {{ userName }} <b class="caret"></b> </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><a href="{{ path('institution_editAccount')}}">Manage Account Profile</a></li>
          <li><a href="">Invite User</a></li>
          <li><a href="{{ path('institution_logout')}}">Logout</a></li>
        </ul>
      </div>
    
    </div>
</div>
