	<div class="btn-group pull-right" style="width: 360px; margin-top: 7px;">
		<span style="float: left;">you are logged in as <a href="#">marcjacob@gmail.com</a> &nbsp;|&nbsp; </span>
		<a href="#"><span style="margin-left: 10px;"><img src="{{ asset('images/institution/logout.jpg') }}"></span></a>            
	</div>