{% set decodedBusinessHours = json_decode_business_hours(institutionMedicalCenter) %}
{# ---  i don't like this table markup --- #}

{% for _day, _data in decodedBusinessHours %}
    {% set _isWholeDayOpen = _data.isOpen is defined and _data.isOpen %}
    {% set _isClosed = _data.from is not defined and _data.to is not defined and not _isWholeDayOpen %}
    <tr>
        <td>{{ _day | upper }}</td>
        {% if _isClosed %}
        <td colspan="5">Closed</td>
        {% elseif _isWholeDayOpen %}
        <td colspan="5">Open 24 Hours</td>
        {% else %}
        <td colspan="2">{{ _data.from }}</td>
        <td>-</td>
        <td colspan="2">{{ _data.to }}</td>
        {% endif %}
    </tr>
{% endfor %}