<ul class="thumbnails">
{% for institutionMedicalCenter in medicalCenters %}
    {% include 'InstitutionBundle:MedicalCenter/Widgets:row.medicalCenter.html.twig' %}
{% else %}
    <li class="thumbnail">
        <p><h4>No {{ navStatus | capitalize }} listing </h4></p>
    </li>
{% endfor %}
</ul>