<ul class="nav nav-tabs hca-tab">
    <li>
        <a data-toggle="tab" href="#all">ALL CLINICS</a>
    </li>
    <li class="active">
        <a data-toggle="tab" href="#current">Current Listings</a>
    </li>
    <li class="">
        <a data-toggle="tab" href="#draft">Draft<span class="badge badge-default"> 1</span></a>
    </li>
    <li class="">
        <a data-toggle="tab" href="#expired">Expired<span class="badge badge-important"> 1</span></a>
    </li>
    <li class="">
        <a data-toggle="tab" href="#tab5">Archived</a>
    </li>
</ul>