{% set contentSpanClass = contentSpanClass is defined ? contentSpanClass : 'span12 marginleft0' %}
<div id="content_wrap">
    <div class="container content">
        <div class="row">
            {% block wrappedContent %}{% endblock %}
            {% block sidebar %}{% endblock %}
        </div>
    </div>
</div><!--End of container-->
        