{% set contentSpanClass = contentSpanClass is defined ? contentSpanClass : 'span12 marginleft0' %}
{% set asideContent = asideContent is defined ? asideContent : {title: 'Welcome!', 'content': 'Please tell us more about your clinic.'}%}

<div id="content" class="container">
    <div class="row">
        {% block wrappedContent %}{% endblock %}
    </div>
</div>        
