{% set contentSpanClass = contentSpanClass is defined ? contentSpanClass : 'span12 marginleft0' %}
<div id="content_wrap">
    <div class="container content">
        <div class="row">
            <div class="{{ contentSpanClass }}">
                
                {% block wrappedContent %}{% endblock %}
                
                {% block sidebar %}{% endblock %}
            </div>
        </div>
    </div>
</div><!--End of container-->
        