{% set contentSpanClass = contentSpanClass is defined ? contentSpanClass : 'span12 marginleft0' %}

{% block aside %}
    {% if app.session.hasFlash('callout_message') %}
        {{ app.session.flash('callout_message') | raw }}
    {% endif %}
{% endblock %}

<section id="content">
    <div class="container">
        <div class="row">
            
            {% block wrappedContent %}{% endblock %}
            {% block sidebar %}{% endblock %}
            
        </div>
    </div>
</section>        