{% set contentSpanClass = contentSpanClass is defined ? contentSpanClass : 'span12 marginleft0' %}
<div id="content" class="container">
    <div class="row">
    {% if isNoBreadCrumbs is not defined %}
        <ul class="breadcrumb">
            <li>
                <a href="{{ path('institution_homepage')}}"><i class="icon-home"></i></a>
                <span class="divider">
                    /
                </span>
            </li>
            <li class="active">
                Manage Hospital
            </li>
        </ul>
    {% endif %}
            <!-- callout -->
    {% set callout = app.session.flashbag.get('callout_message') %}
    {% if callout[0] is defined %}
        {% include 'InstitutionBundle:Widgets:callout.html.twig' with {callout: callout} %}
    {% endif %}

        {% block wrappedContent %}{% endblock %}
        {% block sidebar %}{% endblock %}
    </div>        
</div>