{% set contentSpanClass = contentSpanClass is defined ? contentSpanClass : 'span12 marginleft0' %}


<!-- callout -->
{% set callout = app.session.flashbag.get('callout_message') %}
{% if callout[0] is defined %}
    {% include 'InstitutionBundle:Widgets:callout.html.twig' with {callout: callout} %}
{% endif %}

<div id="content">
    <div class="container">
        <div class="row">
            
            {% block wrappedContent %}{% endblock %}
            {% block sidebar %}{% endblock %}
            
        </div>
    </div>
</div>        