<div id="{{ modal.id }}" class="modal hide fade {{ modal.class is defined ? modal.class : '' }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header"> 
        <h3 id="myModalLabel">{{ modal.title }}</h3> 
    </div>

    <div class=" modal-body clearfix" style="overflow:visible;{{ modal.customBodyStyle is defined ? modal.customBodyStyle : '' }}">{% block modalBody %}{% endblock %}</div> 

    {% if block('modalFooter') %}
        <div class="modal-footer">{% block modalFooter %}{% endblock %}</div>
    {% endif %}
</div>