{##
Note: This widget is shared in other bundles e.g. AdminBundle
##}

<div class="institutionbox">
    <div class="container">
        <div class="institutionbox-inner">
            <div class="navbar-inner">
                <div class="span6">
                    <div class="span3">
                        <a href="#"><img class="member-box-avatar" src="{{ asset('images/institution/institution-logo.gif') }}"></a>
                    </div>
                    
                    <div class="span9">
                        <h3>{{ institution.name }}</h3>
                        <a href="#"><h5>Manage Your Accreditations, Affiliations and Awards</h5></a>
                    </div>
                </div>
                
                <div class="span6">
                    <a href="#"><h5>Manage Your Institution Profile</h5></a>
                    <p>+6332-2555555 (contact number)</p>
                    <p>Osmeña Boulevard Cebu City, Philippines 6000 (address)</p>
                    <p>www.site.com (address)</p>
                </div>
            </div>
        </div>
    </div>
</div>

