{% extends 'InstitutionBundle::layout.html.twig' %}
{% set selectedTab = 'staff'%}

{% block content %}
<!-- start content -->
<div id="content">
    <!--  start page-heading -->
    <div id="page-heading">
        <h1>Admin user permissions</h1>
    </div>

    <!-- end page-heading -->
    
    {% embed '::contentWrapper.admin.html.twig' %}
        
        {% block wrappedContent %}
        
            <table style="width:100%;">
                <tr>
                    <td style="vertical-align: top; ">
                        <!--  start table-content  -->
                        <div id="table-content">
                        
                            {% if app.session.hasFlash('notice') %}
                                {% include '::notice.admin.html.twig' with {'class': 'notice', 'message':  app.session.flash('notice') } %}
                            {% endif %}
                        
                            <table style="width:100%;" class="generic-table" id="table-list">
                                <tr>
                                    <th class="minwidth-1"> <a href="#">Permission</a></th>
                                    <th class="minwidth-1"> <a href="#">Linked user types</a></th>
                                </tr>
                                
                                {% for userRole in userRoles %}
                                    <tr class="{{ cycle(['alternate-row', ''], loop.index) }}">
                                        <td>{{ userRole.description | title }}</td>
                                        <td>
                                            <ul style="list-style:none; padding: 0 15px;">
                                                {% for userType in userRole.institutionUserType %}
                                                <li> <a href="{{ path('institution_userRole_viewByUserType', {'id': userType.id}) }}">{{ userType.name | title }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                                
                            </table>
                            <!--  end table-list................................... --> 
                        </div>
                        <!--  end table-content  -->
                    </td>
                <td style="vertical-align: top; width: 20%">
                    {% block related_tasks %}
                        {% include 'InstitutionBundle:InstitutionUserRole:relatedTasks.html.twig' %}
                    {% endblock %}
                </td>
            </tr>
        </table>
        {% endblock %}
        
    {% endembed %}

</div>
<!--  end content -->
<div class="clear">&nbsp;</div>
{% endblock %}