{% spaceless %}
<tr>
    <td id="" class="data-name"></td>
    <td>
        <ul class="table-action">
            <li>
                <a class="edit" href="{{ path('admin_city_index') }}" data-cityName="" data-cityId="0"> 
                    <i class="icon-edit"></i> Edit
                </a>
            </li>
        </ul>
    </td>
</tr>
{% endspaceless %}