{% spaceless %}
<tr>
    <td class="data-name"></td>
    <td class="data-countryName"></td>
    <td>
        <ul class="table-action">
            <li>
                <a href="#"> 
                    <i class="icon-edit"></i> Edit
                </a>
            </li>
        </ul>
    </td>
</tr>
{% endspaceless %}