<aside class="span4" id="aside_content">
	<section class="box-in">
		<h5 class="heading"><small>Narrow</small> Search </h5>
		<ul class="related">
			<li class="row">
				<div class="pull-right btn-group">
					<button data-toggle="dropdown" class="btn tiny orange dropdown-toggle btn-inverse"><span class="icon-search icon-white"> </span> <span class="caret"></span></button>
					<div role="menu" class="input-append dropdown-menu">
						<input type="text" placeholder="Enter Country" class="search-field">
						<p>Search Results: <b>2</b></p>
						<ul>
							<li><a href="#">Auto complete result</a></li>
							<li><a href="#">Some Country</a></li>
						</ul>
					</div>
				</div>
				<h3>By Country</h3>									
				<ul>
				    {% for item in topCountries %}
                        <li><a href="#">{{ item.country }} <span class="right label label-inverse">{{ item.institution_count }}</span></a></li>
                    {% endfor %}
				</ul>
			</li>
			<li class="row">
				<div class="pull-right btn-group">
					<button data-toggle="dropdown" class="btn tiny orange dropdown-toggle btn-inverse"> <span class="icon-search icon-white"></span> <span class="caret"></span></button>
					<div role="menu" class="input-append dropdown-menu">
						<input type="text" placeholder="Enter City or Zip" class="search-field">
						<p>Search Results: <b>2</b></p>
						<ul>
							<li><a href="#">Some City</a></li>
							<li><a href="#">Cebu City</a></li>
						</ul>
					</div>
				</div>
				<h3>By City</h3>
				<ul>
					{% for item in topCities %}
                        <li><a href="#">{{ item.city }} <span class="right label label-inverse">{{ item.institution_count }}</span></a></li>
                    {% endfor %}
				</ul>
			</li>
			<li class="row">
				<h3>Related Treatments</h3>
				<ul>
					<li><a href="#">Face Lift <span class="right label label-inverse">535</span></a></li>
					<li><a href="#">Eye Surgery <span class="right label label-inverse">321</span></a></li>
					<li><a href="#">Lorem ipsum <span class="right label label-inverse">153</span></a></li>
				</ul>
			</li>
		</ul>
	</section>
	<section class="box-in">
		<h5 class="heading">ADS <br><small> or </small> <br> NEWS </h5>
		<ul class="ads">
			<li>When I grow up, I want to be an <b>ADVERTISEMENT</b>.</li>
			<li>When I grow up, I want to be a <b>NEWS</b>.</li>
		</ul>
	</section>
</aside>