{# This layout is used by pages viewed under a specific institution  #}

{% set selectedTab = 'institutions' %}
{% extends '::base.admin.html.twig' %}

{% block title %}{{ parent() }} &raquo; Admin Panel{% endblock %}

{% block body %}

<body>

    <!-- Top Navigation -->
    <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a href="{{ path('admin_homepage') }}" class="brand" style="padding-top:0;padding-bottom:0;"><img longdesc="#" alt="Health Care Abroad Logo" src="/images/institution/HCA-logo-small.png"></a>
              <div class="nav-collapse collapse">
                  {% include 'AdminBundle:Default:mainNavigation.html.twig' %}

                <!-- Search Section -->
                {#% render 'SearchBundle:Default:showWidget' with {'context': 'admin'} %#}


                {% include 'AdminBundle:Default:rightNavigation.html.twig' %}

              </div><!--/.nav-collapse -->
            </div>
          </div>
    </div>
    <!-- End of Top Navigation -->

    <div id="main-content">
        <div class="row-fluid">
            {% include 'InstitutionBundle:Widgets:profileHeader.html.twig' %}
    	</div>

    	<div class="container maincontent" style="margin-top:20px;">
    	    {% include '::notice.admin.html.twig' %}

    	    <div class="span3">
    	        {% include 'AdminBundle:Institution:sidebar.html.twig' %}
    	    </div>
		    

	        {% block content %}{% endblock %}
    		<!-- End of main_content-->
    	</div>
    </div>

    {% include '::footer.admin.html.twig' %}

    <div id="dialog-container"></div>

    {% block javascripts %}
        <script src="{{ asset('bundles/helper/js/Location.js') }}"></script>
        <script type="text/javascript">
        Location.loadCitiesUrl = '{{ path("helper_loadCities") }}';
        </script>
    {% endblock %}
    
    {% block inlineJavascriptCode %}{% endblock %}
</body>

{% endblock %}

