{# This layout is used by pages viewed under a specific institution  #}

{% set selectedTab = 'institutions' %}
{% extends '::base.admin.html.twig' %}

{% block title %}{{ parent() }} &raquo; Admin Panel{% endblock %}

{% block body %}

<body>

    {% include 'AdminBundle:Embed:header.layout.html.twig' %}

    <div id="main-content">
        <div class="row-fluid">
            {% include 'InstitutionBundle:Widgets:profileHeader.html.twig' %}
    	</div>

    	<div class="container maincontent" style="margin-top:20px;">
    	    {% include '::notice.admin.html.twig' %}
    	    
    	    <div class="span3">
    	        {% include 'AdminBundle:Institution:sidebar.html.twig' %}
    	    </div>
		    

	        {% block content %}{% endblock %}
    		<!-- End of main_content-->
    	</div>
    </div>

    {% include '::footer.admin.html.twig' %}

    <div id="dialog-container"></div>

    {% block javascripts %}
        <script src="{{ asset('bundles/helper/js/Location.js') }}"></script>
        <script type="text/javascript">
        Location.loadCitiesUrl = '{{ path("helper_loadCities") }}';
        </script>
    {% endblock %}
    
    {% block inlineJavascriptCode %}{% endblock %}
</body>

{% endblock %}

