{% extends '::base.admin.html.twig' %}

{% block title %}{{ parent() }} &raquo; Admin Panel{% endblock %}

{% block body %}

<body>

    {% block javascripts %}
        <script src="{{ asset('bundles/helper/js/Location.js') }}"></script>
    {% endblock %}

    <!-- Top Navigation -->
    <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">

              <a href="{{ path('admin_homepage') }}" class="brand" style="padding-top:0;padding-bottom:0;">
                  <img longdesc="#" alt="Health Care Abroad Logo" src="/images/institution/HCA-logo-small.png">
            </a>
                  
              <div class="nav-collapse collapse">
                  {% include 'AdminBundle:Default:mainNavigation.html.twig' %}

                <!-- Search Section -->
                {#% render 'SearchBundle:Default:showWidget' with {'context': 'admin'} %#}
	{% block searchBox %}
	            {% render "SearchBundle:Default:showWidget" with { 'context' : 'admin' } %}
	        {% endblock %}
                {% include 'AdminBundle:Default:rightNavigation.html.twig' %}

              </div><!--/.nav-collapse -->
            </div>
          </div>
    </div>
    <!-- End of Top Navigation -->

        
    <div id="main-content"  class="container maincontent">

            {% if breadcrumbs is defined %}
                {% autoescape false %}{{ breadcrumbs }}{% endautoescape %}
            {% endif %}

            {% include '::notice.admin.html.twig' %}
            
            {% block content %}{% endblock %}

    </div>

    {% include '::footer.admin.html.twig' %}

    <div id="dialog-container"></div>

    {% block inlineJavascriptCode %}{% endblock %}
</body>

{% endblock %}

