<!--  start nav -->
<div class="nav">
    <div class="table">
    
        <ul class="current">
            <li>
                <a href="#nogo"><b>Dashboard</b><!--[if IE 7]><!--></a><!--<![endif]-->
            </li>
        </ul>
    
        <div class="nav-divider">&nbsp;</div>
                        
        <ul class="select">
            <li>
                <a href="#nogo"><b>Medical Procedures</b><!--[if IE 7]><!--></a><!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <div class="select_sub">
                	<ul class="sub">
                		<li><a href="#nogo">View all</a></li>
                		<li><a href="#nogo">Add new procedure</a></li>
                	</ul>
                </div>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
        </ul>
        
        <div class="nav-divider">&nbsp;</div>
                        
        <ul class="select">
            <li>
                <a href="#nogo"><b>Staff</b><!--[if IE 7]><!--></a><!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <div class="select_sub">
                	<ul class="sub">
                		<li><a href="#nogo">View all staff</a></li>
                		<li><a href="#nogo">Invite staff</a></li>
                	</ul>
                </div>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
        </ul>
        
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<!--  end nav -->