{% extends 'FrontendBundle::layout.html.twig' %}

{% block content %}
    <div class="search-results-wrapper span8">
        {% include 'SearchBundle:Frontend/Widgets:resultsHeader.html.twig' with {type: 'combination'} %}

        {{ render_search_results_featured_clinic_ad(featuredClinicParams) | raw }}

        {% for searchResult in searchResults %}
            {% set center = searchResult.institutionMedicalCenter is defined ? searchResult.institutionMedicalCenter : searchResult %}

            {% include 'SearchBundle:Frontend/Widgets:base.resultItem.html.twig' with {
                'statisticsDataObject': searchResult.institutionMedicalCenter,
                'searchResultItem' : get_search_result_item(center),
                'resultItemSchemaType' : 'http://schema.org/MedicalClinic'
            } %}

        {% endfor %}

        {% if searchResults.isPaginable %}
            {{ paginate(searchResults, app.request.uri, {hasNoRouteName: 1}, 'PagerBundle:Pager:paginate_frontend_search.html.twig') }}
        {% endif %}
    </div> <!--End of main_content-->

    <aside class="aside-wrapper span4">
        <!-- Specialization/Treatment Descriptions Section -->
        {% include 'SearchBundle:Frontend/Widgets:sidebar.treatmentDescriptions.html.twig' %}

        <!-- Cached View Data -->
        {{ render_search_results_featured_posts() | raw }}

        <!-- Cached View Data -->
        {{ render_search_results_image_ad() | raw }}
    </aside>
{% endblock %}

{% block inlineJavascriptCode %}
<script type="text/javascript">
    $(window).ready(function() {$(".link-tooltip").tooltip()});
</script>
{% endblock%}