{% extends 'FrontendBundle::layout.html.twig' %}

{% block callout %}
    {% include 'SearchBundle:Frontend/Widgets:base.resultsCallout.html.twig' %}
{% endblock %}

{% block content %}
    <div class="search-results-wrapper span8">
        <h2 class="heading"><strong>{{ searchResults.getTotalResults }}</strong> {{ searchResults.getTotalResults > 1 ? 'Results' : 'Result' }} Found</h2>

        {{ render_search_results_featured_institution_ad(featuredClinicParams) }}

        {% for searchResultVo in searchResults %}
            {% set institution = searchResultVo.institution is defined ? searchResultVo.institution : searchResultVo %}

            {% include 'SearchBundle:Frontend/Widgets:base.resultItem.html.twig' with {
                   'statisticsDataObject': searchResultVo.institution,
                   'searchResultItem' : {
                       url: get_institution_frontend_url(institution),
                       logo: render_institution_logo(institution, {attr: {alt: institution.name, class: 'small'}}),
                       name: institution.name,
                       description: institution.description | striptags,
                       mainAddress: institution_address_to_array(institution, ['city', 'state', 'country']) | join(', '),
                       streetAddress: institution_address_to_array(institution, ['address1', 'zipCode']) | join(', ')
                   }
                }
            %}
        {% endfor %}

        {% if searchResults.isPaginable %}
            {{ paginate(searchResults, routeName, paginationParameters, 'PagerBundle:Pager:paginate_frontend_search.html.twig') }}
        {% endif %}

    </div> <!--End of main_content-->

    <aside class="aside-wrapper span4">
        {% include 'SearchBundle:Frontend/Widgets:narrowsearch.html.twig' %}
    </aside>
    
    {#% include 'SearchBundle:Frontend/Widgets:sidebar.resultsSingleSearch.html.twig' with { context: 'destinations', id: destinationId} %#}

{% endblock %}

