{% extends 'FrontendBundle::layout.html.twig' %}

{% block callout %}
    {% include 'SearchBundle:Frontend/Widgets:base.resultsCallout.html.twig' %}
{% endblock %}

{% block content %}
<div id="details" class="row">
    <div id="main_content" class="span8">
        <header class="filters">
            <h2 class="total"><strong>{{ searchResults.getTotalResults }}</strong> Results Found</h2>
        </header>
        {% for searchResultVo in searchResults %}
            {# BC for old search results whose result item is a medical center #}
            {% set center = searchResultVo.institutionMedicalCenter is defined ? searchResultVo.institutionMedicalCenter : searchResultVo %}
            {# do this to save query #}

            {% include 'SearchBundle:Frontend/Widgets:base.resultItem.html.twig' with {
                   'searchResultItem' : {
                          url: get_institution_medical_center_frontend_url(center),
                          logo: center.logo ? media(center.logo, center.institution, 'default', {'class': 'search-entry-thumb'}) : null,
                          name: center.name,
                          mainAddress: medical_center_complete_address_to_array(center, ['city', 'state', 'country']) | join(', '),
                          streetAddress: medical_center_complete_address_to_array(center, ['address', 'zipCode']) | join(', ')
                   }
               }
           %}
        {% endfor %}

        {% if searchResults.isPaginable %}
           {{ paginate(searchResults, routeName, paginationParameters, 'PagerBundle:Pager:paginate_frontend_search.html.twig') }}
        {% endif %}

    </div> <!--End of main_content-->

    {% include 'SearchBundle:Frontend/Widgets:sidebar.newSearch.html.twig' with { context: 'treatments' } %}

</div>
{% endblock %}