{% extends 'FrontendBundle::layout.html.twig' %}

{% block callout %}
    {% include 'SearchBundle:Frontend/Widgets:base.resultsCallout.html.twig' %}
{% endblock %}

{% block content %}
    <div id="details" class="row">
        <div id="main_content" class="span8">
            <header class="filters">
                <div class="pull-left">
                    <h2 class="total">{{ searchResults.getTotalResults }} <small>Results Found</small></h2>
                </div>
            </header>

            {% for searchResultVo in searchResults %}
                {% set institution = searchResultVo.institution is defined ? searchResultVo.institution : searchResultVo %}
                
                {% include 'SearchBundle:Frontend/Widgets:base.resultItem.html.twig' with {
                       'searchResultItem' : {
                           url: get_institution_frontend_url(institution),
                           logo: institution.logo ? media(institution.logo, institution, 'default', {'class': 'search-entry-thumb'}) : null,
                           name: institution.name,
                           mainAddress: institution_address_to_array(institution, ['city', 'state', 'country']) | join(', '),
                           streetAddress: institution_address_to_array(institution, ['address1', 'zipCode']) | join(', ')
                       }
                    }
                %}
            {% endfor %}

            {% if searchResults.isPaginable %}
                {{ paginate(searchResults, routeName, paginationParameters, 'PagerBundle:Pager:paginate_frontend_search.html.twig') }}
            {% endif %}

        </div> <!--End of main_content-->

        {% include 'SearchBundle:Frontend/Widgets:sidebar.resultsSingleSearch.html.twig' with { context: 'destinations', id: destinationId} %}
    </div>

{% endblock %}