{% extends 'FrontendBundle::layout.html.twig' %}

{% block callout %}
    {% embed 'FrontendBundle:Embed:callout.base.html.twig' %}
        {% block calloutContent %}
            <div class="span9">
                <div class="media">
                    <div class="media-body">
                        <h1 class="search-info"> Search Results for <small>{{ searchLabel }}</small></h1>
                    </div>
                </div>
            </div>
            <div class="span3">
                <a href="#" class="all-clinic btn green">Back to Search</a>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
<div id="details" class="row">
    <div id="main_content" class="span8">
        <header class="filters">
            <div class="pull-left">
                <h2 class="total">{{ searchResults.getTotalResults }} <small>Results Found</small></h2>
            </div>
        </header>
        {% for center in searchResults %}
            {% include 'SearchBundle:Frontend/Widgets:base.resultItem.html.twig' with {
                   'searchResultItem' : {
                       url: get_institution_medical_center_frontend_url(center),
                       logo: center.logo ? media(center.logo, institution, 'frontendSearchResultLogo') | raw  : null,
                       name: center.name,
                       mainAddress: medical_center_complete_address_to_array(center, ['city', 'state', 'country']) | join(', '),
                       streetAddress: medical_center_complete_address_to_array(center, ['address', 'zipCode']) | join(', ')
                   } 
                } 
            %}
        {% endfor %}

        {% if searchResults.isPaginable %}
           {{ paginate(searchResults, routeName, paginationParameters, 'PagerBundle:Pager:paginate_frontend_search.html.twig') }}
        {% endif %}

    </div> <!--End of main_content-->
    
    {% include 'FrontendBundle:Widgets/Search:sidebar.resultsSingleSearch.html.twig' %}
</div>
{% endblock %}