<div class="box-in">
    <h5 class="heading"><small>Narrow</small> Search </h5>
    <ul class="related">
        <li class="row">
            <h3>By Specialization</h3>
                <ul>
                    <li><a href="#">Philippines <span class="right label label-inverse">1337</span></a></li>
                    <li><a href="#">Singapore <span class="right label label-inverse">243</span></a></li>
                    <li><a href="#">Japan <span class="right label label-inverse">612</span></a></li>
                    <li><a href="#">Indonesia <span class="right label label-inverse">121</span></a></li>
                    <li><a href="#">Malaysia <span class="right label label-inverse">412</span></a></li>
                </ul>
        </li>
        <li class="row">
            <h3>By Treatment</h3>
                <ul>
                    <li><a href="#">Mandaue <span class="right label label-inverse">213</span></a></li>
                    <li><a href="#">Cebu <span class="right label label-inverse">111</span></a></li>
                    <li><a href="#">Queezon <span class="right label label-inverse">252</span></a></li>
                    <li><a href="#">Manila <span class="right label label-inverse">91</span></a></li>
                    <li><a href="#">Makati <span class="right label label-inverse">74</span></a></li>
                </ul>
        </li>
        <li class="row">
            <h3>Related Treatments</h1>
            <ul>
                <li><a href="#">Face Lift <span class="right label label-inverse">535</span></a></li>
                <li><a href="#">Eye Surgery <span class="right label label-inverse">321</span></a></li>
                <li><a href="#">Lorem ipsum <span class="right label label-inverse">153</span></a></li>
            </ul>
        </li>
    </ul>
</div>
<div class="box-in">
    <h5 class="heading">ADS <br><small> or </small> <br> NEWS </h5>
    <ul class="ads">
        <li>When I grow up, I want to be an <b>ADVERTISEMENT</b>.</li>
        <li>When I grow up, I want to be an <b>NEWS</b>.</li>
    </ul>
</div>