<ul>
    <li><a href="/test/plaintext.html">Plaintext</a></li>
    <li><a href="/test/institution.html">Institution markup</a></li>
    <li><a href="/test/database.php">Page with 50 Database Queries</a></li>
    <li><a href="/test/multiple-ajax.php">Multiple ajax</a></li>
    <li><a href="{{ path('helper_baseline') }}">Baseline</a></li>
    <li><a href="{{ path('helper_baseline_with_resources') }}">Baseline with resources</a></li>
    <li><a href="{{ path('helper_frontend_base') }}">Frontend base</a></li>
    <li><a href="{{ path('helper_ajax_test') }}">Symfony with multiple ajax requests</a></li>
</ul>
<br/><br/>