<div class="span9">
	
    <div style="padding: 20px;">
			
	    <h3 style="padding-bottom:20px ;">Welcome to Health Care Abroad!</h3>
		<p>Content here... example Benefits they could get from HCA.</p>
		
    </div>

</div>