<div class="container">
	<div class="member-box round-all" style="height:90px ;"> 
	<div class="span">
		<div class="span2"><img class="member-box-avatar" src="http://images.goabroad.net/images/default_images/profile_photo.gif" style="width:100px;"></div>
	  
				<div class="span4"><h2>{{ institution.name }}</h2>
					
				<h3>joined {{ institution.dateCreated|date("F j, Y")}}</h3>
				</div>
	
	</div>
	<div class="span">

		<h6>Manage Your Institution Profile</h6><p style="margin-bottom: 0;"><a href="#">[add your contact details here]</a></p> 
		<p><a href="{{ path('institution_edit_information') }}">[add your locations here]</a></p>
 		<h3><a href="{{ path('institution_medicalCenterGroup_addDetails') }}">ADD YOUR MEDICAL CENTER here!</a></h3>

	</div>

	 <div class="clear"></div>
	
	 </div> 
</div>