<div class="container" style="margin-top:10px; margin-bottom: 10px;">

	 <div class="box" id="box-1">

		 <h4 class="box-header round-top">Thank you for registering on Health Care Abroad.com. If you are still new to things, we've provided a few walkthroughs to get you started.
		 <a href="javascript:toggleDiv('myContent');"><span style="margin-left: 10px;"><img src="{{ asset('images/institution/arrow.png') }}"></span></a></h4>         
	 </div>
	
	<div id="myContent">
	
		<div class="box-container-toggle">
		   
		 	<div class="box-content" style="height:200px ;">
		 
			 	<ul class="nav nav-tabs nav-stacked2">
			    	
			     	<li><a href="#"><h1>1</h1><h4>Manage your Institution Profile</h4><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum, est at congue gravida...</p></a></li>
			     	<li><a href="#"><h1>2</h1><h4>Add your Medical Center</h4><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum, est at congue gravida...</p></a></li>
			 		<li><a href="#"><h1>3</h1><h4>Add your world Class Specialist (Doctors)</h4><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum, est at congue gravida...</p></a></li>
		    	    <li><a href="#"><h1>4</h1><h4>Uploads Photos, Videos etc. (Media Files)</h4><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum, est at congue gravida...</p></a></li>
			    	<li><a href="#"><h1>5</h1><h4>Add your Affiliations, Certifications and Awards</h4><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum, est at congue gravida...</p></a></li>
			    	    	      	    
		    	</ul> 
		
		    </div>
		    <div class="clear"></div>
		</div>
	</div>
</div>

<script type="text/javascript">

	function toggleDiv(divId) {
	   $("#"+divId).toggle();
	}
</script>