HealthCareAbroad\UserBundle\Entity\InstitutionUserType:
    type: entity
    table: institution_user_types
    repositoryClass: HealthCareAbroad\UserBundle\Repository\InstitutionUserTypeRepository
    fields:
        id:
            id: true
            type: integer
            unsigned: false
            nullable: false
            generator:
                strategy: IDENTITY
        name:
            type: string
            length: 250
            fixed: false
            nullable: false
        status:
            type: smallint
            nullable: false
    manyToMany:
        institutionUserRoles:
            targetEntity: HealthCareAbroad\UserBundle\Entity\InstitutionUserRole
            cascade: {  }
            mappedBy: null
            inversedBy: institutionUserTypes
            joinTable:
                name: institution_user_type_roles
                joinColumns:
                    -
                        name: institution_user_type_id
                        referencedColumnName: id
                inverseJoinColumns:
                    -
                        name: institution_user_role_id
                        referencedColumnName: id
            orderBy: null
    manyToOne:
        institution:
            targetEntity: HealthCareAbroad\InstitutionBundle\Entity\Institution
            cascade: {  }
            mappedBy: null
            inversedBy: null
            joinColumns:
                institution_id:
                    referencedColumnName: id
            orphanRemoval: false
    lifecycleCallbacks: {  }
