<aside class="span4">
    <section class="aside-box default why-register">
        <h2>
            Get Started
        </h2>
        <div class="features">
            <div class="media">
                <span class="numbercircle pull-left active">
                    1
                </span>
                <div class="media-body">
                    <span class="main-step active">
                        Create new Account
                    </span>
                </div>
            </div>
            <div class="media">
                <span class="numbercircle pull-left">
                    2
                </span>
                <div class="media-body">
                    <span class="main-step">
                        Set-up Profile for your Hospital / Clinic
                    </span>
                </div>
            </div>
        </div>
    </section>
</aside>