<div style="position:relative; margin-bottom: 5px">
    <a class="fancybox" rel="gallery" {% if options.fancybox.useIFrame %}data-fancybox-type="iframe"{% endif %} href="{{ src }}" title="{{ media.caption }}">
        <img src="{{ src_thumb }}" alt="Media" />
    </a>
    <div class="clear"></div>
</div>