<div>
    <a class="fancybox" rel="gallery" {% if options.fancybox.useIFrame %}data-fancybox-type="iframe"{% endif %} href="{{ src }}" title="{{ media.caption }}">
        <img src="{{ src }}" width="80px" height="80px" alt="Media" />
    </a>    
    
    <div class="clear"></div>
</div>