<div style="position:relative; margin-bottom: 5px">
	<div style="float: left; height: 32px; width: 150px; overflow: hidden">
		<a class="attached-edit-form" title="Edit Caption" href="#">{{ media.caption }}</a>
	</div>
	
	<div style="float: right">
		<a class="icon-2 attached-delete-form" title="Delete" href="#" style="margin-right: 0px;"></a>
	</div>
	
	<div style="clear: both"></div>
</div>

<div>
	<a class="fancybox" rel="gallery1" href="{{ src }}" title="{{ media.caption }}">
		<img src="{{ src }}" width="180px" height="120px" alt="Media" />
	</a>
</div>