<div class="imgsc_left" style="text-align:left;">
    <a target="_blank" class="image_sc lightbox_img" href="{{ src }}" title="{{ media.name }}" rel="group">
        <img class="light" style="opacity: 1;" src="{{ src }}" alt="{{ media.caption }}" width="114">
    </a>
</div>