{% embed 'FrontendBundle:Embed:asideBox.html.twig' with {title: 'Branches'} %}

    {% block asideContent %}
		<ul class="unstyled">
			<li class="row">
				<p class="span2">Some Awesome Branch in Cebu PH</p>
				<a class="span1" href="">more info</a>
			</li>
			<li class="row">
				<p class="span2">Some Awesome Branch in Cebu PH</p>
				<a class="span1" href="">more info</a>
			</li>
			<li class="row">
				<p class="span2">Some Awesome Branch in Cebu PH</p>
				<a class="span1" href="">more info</a>
			</li>
		</ul>
	{% endblock %}
	
{% endembed %}