<div id="clinics" class="tab-pane">
	<div id="content">
		<ul class="thumbnails">
		    {% for each in institution.institutionMedicalCenters %}
    			<li class="thumbnail">
    				<a href="#">
            			{% if each.logo %}
            			    {{ media(each.logo, institution, 'default') | raw }}
            			{% else %}
            			    <img src="" class="pull-left img-polaroid"/>
            			{% endif %}
    				</a>
    			</li>
			{% endfor %}
		</ul>
	</div>
</div>