
<div id="clinics">
    <h5 class="clinics-heading">CLINICS</h5>
	<div id="content">
		<ul class="thumbnails">
		    {% for each in institution.institutionMedicalCenters %}
    			<li class="thumbnail">
    				<a href="{{ path('frontend_institutionMedicaCenter_profile', {institutionSlug: institution.slug, imcSlug: each.slug}) }}">
    				    {% if each.logo %}
    				        {% set logo = each.logo %}
    				        {% set ownerObject = institution %}
    				    {% else %}
    				        {% if each.institutionSpecializations|length %}
        				        {% set logo = each.institutionSpecializations[0].specialization.media %}
        				        {% set ownerObject = each.institutionSpecializations[0].specialization %}
        				    {% endif %}
    				    {% endif %}
    				    
            			{% if logo is defined and logo %}
            			    {{ media(logo, ownerObject, 'default', {thumbnail: true, style: 'max-width: 165px'}) | raw }}
            			{% else %}
            			    <img src="{{ imageplaceholder.clinicLogo }}" class="clinic-logo default" alt="{{ each.name }}"/>
            			{% endif %}
            			
    				</a>
    			</li>
			{% endfor %}
		</ul>
	</div>
</div>