<div id="clinics" class="tab-pane">
	<div id="content">
		<ul class="thumbnails">
		    {% for each in institution.institutionMedicalCenters %}
    			<li class="thumbnail">
    				<a href="{{ path('page_institutionMedicaCenter_profile', {institutionSlug: institution.slug, imcSlug: each.slug}) }}">
            			{% if each.logo %}
            			    {{ media(each.logo, institution, 'default', {thumbnail: true}) | raw }}
            			{% else %}
            			    <img src="{{ imageplaceholder.clinicLogo }}" class="clinic-logo default"/>
            			    <span>default clinic logo</span>
            			{% endif %}
    				</a>
    			</li>
			{% endfor %}
		</ul>
	</div>
</div>