{# shared between institution and institution medical center profile #}

<div class="profile-widget-wrapper contact">
    <h5>Contact Information</h5>
    <div class="row-fluid">
        <div class="span5">
            <div class="media">
                <i class="icon-map-marker icon-2x pull-left orange"></i>
                <div class="media-body">
                    {{ streetAddress }}, {{ mainAddress }}
                </div>
            </div>
        </div>
        <div class="span7">
            <ul class="unstyled inline-list pull-right">
                <li>
                    <a class="btn orange" rel="popover" id="example1" href="#" data-original-title=""><i class="icon-phone"></i> Call Us</a>

                </li>
                <li>
                    <a role="button" href="#form_feedback" class="btn orange"><i class="icon-envelope-alt"></i>  Email Us</a>
                </li>
                <li>
                    <a data-toggle="modal" role="button" href="#" class="btn orange" id="visit_website"><i class="icon-globe"></i> Visit Website</a>
                </li>
            </ul>
            <ul class="unstyled inline-list pull-right">

                <li>
                    <a href="#" class="btn orange" id="hospital-contact">Visit <i class="icon-facebook"></i></a>
                </li>
                <li>
                    <a data-toggle="modal" role="button" href="#modal_multiple_institution_inquiry_form" class="btn orange" id="email_multiple">Visit <i class="icon-twitter"></i></a>
                </li>
                <li>
                    <a data-toggle="modal" role="button" href="#" class="btn orange" id="visit_website">Visit <i class="icon-google-plus"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>