<div id="main_content" class="tab-pane active">
	<div>
	    {{ institution.description | raw }}
	</div>

	{% include 'FrontendBundle:Widgets:profileAwardsAndServicesSection.html.twig' with { awards: institutionAwards, services: institution.institutionOfferedServices} %}
	
	{% include 'FrontendBundle:Widgets:profileDoctorsSection.html.twig' with {doctors: institutionDoctors} %}

</div> <!--End of main_content-->