<div id="main_content" class="tab-pane active">
	<div>
	    {{ institution.description | raw }}
	</div>

	{% include 'FrontendBundle:Widgets:profileAwardsAndServicesSection.html.twig' with { awards: institutionAwards, services: institutionServices} %}
	
	{% include 'FrontendBundle:Widgets:profileDoctorsSection.html.twig' with {doctors: institutionDoctors} %}

</div> <!--End of main_content-->

{% block inlineJavascriptCode %}
    <script src="{{ asset('bundles/frontend/js/Institution.js') }}"></script>
    <script type="text/javascript">
        $('a.email').click(function(){
        	$('div#modal_institution_inquiry_form').modal('show');
            return false;
        });
    </script>
{% endblock %}
