<div>
    {{ institution.description | raw }}
</div>

{% include 'FrontendBundle:Institution/Widgets:clinicList.html.twig' %}

{% include 'FrontendBundle:Widgets:profileAwardsAndServicesSection.html.twig' with { awards: institutionAwards, services: institutionServices} %}




