<div class="span3">
    <div class="sidebar-nav">
        <ul class="nav nav-tabs nav-stacked">
            {% for link in links %}
            <li class="{{ app.request.requestUri == link.url ? 'active' : '' }}">
                <a href="{{ link.url }}"><i class="{{ link.icon }}"></i>{{ link.label }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>